<screens>
  <screen id="1" version="1" screen_code="CMAPBLTY">
    <tab id="2" name="Risk details" url="CMAPBLTY_Risk_details.aspx">
      <screen id="2_1" version="1" screen_code="MPREM" screen_type="0">
        <tab id="2_1_1" name="Multiple Premises Details" url="MPREM/MPREM_Multiple_Premises_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="GTENDPREM" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="GTENDPREM/GTENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="MPNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="MPNOTES/MPNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="MPSNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="MPSNOTES/MPSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="DWENDPREM" screen_type="0">
        <tab id="2_5_1" name="Endorsement Premium" url="DWENDPREM/DWENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_6" version="1" screen_code="DWNOTES" screen_type="0">
        <tab id="2_6_1" name="Note Details" url="DWNOTES/DWNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_7" version="1" screen_code="DWSNOTES" screen_type="0">
        <tab id="2_7_1" name="Note Details" url="DWSNOTES/DWSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_8" version="1" screen_code="PRENDPREM" screen_type="0">
        <tab id="2_8_1" name="Endorsement Premium" url="PRENDPREM/PRENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_9" version="1" screen_code="PNOTES" screen_type="0">
        <tab id="2_9_1" name="Note Details" url="PNOTES/PNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_10" version="1" screen_code="PSNOTES" screen_type="0">
        <tab id="2_10_1" name="Note Details" url="PSNOTES/PSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>