<screens>
  <screen id="1" version="1" screen_code="BMAPC">
    <tab id="2" name="Pleasure Hull" url="BMAPC_Pleasure_Hull.aspx">
      <screen id="2_1" version="1" screen_code="PCENDPREM" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="PCENDPREM/PCENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="PCNOTES" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="PCNOTES/PCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="PCSNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="PCSNOTES/PCSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>