<screens>
  <screen id="1" version="1" screen_code="SIBCLM">
    <tab id="2" name="Claim details" url="SIBCLM_Claim_details.aspx">
      <screen id="2_1" version="1" screen_code="TAMTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="TAMTRAIL/TAMTRAIL_Audit_Trail.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="TAMCLMEND" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="TAMCLMEND/TAMCLMEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="TAMNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="TAMNOTES/TAMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="TAMSNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="TAMSNOTES/TAMSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Third Party" url="SIBCLM_Third_Party.aspx">
      <screen id="3_1" version="1" screen_code="TAMTHPRTY" screen_type="0">
        <tab id="3_1_1" name="Third Party Recoveries" url="TAMTHPRTY/TAMTHPRTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="TAMWTN" screen_type="0">
        <tab id="3_2_1" name="Witness" url="TAMWTN/TAMWTN_Witness.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="TAMATT" screen_type="0">
        <tab id="3_3_1" name="Attorney" url="TAMATT/TAMATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Notes" url="SIBCLM_Notes.aspx">
      <screen id="4_1" version="1" screen_code="IPCCNOTE" screen_type="0">
        <tab id="4_1_1" name="Claims Internal Notes" url="IPCCNOTE/IPCCNOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="IPCSCNOTE" screen_type="0">
        <tab id="4_2_1" name="Claims External Notes" url="IPCSCNOTE/IPCSCNOTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Perils" url="SIBCLM_Perils.aspx" />
  </screen>
</screens>