<screens>
  <screen id="1" version="1" screen_code="CMAMFCLM">
    <tab id="2" name="Claim Information" url="CMAMFCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="CMFTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="CMFTRAIL/CMFTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Premises Insured" url="CMAMFCLM_Premises_Insured.aspx">
      <screen id="3_1" version="1" screen_code="CMFDETCLM" screen_type="0">
        <tab id="3_1_1" name="Fleet Cover Details" url="CMFDETCLM/CMFDETCLM_Fleet_Cover_Details.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="CMFVDCLM" screen_type="0">
        <tab id="3_2_1" name="Vehicle Details" url="CMFVDCLM/CMFVDCLM_Vehicle_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="CMFSSECLM" screen_type="0">
        <tab id="3_3_1" name="Sound Equipment" url="CMFSSECLM/CMFSSECLM_Sound_Equipment.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="CMFIPCLM" screen_type="0">
        <tab id="3_4_1" name="Interest Parties" url="CMFIPCLM/CMFIPCLM_Interest_Parties.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Liabilities" url="CMAMFCLM_Liabilities.aspx" />
    <tab id="5" name="Extensions" url="CMAMFCLM_Extensions.aspx" />
    <tab id="6" name="Endorsements and Notes" url="CMAMFCLM_Endorsements_and_Notes.aspx">
      <screen id="6_1" version="1" screen_code="CMAMFEPCLM" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="CMAMFEPCLM/CMAMFEPCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="MFNOTESCLM" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="MFNOTESCLM/MFNOTESCLM_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="MFSNOTESCM" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="MFSNOTESCM/MFSNOTESCM_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Third Party" url="CMAMFCLM_Third_Party.aspx">
      <screen id="7_1" version="1" screen_code="CMFTPARTY" screen_type="0">
        <tab id="7_1_1" name="Third Party Recoveries" url="CMFTPARTY/CMFTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="CMFWTN" screen_type="0">
        <tab id="7_2_1" name="Witness" url="CMFWTN/CMFWTN_Witness.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="CMFATT" screen_type="0">
        <tab id="7_3_1" name="Attorney" url="CMFATT/CMFATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Notes" url="CMAMFCLM_Notes.aspx">
      <screen id="8_1" version="1" screen_code="CMFCNCLM" screen_type="0">
        <tab id="8_1_1" name="Claims Internal Notes" url="CMFCNCLM/CMFCNCLM_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="CMFEXCLM" screen_type="0">
        <tab id="8_2_1" name="Claims External Notes" url="CMFEXCLM/CMFEXCLM_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Perils" url="CMAMFCLM_Perils.aspx" />
  </screen>
</screens>