<screens>
  <screen id="1" version="1" screen_code="SDNASRIA">
    <tab id="2" name="NASRIA Personal Lines and Stamp Duty" url="SDNASRIA_NASRIA_Personal_Lines_and_Stamp_Duty.aspx">
      <screen id="2_1" version="1" screen_code="NASRIAMD" screen_type="0">
        <tab id="2_1_1" name="Material Damage" url="NASRIAMD/NASRIAMD_Material_Damage.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="NASRIAMOT" screen_type="0">
        <tab id="2_2_1" name="Motor" url="NASRIAMOT/NASRIAMOT_Motor.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="NASRIAPL" screen_type="0">
        <tab id="2_3_1" name="Pleasure Craft" url="NASRIAPL/NASRIAPL_Pleasure_Craft.aspx" />
      </screen>
    </tab>
  </screen>
</screens>