<screens>
  <screen id="1" version="1" screen_code="FRSTCAPCLM">
    <tab id="2" name="Claim Information" url="FRSTCAPCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="FCAPTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="FCAPTRAIL/FCAPTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="FRSTCAPCLM_Underwriting_Information.aspx" />
    <tab id="4" name="Third Party" url="FRSTCAPCLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="FCAPTPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="FCAPTPARTY/FCAPTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Claims Notes" url="FRSTCAPCLM_Claims_Notes.aspx">
      <screen id="5_1" version="1" screen_code="FCANOTE" screen_type="0">
        <tab id="5_1_1" name="Claims Internal Notes" url="FCANOTE/FCANOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="FCAEXPA" screen_type="0">
        <tab id="5_2_1" name="Claims External Notes" url="FCAEXPA/FCAEXPA_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="FRSTCAPCLM_Perils.aspx" />
  </screen>
</screens>