<screens>
  <screen id="1" version="1" screen_code="PROIND">
    <tab id="2" name="Cover Details" url="PROIND_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="PIMTAREAS" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="PIMTAREAS/PIMTAREAS_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="RTPRONOTE" screen_type="0">
        <tab id="2_2_1" name="Retrocession Details" url="RTPRONOTE/RTPRONOTE_Retrocession_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risk Details" url="PROIND_Risk_Details.aspx" />
    <tab id="4" name="General Liability" url="PROIND_General_Liability.aspx" />
    <tab id="5" name="Endorsements" url="PROIND_Endorsements.aspx" />
    <tab id="6" name="Notes" url="PROIND_Notes.aspx">
      <screen id="6_1" version="1" screen_code="PRONOTES" screen_type="0">
        <tab id="6_1_1" name="Note Details" url="PRONOTES/PRONOTES_Note_Details.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="CPEXNOTES" screen_type="0">
        <tab id="6_2_1" name="Subjectivities Details" url="CPEXNOTES/CPEXNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>