<screens>
  <screen id="1" version="1" screen_code="CPLANTCLM">
    <tab id="2" name="Claim Information" url="CPLANTCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="CPLANTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="CPLANTRAIL/CPLANTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="CPLANTCLM_Underwriting_Information.aspx" />
    <tab id="4" name="Owned Plants" url="CPLANTCLM_Owned_Plants.aspx">
      <screen id="4_1" version="1" screen_code="OPDTLS" screen_type="0">
        <tab id="4_1_1" name="Own Plant Details" url="OPDTLS/OPDTLS_Own_Plant_Details.aspx">
          <screen id="4_1_1_1" version="1" screen_code="OPNOVALCLM" screen_type="0">
            <tab id="4_1_1_1_1" name="Non Value Band Deductibles" url="OPDTLS/OPNOVALCLM/OPNOVALCLM_Non_Value_Band_Deductibles.aspx" />
          </screen>
          <screen id="4_1_1_2" version="1" screen_code="OPVALCLM" screen_type="0">
            <tab id="4_1_1_2_1" name="Value Band Deductibles" url="OPDTLS/OPVALCLM/OPVALCLM_Value_Band_Deductibles.aspx" />
          </screen>
        </tab>
      </screen>
    </tab>
    <tab id="5" name="Hired in Plant" url="CPLANTCLM_Hired_in_Plant.aspx">
      <screen id="5_1" version="1" screen_code="ADDHIP" screen_type="0">
        <tab id="5_1_1" name="Additional Hired In Plant Items" url="ADDHIP/ADDHIP_Additional_Hired_In_Plant_Items.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Construction Public Liability" url="CPLANTCLM_Construction_Public_Liability.aspx">
      <screen id="6_1" version="1" screen_code="CPLDCLM" screen_type="0">
        <tab id="6_1_1" name="Additional Deductibles" url="CPLDCLM/CPLDCLM_Additional_Deductibles.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="PLEXCLM" screen_type="0">
        <tab id="6_2_1" name="Extensions" url="PLEXCLM/PLEXCLM_Extensions.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Deposit Premium" url="CPLANTCLM_Deposit_Premium.aspx" />
    <tab id="8" name="Deductibles" url="CPLANTCLM_Deductibles.aspx">
      <screen id="8_1" version="1" screen_code="NBDEDCLM" screen_type="0">
        <tab id="8_1_1" name="Non Band Deductibles" url="NBDEDCLM/NBDEDCLM_Non_Band_Deductibles.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="DEDCLM" screen_type="0">
        <tab id="8_2_1" name="Deductibles" url="DEDCLM/DEDCLM_Deductibles.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Extension Information" url="CPLANTCLM_Extension_Information.aspx">
      <screen id="9_1" version="1" screen_code="ADDEXTCLM" screen_type="0">
        <tab id="9_1_1" name="Additional Extensions" url="ADDEXTCLM/ADDEXTCLM_Additional_Extensions.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Third Party" url="CPLANTCLM_Third_Party.aspx">
      <screen id="10_1" version="1" screen_code="CPLANTPRTY" screen_type="0">
        <tab id="10_1_1" name="Third Party Recoveries" url="CPLANTPRTY/CPLANTPRTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Assessment Details" url="CPLANTCLM_Assessment_Details.aspx">
      <screen id="11_1" version="1" screen_code="CPLNASSESS" screen_type="0">
        <tab id="11_1_1" name="Details of Assessor" url="CPLNASSESS/CPLNASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="11_2" version="1" screen_code="CPLNATTORN" screen_type="0">
        <tab id="11_2_1" name="Details of Attorneys" url="CPLNATTORN/CPLNATTORN_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="11_3" version="1" screen_code="CPLNWITN" screen_type="0">
        <tab id="11_3_1" name="Details of Witnesses" url="CPLNWITN/CPLNWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="12" name="Perils" url="CPLANTCLM_Perils.aspx" />
  </screen>
</screens>