<screens>
  <screen id="1" version="1" screen_code="CMAMISC">
    <tab id="2" name="Goods In Transit" url="CMAMISC_Goods_In_Transit.aspx">
      <screen id="2_1" version="1" screen_code="CMAMISCMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMAMISCMTA/CMAMISCMTA_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="MAGITENDP" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="MAGITENDP/MAGITENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="MAGITNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="MAGITNOTES/MAGITNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="MAGITSNOTE" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="MAGITSNOTE/MAGITSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="CMAMISC_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="MISCREFER" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="MISCREFER/MISCREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>