<screens>
  <screen id="1" version="1" screen_code="MSPC">
    <tab id="2" name="Risk Coverage" url="MSPC_Risk_Coverage.aspx" />
    <tab id="3" name="Sub Section A:Imports" url="MSPC_Sub_Section_AImports.aspx">
      <screen id="3_1" version="1" screen_code="MSPCASMI" screen_type="0">
        <tab id="3_1_1" name="Subject Matter Inclusion" url="MSPCASMI/MSPCASMI_Subject_Matter_Inclusion.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="MSPCABV" screen_type="0">
        <tab id="3_2_1" name="Basis of Valuations" url="MSPCABV/MSPCABV_Basis_of_Valuations.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MSPCACVBV" screen_type="0">
        <tab id="3_3_1" name="Cross Voyages - Basis of Valuations" url="MSPCACVBV/MSPCACVBV_Cross_Voyages__Basis_of_Valuations.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="MSPCAEDP" screen_type="0">
        <tab id="3_4_1" name="Endorsement Premium" url="MSPCAEDP/MSPCAEDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="MSPCANNP" screen_type="0">
        <tab id="3_5_1" name="Note Details" url="MSPCANNP/MSPCANNP_Note_Details.aspx" />
      </screen>
      <screen id="3_6" version="1" screen_code="MSPCANP" screen_type="0">
        <tab id="3_6_1" name="Note Details" url="MSPCANP/MSPCANP_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Sub Section B:Exports" url="MSPC_Sub_Section_BExports.aspx">
      <screen id="4_1" version="1" screen_code="MSPCBSMI" screen_type="0">
        <tab id="4_1_1" name="Subject Matter Inclusion" url="MSPCBSMI/MSPCBSMI_Subject_Matter_Inclusion.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MSPCBBV" screen_type="0">
        <tab id="4_2_1" name="Basis of Valuations" url="MSPCBBV/MSPCBBV_Basis_of_Valuations.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="MSPCBEDP" screen_type="0">
        <tab id="4_3_1" name="Endorsement Premium" url="MSPCBEDP/MSPCBEDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="MSPCBNNP" screen_type="0">
        <tab id="4_4_1" name="Note Details" url="MSPCBNNP/MSPCBNNP_Note_Details.aspx" />
      </screen>
      <screen id="4_5" version="1" screen_code="MSPCBNP" screen_type="0">
        <tab id="4_5_1" name="Note Details" url="MSPCBNP/MSPCBNP_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Sub Section C:Inland Transit" url="MSPC_Sub_Section_CInland_Transit.aspx">
      <screen id="5_1" version="1" screen_code="MSPCCASMI" screen_type="0">
        <tab id="5_1_1" name="Subject Matter Inclusion" url="MSPCCASMI/MSPCCASMI_Subject_Matter_Inclusion.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="MSPCINTBV" screen_type="0">
        <tab id="5_2_1" name="Basis of Valuations" url="MSPCINTBV/MSPCINTBV_Basis_of_Valuations.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="MSPCCSBV" screen_type="0">
        <tab id="5_3_1" name="Basis of Valuations" url="MSPCCSBV/MSPCCSBV_Basis_of_Valuations.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="MSPCCEDP" screen_type="0">
        <tab id="5_4_1" name="Endorsement Premium" url="MSPCCEDP/MSPCCEDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_5" version="1" screen_code="MSPCCNNP" screen_type="0">
        <tab id="5_5_1" name="Note Details" url="MSPCCNNP/MSPCCNNP_Note_Details.aspx" />
      </screen>
      <screen id="5_6" version="1" screen_code="MSPCCNP" screen_type="0">
        <tab id="5_6_1" name="Note Details" url="MSPCCNP/MSPCCNP_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Extentions" url="MSPC_Extentions.aspx">
      <screen id="6_1" version="1" screen_code="STCKSTRGE" screen_type="0">
        <tab id="6_1_1" name="Stock Storage" url="STCKSTRGE/STCKSTRGE_Stock_Storage.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Overview" url="MSPC_Overview.aspx" />
  </screen>
</screens>