<screens>
  <screen id="1" version="1" screen_code="CFACL">
    <tab id="2" name="General Information" url="CFACL_General_Information.aspx" />
    <tab id="3" name="Combined Liability Risk Details" url="CFACL_Combined_Liability_Risk_Details.aspx">
      <screen id="3_1" version="1" screen_code="PLENDPREM" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="PLENDPREM/PLENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="APLNOTE" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="APLNOTE/APLNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="APLPSNOTE" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="APLPSNOTE/APLPSNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="APDWTPREM" screen_type="0">
        <tab id="3_4_1" name="Endorsement Premium" url="APDWTPREM/APDWTPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="APDWNOTE" screen_type="0">
        <tab id="3_5_1" name="Note Details" url="APDWNOTE/APDWNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_6" version="1" screen_code="APDWPNOTES" screen_type="0">
        <tab id="3_6_1" name="Note Details" url="APDWPNOTES/APDWPNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>