<screens>
  <screen id="1" version="1" screen_code="CONWORKSP">
    <tab id="2" name="Contract Works" url="CONWORKSP_Contract_Works.aspx">
      <screen id="2_1" version="1" screen_code="CONTESTPES" screen_type="0">
        <tab id="2_1_1" name="Testing Period" url="CONTESTPES/CONTESTPES_Testing_Period.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risks" url="CONWORKSP_Risks.aspx">
      <screen id="3_1" version="1" screen_code="SPCONTRACT" screen_type="0">
        <tab id="3_1_1" name="Contract Values" url="SPCONTRACT/SPCONTRACT_Contract_Values.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="REINSUINWS" screen_type="0">
        <tab id="3_2_1" name="Inwards Details" url="REINSUINWS/REINSUINWS_Inwards_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="OEXTLIMS" screen_type="0">
        <tab id="3_3_1" name="Other Extensions" url="OEXTLIMS/OEXTLIMS_Other_Extensions.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="COWENDOSS" screen_type="0">
        <tab id="3_4_1" name="Endorsement Premium" url="COWENDOSS/COWENDOSS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="CWONOTESS" screen_type="0">
        <tab id="3_5_1" name="Note Details" url="CWONOTESS/CWONOTESS_Note_Details.aspx" />
      </screen>
      <screen id="3_6" version="1" screen_code="CCWNOTESS" screen_type="0">
        <tab id="3_6_1" name="Notes Details" url="CCWNOTESS/CCWNOTESS_Notes_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Advanced Loss of Profits" url="CONWORKSP_Advanced_Loss_of_Profits.aspx">
      <screen id="4_1" version="1" screen_code="SPADV_LOSS" screen_type="0">
        <tab id="4_1_1" name="Advanced Loss of Profits" url="SPADV_LOSS/SPADV_LOSS_Advanced_Loss_of_Profits.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Deductibles" url="CONWORKSP_Deductibles.aspx">
      <screen id="5_1" version="1" screen_code="DEDESP" screen_type="0">
        <tab id="5_1_1" name="Value Band Deductibles" url="DEDESP/DEDESP_Value_Band_Deductibles.aspx">
          <screen id="5_1_1_1" version="1" screen_code="CADDEDSP" screen_type="0">
            <tab id="5_1_1_1_1" name="Additional Deductibles" url="DEDESP/CADDEDSP/CADDEDSP_Additional_Deductibles.aspx" />
          </screen>
        </tab>
      </screen>
    </tab>
    <tab id="6" name="Construction Public Liability" url="CONWORKSP_Construction_Public_Liability.aspx">
      <screen id="6_1" version="1" screen_code="CONADDEDS" screen_type="0">
        <tab id="6_1_1" name="Additional Deductible" url="CONADDEDS/CONADDEDS_Additional_Deductible.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="OTHREXTS" screen_type="0">
        <tab id="6_2_1" name="Other Extensions" url="OTHREXTS/OTHREXTS_Other_Extensions.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="CWISENDOSE" screen_type="0">
        <tab id="6_3_1" name="Endorsement Premium" url="CWISENDOSE/CWISENDOSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_4" version="1" screen_code="CWISSNOTES" screen_type="0">
        <tab id="6_4_1" name="Notes Detials" url="CWISSNOTES/CWISSNOTES_Notes_Detials.aspx" />
      </screen>
      <screen id="6_5" version="1" screen_code="CWISNOTES" screen_type="0">
        <tab id="6_5_1" name="Note Details" url="CWISNOTES/CWISNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Reinsurance" url="CONWORKSP_Reinsurance.aspx" />
  </screen>
</screens>