<screens>
  <screen id="1" version="1" screen_code="MOCM">
    <tab id="2" name="Cargo Master" url="MOCM_Cargo_Master.aspx">
      <screen id="2_1" version="1" screen_code="MOCMNOTES" screen_type="0">
        <tab id="2_1_1" name="Note Details" url="MOCMNOTES/MOCMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="MOCMSNOTE" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="MOCMSNOTE/MOCMSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>