<screens>
  <screen id="1" version="1" screen_code="LVPSTOCK">
    <tab id="2" name="Cover Details" url="LVPSTOCK_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="LVITEMS" screen_type="0">
        <tab id="2_1_1" name="Cover Details" url="LVITEMS/LVITEMS_Cover_Details.aspx">
          <screen id="2_1_1_1" version="1" screen_code="LVENDOS" screen_type="0">
            <tab id="2_1_1_1_1" name="Endorsement Premium" url="LVITEMS/LVENDOS/LVENDOS_Endorsement_Premium.aspx" />
          </screen>
          <screen id="2_1_1_2" version="1" screen_code="LVSANOTES" screen_type="0">
            <tab id="2_1_1_2_1" name="Note Details" url="LVITEMS/LVSANOTES/LVSANOTES_Note_Details.aspx" />
          </screen>
          <screen id="2_1_1_3" version="1" screen_code="LVETANOTES" screen_type="0">
            <tab id="2_1_1_3_1" name="Note Details" url="LVITEMS/LVETANOTES/LVETANOTES_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="2_2" version="1" screen_code="LVEANDOS" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="LVEANDOS/LVEANDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="LVSNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="LVSNOTES/LVSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="LVETNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="LVETNOTES/LVETNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>