<screens>
  <screen id="1" version="1" screen_code="CFABC">
    <tab id="2" name="Premises Insured" url="CFABC_Premises_Insured.aspx" />
    <tab id="3" name="Buildings Combined" url="CFABC_Buildings_Combined.aspx">
      <screen id="3_1" version="1" screen_code="ABCMSCCHLD" screen_type="0">
        <tab id="3_1_1" name="Miscellaneous Item" url="ABCMSCCHLD/ABCMSCCHLD_Miscellaneous_Item.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="ABCFAPCHLD" screen_type="0">
        <tab id="3_2_1" name="First Amount Payable" url="ABCFAPCHLD/ABCFAPCHLD_First_Amount_Payable.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="ABCVAPCH" screen_type="0">
        <tab id="3_3_1" name="Voluntary Excess" url="ABCVAPCH/ABCVAPCH_Voluntary_Excess.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="ABCGEYCH" screen_type="0">
        <tab id="3_4_1" name="Geyser Extension" url="ABCGEYCH/ABCGEYCH_Geyser_Extension.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="AGBCEPRM" screen_type="0">
        <tab id="3_5_1" name="Endorsement Premium" url="AGBCEPRM/AGBCEPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_6" version="1" screen_code="AGBCNOTE" screen_type="0">
        <tab id="3_6_1" name="Note Details" url="AGBCNOTE/AGBCNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_7" version="1" screen_code="AGBCSNOTE" screen_type="0">
        <tab id="3_7_1" name="Note Details" url="AGBCSNOTE/AGBCSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>