<screens>
  <screen version="1" screen_type="0" screen_code="fire" id="73">
    <tab name="1 - Premises Insured" url="FIRE_PREMISESINSURED.aspx" id="fire_premisesinsured" />
    <tab name="2 - Risk Selection" url="FIRE_RISKSELECTION.aspx" id="fire_riskselection" />
    <tab name="3 - Fire - Rates" url="FIRE_FIRERATES.aspx" id="fire_firerates" />
    <tab name="4 - Fire - Fire" url="FIRE_FIREFIREF.aspx" id="fire_firefiref">
    <screen version="1" screen_type="0" screen_code="bldgsp" id="fire__ipf">
        <tab name="Buildings specified" url="Child/BLDGSP_GENERAL.aspx" id="bldgsp_general" >
          <screen version="1" screen_code="INTPARTY" id="5_1_1_1">
           <tab name="Interested Party" id="Int_party" url="Child/Child/Interested_Party.aspx"/>
		   </screen>
	    </tab>          
	 </screen>
    </tab>
    <tab name="5 - Office Contents" url="FIRE_OFFICECONTENTS.aspx" id="fire_officecontents" />
    <tab name="6 - Overview" url="FIRE_OVERVIEW.aspx" id="fire_overview" />
  </screen>
</screens>


