<screens>
  <screen id="1" version="1" screen_code="CMADOM">
    <tab id="2" name="Cover Details" url="CMADOM_Cover_Details.aspx" />
    <tab id="3" name="Buildings" url="CMADOM_Buildings.aspx">
      <screen id="3_1" version="1" screen_code="MMBNOTES" screen_type="0">
        <tab id="3_1_1" name="Note Details" url="MMBNOTES/MMBNOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="MMBSNOTES" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="MMBSNOTES/MMBSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Contents" url="CMADOM_Contents.aspx">
      <screen id="4_1" version="1" screen_code="MMCNOTES" screen_type="0">
        <tab id="4_1_1" name="Note Details" url="MMCNOTES/MMCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MMCSNOTES" screen_type="0">
        <tab id="4_2_1" name="Subjectivities Details" url="MMCSNOTES/MMCSNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Mechanical and Electrical Breakdown" url="CMADOM_Mechanical_and_Electrical_Breakdown.aspx">
      <screen id="5_1" version="1" screen_code="MMMNOTES" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="MMMNOTES/MMMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="MMMSNOTES" screen_type="0">
        <tab id="5_2_1" name="Subjectivities Details" url="MMMSNOTES/MMMSNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>