<screens>
  <screen id="1" version="1" screen_code="CFABI">
    <tab id="2" name="Premises Insured" url="CFABI_Premises_Insured.aspx" />
    <tab id="3" name="Business Interruption" url="CFABI_Business_Interruption.aspx">
      <screen id="3_1" version="1" screen_code="CFAGSUP" screen_type="0">
        <tab id="3_1_1" name="Specified Suppliers or Sub-Contractors" url="CFAGSUP/CFAGSUP_Specified_Suppliers_or_SubContractors.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="CFAGCUS" screen_type="0">
        <tab id="3_2_1" name="Specified Customers" url="CFAGCUS/CFAGCUS_Specified_Customers.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="AGBEPREM" screen_type="0">
        <tab id="3_3_1" name="Endorsement Premium" url="AGBEPREM/AGBEPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="AGBNOTES" screen_type="0">
        <tab id="3_4_1" name="Note Details" url="AGBNOTES/AGBNOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="AGBSNOTE" screen_type="0">
        <tab id="3_5_1" name="Note Details" url="AGBSNOTE/AGBSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>