<screens>
  <screen id="1" version="1" screen_code="CPINSURE">
    <tab id="2" name="Cover Details" url="CPINSURE_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="CCAREASON" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CCAREASON/CCAREASON_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="CCANOTE" screen_type="0">
        <tab id="2_2_1" name="Retrocession Details" url="CCANOTE/CCANOTE_Retrocession_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Plant Details" url="CPINSURE_Plant_Details.aspx" />
    <tab id="4" name="Own Plant" url="CPINSURE_Own_Plant.aspx">
      <screen id="4_1" version="1" screen_code="PLANTITEM" screen_type="0">
        <tab id="4_1_1" name="Own Plant Item" url="PLANTITEM/PLANTITEM_Own_Plant_Item.aspx">
          <screen id="4_1_1_1" version="1" screen_code="PTNOVALUE" screen_type="0">
            <tab id="4_1_1_1_1" name="Non Value Band Deductibles" url="PLANTITEM/PTNOVALUE/PTNOVALUE_Non_Value_Band_Deductibles.aspx" />
          </screen>
          <screen id="4_1_1_2" version="1" screen_code="PTVALUE" screen_type="0">
            <tab id="4_1_1_2_1" name="Value Band Deductibles" url="PLANTITEM/PTVALUE/PTVALUE_Value_Band_Deductibles.aspx" />
          </screen>
        </tab>
      </screen>
    </tab>
    <tab id="5" name="Hired In Plant" url="CPINSURE_Hired_In_Plant.aspx">
      <screen id="5_1" version="1" screen_code="ADDITEMS" screen_type="0">
        <tab id="5_1_1" name="Additional Plant Details" url="ADDITEMS/ADDITEMS_Additional_Plant_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Construction Public Liability" url="CPINSURE_Construction_Public_Liability.aspx">
      <screen id="6_1" version="1" screen_code="CPLINSDED" screen_type="0">
        <tab id="6_1_1" name="Additional Deductibles" url="CPLINSDED/CPLINSDED_Additional_Deductibles.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="CPLEXTNT" screen_type="0">
        <tab id="6_2_1" name="Extensions" url="CPLEXTNT/CPLEXTNT_Extensions.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Deductibles" url="CPINSURE_Deductibles.aspx">
      <screen id="7_1" version="1" screen_code="DTNOVALUE" screen_type="0">
        <tab id="7_1_1" name="Non Band Deductibles" url="DTNOVALUE/DTNOVALUE_Non_Band_Deductibles.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="DTVALUE" screen_type="0">
        <tab id="7_2_1" name="Deductibles" url="DTVALUE/DTVALUE_Deductibles.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Deposit Premium" url="CPINSURE_Deposit_Premium.aspx" />
    <tab id="9" name="Extensions" url="CPINSURE_Extensions.aspx">
      <screen id="9_1" version="1" screen_code="ADDCHILD" screen_type="0">
        <tab id="9_1_1" name="Extensions" url="ADDCHILD/ADDCHILD_Extensions.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Reinsurance" url="CPINSURE_Reinsurance.aspx" />
    <tab id="11" name="Endorsements" url="CPINSURE_Endorsements.aspx" />
    <tab id="12" name="Notes" url="CPINSURE_Notes.aspx">
      <screen id="12_1" version="1" screen_code="PLANTNOTE" screen_type="0">
        <tab id="12_1_1" name="Note Details" url="PLANTNOTE/PLANTNOTE_Note_Details.aspx" />
      </screen>
      <screen id="12_2" version="1" screen_code="DEX_NOTES" screen_type="0">
        <tab id="12_2_1" name="Subjectivities Details" url="DEX_NOTES/DEX_NOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>