<screens>
  <screen id="1" version="1" screen_code="ENVGIT">
    <tab id="2" name="Cover Details" url="ENVGIT_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="GITMTAREAS" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="GITMTAREAS/GITMTAREAS_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="RETROGIT" screen_type="0">
        <tab id="2_2_1" name="Retrocession Details" url="RETROGIT/RETROGIT_Retrocession_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risk Details" url="ENVGIT_Risk_Details.aspx">
      <screen id="3_1" version="1" screen_code="SPECVBASIS" screen_type="0">
        <tab id="3_1_1" name="Specified Vehicle Basis" url="SPECVBASIS/SPECVBASIS_Specified_Vehicle_Basis.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Endorsements" url="ENVGIT_Endorsements.aspx" />
    <tab id="5" name="Notes" url="ENVGIT_Notes.aspx">
      <screen id="5_1" version="1" screen_code="EGITNOTES" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="EGITNOTES/EGITNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="GITEXNOTES" screen_type="0">
        <tab id="5_2_1" name="Subjectivities Details" url="GITEXNOTES/GITEXNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>