<screens>
  <screen id="1" version="1" screen_code="TAMRSK">
    <tab id="2" name="TAM Income Protector Scheme" url="TAMRSK_TAM_Income_Protector_Scheme.aspx">
      <screen id="2_1" version="1" screen_code="TAMRSKMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="TAMRSKMTA/TAMRSKMTA_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="TAMENDOS" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="TAMENDOS/TAMENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="TAMCNOTE" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="TAMCNOTE/TAMCNOTE_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="TAMSNOTE" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="TAMSNOTE/TAMSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>