<screens>
  <screen id="1" version="1" screen_code="TUPMOTOCLM">
    <tab id="2" name="Claim Information" url="TUPMOTOCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="TMOTOTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="TMOTOTRAIL/TMOTOTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="TUPMOTOCLM_Underwriting_Information.aspx" />
    <tab id="4" name="Third Party" url="TUPMOTOCLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="TMOTTPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="TMOTTPARTY/TMOTTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Notes" url="TUPMOTOCLM_Notes.aspx">
      <screen id="5_1" version="1" screen_code="TMOTONOTES" screen_type="0">
        <tab id="5_1_1" name="Claims Internal Notes" url="TMOTONOTES/TMOTONOTES_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="TMOTEXNOTE" screen_type="0">
        <tab id="5_2_1" name="Claims External Notes" url="TMOTEXNOTE/TMOTEXNOTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="TUPMOTOCLM_Perils.aspx" />
  </screen>
</screens>