<screens>
  <screen id="1" version="1" screen_code="HTPFPPL">
    <tab id="2" name="Fare Paying Passenger Liability" url="HTPFPPL_Fare_Paying_Passenger_Liability.aspx">
      <screen id="2_1" version="1" screen_code="TSPEC_ITEM" screen_type="0">
        <tab id="2_1_1" name="Vehicle Details" url="TSPEC_ITEM/TSPEC_ITEM_Vehicle_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="FPAENDOS" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="FPAENDOS/FPAENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="PAFPPLCNO" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="PAFPPLCNO/PAFPPLCNO_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="PAFPPLNP" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="PAFPPLNP/PAFPPLNP_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>