<!-- 
    Just store Profile settings in here so edits can be made without application restarts
-->

<profile  enabled="true" defaultProvider="AspNetSqlProfileProvider2" inherits="Nexus.MembershipProvider.CustomProfile">
  <providers>
    <add connectionStringName="CMS" applicationName="/Web.Nexus"
      name="AspNetSqlProfileProvider2" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /> 

    <add connectionStringName="CMS" applicationName="/Web.Nexus"
      name="AspNetSqlProfileProvider1" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /> 
       
  </providers>
  <properties>
    <group name="RegistrationDetails">
		<!-- Obsolete, but here for legacy support -->
      <add name="Title" type="System.String" />
      <add name="FirstName" type="System.String" />
      <add name="Surname" type="System.String" />
		<!-- ************************************* -->
      <add name="PartyKey" type="System.String" />
      <add name="Email" type="System.String" />
    </group>
  </properties>
</profile>