<screens>
  <screen id="1" version="1" screen_code="FIREAPSCRN">
    <tab id="2" name="Policy Header Details" url="FIREAPSCRN_Policy_Header_Details.aspx" maindetails="true" />
    <tab id="3" name="Client Details" url="FIREAPSCRN_Client_Details.aspx" />
    <tab id="4" name="Property to be Insured" url="FIREAPSCRN_Property_to_be_Insured.aspx">
      <screen id="4_1" version="1" screen_code="PROPERTY" screen_type="0">
        <tab id="4_1_1" name="Property Details" url="PROPERTY/PROPERTY_Property_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Statements of Facts" url="FIREAPSCRN_Statements_of_Facts.aspx">
      <screen id="5_1" version="1" screen_code="FIRECLAIMS" screen_type="0">
        <tab id="5_1_1" name="Previous  Details" url="FIRECLAIMS/FIRECLAIMS_Previous__Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>