<screens>
  <screen id="1" version="1" screen_code="LVPSTOCK">
    <tab id="2" name="Livestock and Pedigree Animals" url="LVPSTOCK_Livestock_and_Pedigree_Animals.aspx">
      <screen id="2_1" version="1" screen_code="LVITEMS" screen_type="0">
        <tab id="2_1_1" name="Livestock" url="LVITEMS/LVITEMS_Livestock.aspx">
          <screen id="2_1_1_1" version="1" screen_code="LVAENDOS" screen_type="0">
            <tab id="2_1_1_1_1" name="Endorsement Premium" url="LVITEMS/LVAENDOS/LVAENDOS_Endorsement_Premium.aspx" />
          </screen>
          <screen id="2_1_1_2" version="1" screen_code="LVASANOTES" screen_type="0">
            <tab id="2_1_1_2_1" name="Note Details" url="LVITEMS/LVASANOTES/LVASANOTES_Note_Details.aspx" />
          </screen>
          <screen id="2_1_1_3" version="1" screen_code="LVAETANOTE" screen_type="0">
            <tab id="2_1_1_3_1" name="Note Details" url="LVITEMS/LVAETANOTE/LVAETANOTE_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="2_2" version="1" screen_code="LVPITEMS" screen_type="0">
        <tab id="2_2_1" name="Pedigree Animals" url="LVPITEMS/LVPITEMS_Pedigree_Animals.aspx">
          <screen id="2_2_1_1" version="1" screen_code="LVSAENDOS" screen_type="0">
            <tab id="2_2_1_1_1" name="Endorsement Premium" url="LVPITEMS/LVSAENDOS/LVSAENDOS_Endorsement_Premium.aspx" />
          </screen>
          <screen id="2_2_1_2" version="1" screen_code="LVATNOTES" screen_type="0">
            <tab id="2_2_1_2_1" name="Note Details" url="LVPITEMS/LVATNOTES/LVATNOTES_Note_Details.aspx" />
          </screen>
          <screen id="2_2_1_3" version="1" screen_code="LVATVNOTE" screen_type="0">
            <tab id="2_2_1_3_1" name="Note Details" url="LVPITEMS/LVATVNOTE/LVATVNOTE_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="2_3" version="1" screen_code="LVENDOS" screen_type="0">
        <tab id="2_3_1" name="Endorsement Premium" url="LVENDOS/LVENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="LVSANOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="LVSANOTES/LVSANOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="LVETANOTES" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="LVETANOTES/LVETANOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>