<screens>
  <screen id="1" version="1" screen_code="HTPGIT">
    <tab id="2" name="Risk Details" url="HTPGIT_Risk_Details.aspx">
      <screen id="2_1" version="1" screen_code="TGITEPRM" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="TGITEPRM/TGITEPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="TGITNTS" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="TGITNTS/TGITNTS_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="TGITSNTS" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="TGITSNTS/TGITSNTS_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>