<screens>
  <screen id="1" version="1" screen_code="MEDMAL">
    <tab id="2" name="Cover Details" url="MEDMAL_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="MEDREASON" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="MEDREASON/MEDREASON_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="RETROMED" screen_type="0">
        <tab id="2_2_1" name="Retrocession Details" url="RETROMED/RETROMED_Retrocession_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risk Details" url="MEDMAL_Risk_Details.aspx" />
    <tab id="4" name="General Liability" url="MEDMAL_General_Liability.aspx" />
    <tab id="5" name="Extensions" url="MEDMAL_Extensions.aspx" />
    <tab id="6" name="Endorsements" url="MEDMAL_Endorsements.aspx" />
    <tab id="7" name="Notes" url="MEDMAL_Notes.aspx">
      <screen id="7_1" version="1" screen_code="MEDNOTES" screen_type="0">
        <tab id="7_1_1" name="Note Details" url="MEDNOTES/MEDNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="MEDPNOTES" screen_type="0">
        <tab id="7_2_1" name="Subjectivities Details" url="MEDPNOTES/MEDPNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>