<screens>
  <screen id="1" version="1" screen_code="CPROCLM">
    <tab id="2" name="Claim Information" url="CPROCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="CPROTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="CPROTRAIL/CPROTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="CPROCLM_Underwriting_Information.aspx" />
    <tab id="4" name="Extensions" url="CPROCLM_Extensions.aspx" />
    <tab id="5" name="Third Party" url="CPROCLM_Third_Party.aspx">
      <screen id="5_1" version="1" screen_code="CPROTPARTY" screen_type="0">
        <tab id="5_1_1" name="Third Party Recoveries" url="CPROTPARTY/CPROTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Assessment Details" url="CPROCLM_Assessment_Details.aspx">
      <screen id="6_1" version="1" screen_code="CPROASSESS" screen_type="0">
        <tab id="6_1_1" name="Details of Assessor" url="CPROASSESS/CPROASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="CPROATTORN" screen_type="0">
        <tab id="6_2_1" name="Details of Attorneys" url="CPROATTORN/CPROATTORN_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="CPROWITN" screen_type="0">
        <tab id="6_3_1" name="Details of Witnesses" url="CPROWITN/CPROWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Schedule Of Loss" url="CPROCLM_Schedule_Of_Loss.aspx">
      <screen id="7_1" version="1" screen_code="CPOWNSCRN" screen_type="0">
        <tab id="7_1_1" name="Own Damage Information" url="CPOWNSCRN/CPOWNSCRN_Own_Damage_Information.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="CPISOLSCRN" screen_type="0">
        <tab id="7_2_1" name="Schedule of Loss" url="CPISOLSCRN/CPISOLSCRN_Schedule_of_Loss.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="CPIRSCRN" screen_type="0">
        <tab id="7_3_1" name="Recovery" url="CPIRSCRN/CPIRSCRN_Recovery.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Perils" url="CPROCLM_Perils.aspx" />
  </screen>
</screens>