<screens>
  <screen id="1" version="1" screen_code="TSMRCLM">
    <tab id="2" name="SME Bundles" url="TSMRCLM_SME_Bundles.aspx">
      <screen id="2_1" version="1" screen_code="TSMRTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="TSMRTRAIL/TSMRTRAIL_Audit_Trail.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="TSMENDOSCL" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="TSMENDOSCL/TSMENDOSCL_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="TSMNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="TSMNOTES/TSMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="TSMSNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="TSMSNOTES/TSMSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Third Party" url="TSMRCLM_Third_Party.aspx">
      <screen id="3_1" version="1" screen_code="TSMTHPRTY" screen_type="0">
        <tab id="3_1_1" name="Third Party Recoveries" url="TSMTHPRTY/TSMTHPRTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="TSMWTN" screen_type="0">
        <tab id="3_2_1" name="Witness" url="TSMWTN/TSMWTN_Witness.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="TSMATT" screen_type="0">
        <tab id="3_3_1" name="Attorney" url="TSMATT/TSMATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Notes" url="TSMRCLM_Notes.aspx">
      <screen id="4_1" version="1" screen_code="TSMCNOTE" screen_type="0">
        <tab id="4_1_1" name="Claims Internal Notes" url="TSMCNOTE/TSMCNOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="TSMSNOTE" screen_type="0">
        <tab id="4_2_1" name="Claims External Notes" url="TSMSNOTE/TSMSNOTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Perils" url="TSMRCLM_Perils.aspx" />
  </screen>
</screens>