<screens>
  <screen id="1" version="1" screen_code="CAALG">
    <tab id="2" name="Livestock and Game" url="CAALG_Livestock_and_Game.aspx">
      <screen id="2_1" version="1" screen_code="LGCHLD" screen_type="0">
        <tab id="2_1_1" name="Livestock and Game - Comprehensive" url="LGCHLD/LGCHLD_Livestock_and_Game__Comprehensive.aspx">
          <screen id="2_1_1_1" version="1" screen_code="CCNDOS" screen_type="0">
            <tab id="2_1_1_1_1" name="Endorsement Premium" url="LGCHLD/CCNDOS/CCNDOS_Endorsement_Premium.aspx" />
          </screen>
          <screen id="2_1_1_2" version="1" screen_code="CCNOTE" screen_type="0">
            <tab id="2_1_1_2_1" name="Note Details" url="LGCHLD/CCNOTE/CCNOTE_Note_Details.aspx" />
          </screen>
          <screen id="2_1_1_3" version="1" screen_code="CCNOT" screen_type="0">
            <tab id="2_1_1_3_1" name="Note Details" url="LGCHLD/CCNOT/CCNOT_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="2_2" version="1" screen_code="LGLCCHLD" screen_type="0">
        <tab id="2_2_1" name="Livestock and Game - Limited Cover" url="LGLCCHLD/LGLCCHLD_Livestock_and_Game__Limited_Cover.aspx">
          <screen id="2_2_1_1" version="1" screen_code="LCNDOS" screen_type="0">
            <tab id="2_2_1_1_1" name="Endorsement Premium" url="LGLCCHLD/LCNDOS/LCNDOS_Endorsement_Premium.aspx" />
          </screen>
          <screen id="2_2_1_2" version="1" screen_code="LCNOTE" screen_type="0">
            <tab id="2_2_1_2_1" name="Note Details" url="LGLCCHLD/LCNOTE/LCNOTE_Note_Details.aspx" />
          </screen>
          <screen id="2_2_1_3" version="1" screen_code="LCNOT" screen_type="0">
            <tab id="2_2_1_3_1" name="Note Details" url="LGLCCHLD/LCNOT/LCNOT_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="2_3" version="1" screen_code="CAALGNDOS" screen_type="0">
        <tab id="2_3_1" name="Endorsement Premium" url="CAALGNDOS/CAALGNDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="CAALGNOTE" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="CAALGNOTE/CAALGNOTE_Note_Details.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="CAALGNOT" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="CAALGNOT/CAALGNOT_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>