<screens>
  <screen id="1" version="1" screen_code="CMACLM">
    <tab id="2" name="Risk Selection" url="CMACLM_Risk_Selection.aspx">
      <screen id="2_1" version="1" screen_code="CLIATRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="CLIATRAIL/CLIATRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Cyber" url="CMACLM_Cyber.aspx">
      <screen id="3_1" version="1" screen_code="CYBCLMEND" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="CYBCLMEND/CYBCLMEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="CYBCNOTE" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="CYBCNOTE/CYBCNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="CYBSNOTE" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="CYBSNOTE/CYBSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Employers Liability" url="CMACLM_Employers_Liability.aspx">
      <screen id="4_1" version="1" screen_code="EMPCLMEND" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="EMPCLMEND/EMPCLMEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="EMPCNOTES" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="EMPCNOTES/EMPCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="EMPSNOTES" screen_type="0">
        <tab id="4_3_1" name="Note Details" url="EMPSNOTES/EMPSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Combined Liability" url="CMACLM_Combined_Liability.aspx">
      <screen id="5_1" version="1" screen_code="COMCNOTE" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="COMCNOTE/COMCNOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="COMSNOTE" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="COMSNOTE/COMSNOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="DWCNOTE" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="DWCNOTE/DWCNOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="DWSNOTE" screen_type="0">
        <tab id="5_4_1" name="Note Details" url="DWSNOTE/DWSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Directors and Officers Liability Risk Details" url="CMACLM_Directors_and_Officers_Liability_Risk_Details.aspx">
      <screen id="6_1" version="1" screen_code="DNOCLMPREM" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="DNOCLMPREM/DNOCLMPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="DNCLCOTE" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="DNCLCOTE/DNCLCOTE_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="DNCLSNOTE" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="DNCLSNOTE/DNCLSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Public Liability" url="CMACLM_Public_Liability.aspx">
      <screen id="7_1" version="1" screen_code="PREMISES" screen_type="0">
        <tab id="7_1_1" name="Multiple Premises Details" url="PREMISES/PREMISES_Multiple_Premises_Details.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="PBCNOTES" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="PBCNOTES/PBCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="PBCSNOTES" screen_type="0">
        <tab id="7_3_1" name="Note Details" url="PBCSNOTES/PBCSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_4" version="1" screen_code="DEFNOTES" screen_type="0">
        <tab id="7_4_1" name="Note Details" url="DEFNOTES/DEFNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_5" version="1" screen_code="DEFSNOTES" screen_type="0">
        <tab id="7_5_1" name="Note Details" url="DEFSNOTES/DEFSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_6" version="1" screen_code="PRDNOTES" screen_type="0">
        <tab id="7_6_1" name="Note Details" url="PRDNOTES/PRDNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_7" version="1" screen_code="PRDSNOTES" screen_type="0">
        <tab id="7_7_1" name="Note Details" url="PRDSNOTES/PRDSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Fare Paying Passengers" url="CMACLM_Fare_Paying_Passengers.aspx">
      <screen id="8_1" version="1" screen_code="VEH_DET" screen_type="0">
        <tab id="8_1_1" name="Vehicle Details" url="VEH_DET/VEH_DET_Vehicle_Details.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="FPPEND" screen_type="0">
        <tab id="8_2_1" name="Endorsement Premium" url="FPPEND/FPPEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="FPCLMCNOTE" screen_type="0">
        <tab id="8_3_1" name="Note Details" url="FPCLMCNOTE/FPCLMCNOTE_Note_Details.aspx" />
      </screen>
      <screen id="8_4" version="1" screen_code="FPCLMSNOTE" screen_type="0">
        <tab id="8_4_1" name="Note Details" url="FPCLMSNOTE/FPCLMSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Third Party" url="CMACLM_Third_Party.aspx">
      <screen id="9_1" version="1" screen_code="CLIATHPRTY" screen_type="0">
        <tab id="9_1_1" name="Third Party Recoveries" url="CLIATHPRTY/CLIATHPRTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="CLIAWTN" screen_type="0">
        <tab id="9_2_1" name="Witness" url="CLIAWTN/CLIAWTN_Witness.aspx" />
      </screen>
      <screen id="9_3" version="1" screen_code="CLIAATT" screen_type="0">
        <tab id="9_3_1" name="Attorney" url="CLIAATT/CLIAATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Notes" url="CMACLM_Notes.aspx">
      <screen id="10_1" version="1" screen_code="CLNCLM" screen_type="0">
        <tab id="10_1_1" name="Claims Internal Notes" url="CLNCLM/CLNCLM_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="10_2" version="1" screen_code="CLENCLM" screen_type="0">
        <tab id="10_2_1" name="Claims External Notes" url="CLENCLM/CLENCLM_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Perils" url="CMACLM_Perils.aspx" />
  </screen>
</screens>