<screens>
  <screen id="1" version="1" screen_code="CCAEEQ">
    <tab id="2" name="Electronic Equipment" url="CCAEEQ_Electronic_Equipment.aspx">
      <screen id="2_1" version="1" screen_code="CCAEEQMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CCAEEQMTA/CCAEEQMTA_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="EECHLD" screen_type="0">
        <tab id="2_2_1" name="Electric Equipment Details" url="EECHLD/EECHLD_Electric_Equipment_Details.aspx">
          <screen id="2_2_1_1" version="1" screen_code="EECHLDEP" screen_type="0">
            <tab id="2_2_1_1_1" name="Endorsement Premium" url="EECHLD/EECHLDEP/EECHLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="2_2_1_2" version="1" screen_code="CEENOTES" screen_type="0">
            <tab id="2_2_1_2_1" name="Note Details" url="EECHLD/CEENOTES/CEENOTES_Note_Details.aspx" />
          </screen>
          <screen id="2_2_1_3" version="1" screen_code="CEESNOTES" screen_type="0">
            <tab id="2_2_1_3_1" name="Note Details" url="EECHLD/CEESNOTES/CEESNOTES_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="2_3" version="1" screen_code="ELEQMP" screen_type="0">
        <tab id="2_3_1" name="Multiple Premises" url="ELEQMP/ELEQMP_Multiple_Premises.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="EEENDPREM" screen_type="0">
        <tab id="2_4_1" name="Endorsement Premium" url="EEENDPREM/EEENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="EENOTES" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="EENOTES/EENOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_6" version="1" screen_code="EESNOTES" screen_type="0">
        <tab id="2_6_1" name="Note Details" url="EESNOTES/EESNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="CCAEEQ_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="ELEQREFER" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="ELEQREFER/ELEQREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>