<screens>
  <screen id="1" version="1" screen_code="CONWORKINS">
    <tab id="2" name="Contract Works" url="CONWORKINS_Contract_Works.aspx">
      <screen id="2_1" version="1" screen_code="CONTESTPER" screen_type="0">
        <tab id="2_1_1" name="Testing Period" url="CONTESTPER/CONTESTPER_Testing_Period.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risks" url="CONWORKINS_Risks.aspx" />
    <tab id="4" name="Co_Re-insurance Inwards" url="CONWORKINS_Co_Reinsurance_Inwards.aspx">
      <screen id="4_1" version="1" screen_code="REINSUINW" screen_type="0">
        <tab id="4_1_1" name="Inwards Details" url="REINSUINW/REINSUINW_Inwards_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Value Band Deductibles" url="CONWORKINS_Value_Band_Deductibles.aspx">
      <screen id="5_1" version="1" screen_code="DEDE" screen_type="0">
        <tab id="5_1_1" name="Contract Value Bands" url="DEDE/DEDE_Contract_Value_Bands.aspx">
          <screen id="5_1_1_1" version="1" screen_code="CADDED" screen_type="0">
            <tab id="5_1_1_1_1" name="Additional Deductibles" url="DEDE/CADDED/CADDED_Additional_Deductibles.aspx" />
          </screen>
        </tab>
      </screen>
    </tab>
    <tab id="6" name="Non Band Deductibles" url="CONWORKINS_Non_Band_Deductibles.aspx">
      <screen id="6_1" version="1" screen_code="NONDED" screen_type="0">
        <tab id="6_1_1" name="Additional Non Band Deductible" url="NONDED/NONDED_Additional_Non_Band_Deductible.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Extensions" url="CONWORKINS_Extensions.aspx">
      <screen id="7_1" version="1" screen_code="OEXTLIM" screen_type="0">
        <tab id="7_1_1" name="Other Extensions-Limitations" url="OEXTLIM/OEXTLIM_Other_ExtensionsLimitations.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Construction Pubic Liability" url="CONWORKINS_Construction_Pubic_Liability.aspx">
      <screen id="8_1" version="1" screen_code="CONADDDED" screen_type="0">
        <tab id="8_1_1" name="Additional Deductible" url="CONADDDED/CONADDDED_Additional_Deductible.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="OTHREXT" screen_type="0">
        <tab id="8_2_1" name="Other Extensions" url="OTHREXT/OTHREXT_Other_Extensions.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="CWIENDOSE" screen_type="0">
        <tab id="8_3_1" name="Endorsement Premium" url="CWIENDOSE/CWIENDOSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_4" version="1" screen_code="CWISNOTES" screen_type="0">
        <tab id="8_4_1" name="Notes Detials" url="CWISNOTES/CWISNOTES_Notes_Detials.aspx" />
      </screen>
      <screen id="8_5" version="1" screen_code="CWINOTES" screen_type="0">
        <tab id="8_5_1" name="Note Details" url="CWINOTES/CWINOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Re-insurance" url="CONWORKINS_Reinsurance.aspx" />
    <tab id="10" name="Endorsements" url="CONWORKINS_Endorsements.aspx">
      <screen id="10_1" version="1" screen_code="CWIENDOS" screen_type="0">
        <tab id="10_1_1" name="Endorsement Premium" url="CWIENDOS/CWIENDOS_Endorsement_Premium.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Notes" url="CONWORKINS_Notes.aspx">
      <screen id="11_1" version="1" screen_code="CWONOTES" screen_type="0">
        <tab id="11_1_1" name="Note Details" url="CWONOTES/CWONOTES_Note_Details.aspx" />
      </screen>
      <screen id="11_2" version="1" screen_code="CCWNOTES" screen_type="0">
        <tab id="11_2_1" name="Notes Details" url="CCWNOTES/CCWNOTES_Notes_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>