<screens>
  <screen id="1" version="1" screen_code="CAANAS">
    <tab id="2" name="NASRIA And Stamp Duty" url="CAANAS_NASRIA_And_Stamp_Duty.aspx">
      <screen id="2_1" version="1" screen_code="CAANASBI" screen_type="0">
        <tab id="2_1_1" name="Business Interruption" url="CAANASBI/CAANASBI_Business_Interruption.aspx" />
      </screen>
    </tab>
  </screen>
</screens>