<screens>
  <screen id="1" version="1" screen_code="EDCONCLM">
    <tab id="2" name="Claim details" url="EDCONCLM_Claim_details.aspx">
      <screen id="2_1" version="1" screen_code="RTATRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="RTATRAIL/RTATRAIL_Audit_Trail.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="RTAENDO" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="RTAENDO/RTAENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="RTANOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="RTANOTES/RTANOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="RTASNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="RTASNOTES/RTASNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Third Party" url="EDCONCLM_Third_Party.aspx">
      <screen id="3_1" version="1" screen_code="RTATHPRTY" screen_type="0">
        <tab id="3_1_1" name="Third Party Recoveries" url="RTATHPRTY/RTATHPRTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="RTAWTN" screen_type="0">
        <tab id="3_2_1" name="Witness" url="RTAWTN/RTAWTN_Witness.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="RTAATT" screen_type="0">
        <tab id="3_3_1" name="Attorney" url="RTAATT/RTAATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Notes" url="EDCONCLM_Notes.aspx">
      <screen id="4_1" version="1" screen_code="RTCCNOTE" screen_type="0">
        <tab id="4_1_1" name="Claims Internal Notes" url="RTCCNOTE/RTCCNOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="RTCSCNOTE" screen_type="0">
        <tab id="4_2_1" name="Claims External Notes" url="RTCSCNOTE/RTCSCNOTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Perils" url="EDCONCLM_Perils.aspx" />
  </screen>
</screens>