<screens>
  <screen id="1" version="1" screen_code="CTMG">
    <tab id="2" name="General" url="CTMG_General.aspx" />
    <tab id="3" name="Endorsements" url="CTMG_Endorsements.aspx">
      <screen id="3_1" version="1" screen_code="TMGENDPRM" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="TMGENDPRM/TMGENDPRM_Endorsement_Premium.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Notes" url="CTMG_Notes.aspx">
      <screen id="4_1" version="1" screen_code="TMGNOTE" screen_type="0">
        <tab id="4_1_1" name="Note Details" url="TMGNOTE/TMGNOTE_Note_Details.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="TMGSNOTE" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="TMGSNOTE/TMGSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Overview" url="CTMG_Overview.aspx" />
    <tab id="6" name="Referrals" url="CTMG_Referrals.aspx">
      <screen id="6_1" version="1" screen_code="TMGREFER" screen_type="0">
        <tab id="6_1_1" name="Referral Details" url="TMGREFER/TMGREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>