<screens>
  <screen id="1" version="1" screen_code="MOTORP">
    <tab id="2" name="Motor Details" url="MOTORP_Motor_Details.aspx" />
    <tab id="3" name="Motor Details Cont." url="MOTORP_Motor_Details_Cont.aspx">
      <screen id="3_1" version="1" screen_code="DRVS_DTLS" screen_type="0">
        <tab id="3_1_1" name="Additional Drivers Details" url="DRVS_DTLS/DRVS_DTLS_Additional_Drivers_Details.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="ACCESS" screen_type="0">
        <tab id="3_2_1" name="Accessory Details" url="ACCESS/ACCESS_Accessory_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MODS" screen_type="0">
        <tab id="3_3_1" name="Modification Details" url="MODS/MODS_Modification_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Motor Extensions" url="MOTORP_Motor_Extensions.aspx" />
    <tab id="5" name="Clauses and Notes" url="MOTORP_Clauses_and_Notes.aspx">
      <screen id="5_1" version="1" screen_code="MOTNOTE" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="MOTNOTE/MOTNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Premium Summary" url="MOTORP_Premium_Summary.aspx" />
    <tab id="7" name="Referrals" url="MOTORP_Referrals.aspx">
      <screen id="7_1" version="1" screen_code="REFDET" screen_type="0">
        <tab id="7_1_1" name="Referral Details" url="REFDET/REFDET_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>