<screens>
  <screen id="1" version="1" screen_code="GRPFIRE">
    <tab id="2" name="Premises Insured" url="GRPFIRE_Premises_Insured.aspx" />
    <tab id="3" name="Risk Selection" url="GRPFIRE_Risk_Selection.aspx">
      <screen id="3_1" version="1" screen_code="BLCKSCRN" screen_type="0">
        <tab id="3_1_1" name="Blocked Risks" url="BLCKSCRN/BLCKSCRN_Blocked_Risks.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Fire" url="GRPFIRE_Fire.aspx">
      <screen id="4_1" version="1" screen_code="MULTICHLD" screen_type="0">
        <tab id="4_1_1" name="Multiple Buildings" url="MULTICHLD/MULTICHLD_Multiple_Buildings.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MISCCHLD" screen_type="0">
        <tab id="4_2_1" name="Miscellaneous Item" url="MISCCHLD/MISCCHLD_Miscellaneous_Item.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="FAPCHLD" screen_type="0">
        <tab id="4_3_1" name="First Amount Payable" url="FAPCHLD/FAPCHLD_First_Amount_Payable.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="VOLFAPCHLD" screen_type="0">
        <tab id="4_4_1" name="Voluntary Excess" url="VOLFAPCHLD/VOLFAPCHLD_Voluntary_Excess.aspx" />
      </screen>
      <screen id="4_5" version="1" screen_code="GEYSERCHLD" screen_type="0">
        <tab id="4_5_1" name="Geyser Extension" url="GEYSERCHLD/GEYSERCHLD_Geyser_Extension.aspx" />
      </screen>
      <screen id="4_6" version="1" screen_code="FIRENDPREM" screen_type="0">
        <tab id="4_6_1" name="Endorsement Premium" url="FIRENDPREM/FIRENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_7" version="1" screen_code="FIRENOTES" screen_type="0">
        <tab id="4_7_1" name="Note Details" url="FIRENOTES/FIRENOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_8" version="1" screen_code="FIRESNOTES" screen_type="0">
        <tab id="4_8_1" name="Note Details" url="FIRESNOTES/FIRESNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Buildings Combined" url="GRPFIRE_Buildings_Combined.aspx">
      <screen id="5_1" version="1" screen_code="BCMISCCHLD" screen_type="0">
        <tab id="5_1_1" name="Miscellaneous Item" url="BCMISCCHLD/BCMISCCHLD_Miscellaneous_Item.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="BCFAPCHLD" screen_type="0">
        <tab id="5_2_1" name="First Amount Payable" url="BCFAPCHLD/BCFAPCHLD_First_Amount_Payable.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="BCVAPCHLD" screen_type="0">
        <tab id="5_3_1" name="Voluntary Excess" url="BCVAPCHLD/BCVAPCHLD_Voluntary_Excess.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="BCGEYSRCHD" screen_type="0">
        <tab id="5_4_1" name="Geyser Extension" url="BCGEYSRCHD/BCGEYSRCHD_Geyser_Extension.aspx" />
      </screen>
      <screen id="5_5" version="1" screen_code="BCENDPREM" screen_type="0">
        <tab id="5_5_1" name="Endorsement Premium" url="BCENDPREM/BCENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_6" version="1" screen_code="BCNOTES" screen_type="0">
        <tab id="5_6_1" name="Note Details" url="BCNOTES/BCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_7" version="1" screen_code="BCSNOTES" screen_type="0">
        <tab id="5_7_1" name="Note Details" url="BCSNOTES/BCSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Office Contents" url="GRPFIRE_Office_Contents.aspx">
      <screen id="6_1" version="1" screen_code="OCENDPREM" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="OCENDPREM/OCENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="OCNOTES" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="OCNOTES/OCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="OCSNOTES" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="OCSNOTES/OCSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Business Interruption" url="GRPFIRE_Business_Interruption.aspx">
      <screen id="7_1" version="1" screen_code="SPECSUP" screen_type="0">
        <tab id="7_1_1" name="Specified Supplier" url="SPECSUP/SPECSUP_Specified_Supplier.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="SPECUS" screen_type="0">
        <tab id="7_2_1" name="Specified Customer" url="SPECUS/SPECUS_Specified_Customer.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="BIENDPREM" screen_type="0">
        <tab id="7_3_1" name="Endorsement Premium" url="BIENDPREM/BIENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_4" version="1" screen_code="BINOTES" screen_type="0">
        <tab id="7_4_1" name="Note Details" url="BINOTES/BINOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_5" version="1" screen_code="BISNOTES" screen_type="0">
        <tab id="7_5_1" name="Note Details" url="BISNOTES/BISNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Accounts Receivable" url="GRPFIRE_Accounts_Receivable.aspx">
      <screen id="8_1" version="1" screen_code="ARENDPREM" screen_type="0">
        <tab id="8_1_1" name="Endorsement Premium" url="ARENDPREM/ARENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="ARNOTES" screen_type="0">
        <tab id="8_2_1" name="Note Details" url="ARNOTES/ARNOTES_Note_Details.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="ARSNOTES" screen_type="0">
        <tab id="8_3_1" name="Note Details" url="ARSNOTES/ARSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Accidental Damage" url="GRPFIRE_Accidental_Damage.aspx">
      <screen id="9_1" version="1" screen_code="ADENDPREM" screen_type="0">
        <tab id="9_1_1" name="Endorsement Premium" url="ADENDPREM/ADENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="ADNOTES" screen_type="0">
        <tab id="9_2_1" name="Note Details" url="ADNOTES/ADNOTES_Note_Details.aspx" />
      </screen>
      <screen id="9_3" version="1" screen_code="ADSNOTES" screen_type="0">
        <tab id="9_3_1" name="Note Details" url="ADSNOTES/ADSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Overview" url="GRPFIRE_Overview.aspx" />
  </screen>
</screens>