<screens>
  <screen id="1" version="1" screen_code="PIPESTRCLM">
    <tab id="2" name="Claim Information" url="PIPESTRCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="PIPETRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="PIPETRAIL/PIPETRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="PIPESTRCLM_Underwriting_Information.aspx">
      <screen id="3_1" version="1" screen_code="SITEDETCLM" screen_type="0">
        <tab id="3_1_1" name="Site Details" url="SITEDETCLM/SITEDETCLM_Site_Details.aspx">
          <screen id="3_1_1_1" version="1" screen_code="TANKDETCLM" screen_type="0">
            <tab id="3_1_1_1_1" name="Site Details" url="SITEDETCLM/TANKDETCLM/TANKDETCLM_Site_Details.aspx" />
          </screen>
          <screen id="3_1_1_2" version="1" screen_code="PIPEDETCLM" screen_type="0">
            <tab id="3_1_1_2_1" name="Pipe Details" url="SITEDETCLM/PIPEDETCLM/PIPEDETCLM_Pipe_Details.aspx" />
          </screen>
        </tab>
      </screen>
    </tab>
    <tab id="4" name="Third Party" url="PIPESTRCLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="PIPETPRTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="PIPETPRTY/PIPETPRTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Assessment Details" url="PIPESTRCLM_Assessment_Details.aspx">
      <screen id="5_1" version="1" screen_code="PIPEASSESS" screen_type="0">
        <tab id="5_1_1" name="Details of Assessor" url="PIPEASSESS/PIPEASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="PIPEATTNY" screen_type="0">
        <tab id="5_2_1" name="Details of Attorneys" url="PIPEATTNY/PIPEATTNY_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="PIPEWITN" screen_type="0">
        <tab id="5_3_1" name="Details of Witnesses" url="PIPEWITN/PIPEWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="PIPESTRCLM_Perils.aspx" />
  </screen>
</screens>