<screens>
  <screen id="1" version="1" screen_code="CMAGLASS">
    <tab id="2" name="Risk details" url="CMAGLASS_Risk_details.aspx">
      <screen id="2_1" version="1" screen_code="GLSENDPREM" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="GLSENDPREM/GLSENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="GNOTES" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="GNOTES/GNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="GSNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="GSNOTES/GSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>