<screens>
  <screen id="1" version="1" screen_code="MMGEN">
    <tab id="2" name="General" url="MMGEN_General.aspx" />
    <tab id="3" name="Endorsements" url="MMGEN_Endorsements.aspx" />
    <tab id="4" name="Notes" url="MMGEN_Notes.aspx">
      <screen id="4_1" version="1" screen_code="MGNOTES" screen_type="0">
        <tab id="4_1_1" name="Note Details" url="MGNOTES/MGNOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MGSNOTES" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="MGSNOTES/MGSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Overview" url="MMGEN_Overview.aspx" />
  </screen>
</screens>