<screens>
  <screen id="1" version="1" screen_code="CAADOM">
    <tab id="2" name="Cover Details" url="CAADOM_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="CADOMRSN" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CADOMRSN/CADOMRSN_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Houseowners Buildings" url="CAADOM_Houseowners_Buildings.aspx">
      <screen id="3_1" version="1" screen_code="BLDENDPRM" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="BLDENDPRM/BLDENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="MMBNOTE" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="MMBNOTE/MMBNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MMBSNOTE" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="MMBSNOTE/MMBSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Household Contents" url="CAADOM_Household_Contents.aspx">
      <screen id="4_1" version="1" screen_code="MCENDPRM" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="MCENDPRM/MCENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MMCNOTE" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="MMCNOTE/MMCNOTE_Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="MMCSNOTE" screen_type="0">
        <tab id="4_3_1" name="Subjectivities Details" url="MMCSNOTE/MMCSNOTE_Subjectivities_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Personal All Risks" url="CAADOM_Personal_All_Risks.aspx">
      <screen id="5_1" version="1" screen_code="CAAALLRSK" screen_type="0">
        <tab id="5_1_1" name="ALL RISKS" url="CAAALLRSK/CAAALLRSK_ALL_RISKS.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="ARENDPRM" screen_type="0">
        <tab id="5_2_1" name="Endorsement Premium" url="ARENDPRM/ARENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="ARMNOTE" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="ARMNOTE/ARMNOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="ARMSNOTE" screen_type="0">
        <tab id="5_4_1" name="Subjectivities Details" url="ARMSNOTE/ARMSNOTE_Subjectivities_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Mechanical and Electrical Breakdown" url="CAADOM_Mechanical_and_Electrical_Breakdown.aspx">
      <screen id="6_1" version="1" screen_code="CMEENDPREM" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="CMEENDPREM/CMEENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="CAANOTES" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="CAANOTES/CAANOTES_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="CAASNOTES" screen_type="0">
        <tab id="6_3_1" name="Subjectivities Details" url="CAASNOTES/CAASNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>