<screens>
  <screen id="1" version="1" screen_code="CMACL">
    <tab id="2" name="Risk" url="CMACL_Risk.aspx">
      <screen id="2_1" version="1" screen_code="PLENDPREM" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="PLENDPREM/PLENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="PLNOTES" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="PLNOTES/PLNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="PLSNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="PLSNOTES/PLSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="PDENDPREM" screen_type="0">
        <tab id="2_4_1" name="Endorsement Premium" url="PDENDPREM/PDENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="PDNOTES" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="PDNOTES/PDNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_6" version="1" screen_code="PDSNOTES" screen_type="0">
        <tab id="2_6_1" name="Note Details" url="PDSNOTES/PDSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="CMACL_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="CLREFER" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="CLREFER/CLREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>