<screens>
  <screen id="1" version="1" screen_code="CCAAMBCLM">
    <tab id="2" name="Claim Information" url="CCAAMBCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="AMBTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="AMBTRAIL/AMBTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Claim Selection" url="CCAAMBCLM_Claim_Selection.aspx" />
    <tab id="4" name="Machinery Breakdown" url="CCAAMBCLM_Machinery_Breakdown.aspx">
      <screen id="4_1" version="1" screen_code="CAMBITMCL" screen_type="0">
        <tab id="4_1_1" name="Machinery Breakdown Item Details" url="CAMBITMCL/CAMBITMCL_Machinery_Breakdown_Item_Details.aspx">
          <screen id="4_1_1_1" version="1" screen_code="CAMBITMPC" screen_type="0">
            <tab id="4_1_1_1_1" name="Endorsement Premium" url="CAMBITMCL/CAMBITMPC/CAMBITMPC_Endorsement_Premium.aspx" />
          </screen>
          <screen id="4_1_1_2" version="1" screen_code="CAMBITMNTC" screen_type="0">
            <tab id="4_1_1_2_1" name="Note Details" url="CAMBITMCL/CAMBITMNTC/CAMBITMNTC_Note_Details.aspx" />
          </screen>
          <screen id="4_1_1_3" version="1" screen_code="CAMITMSNTC" screen_type="0">
            <tab id="4_1_1_3_1" name="Note Details" url="CAMBITMCL/CAMITMSNTC/CAMITMSNTC_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="4_2" version="1" screen_code="CAMBOTXTCL" screen_type="0">
        <tab id="4_2_1" name="Other Machinery Breakdown Extensions" url="CAMBOTXTCL/CAMBOTXTCL_Other_Machinery_Breakdown_Extensions.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="CAMBFAPCL" screen_type="0">
        <tab id="4_3_1" name="First Amount Payable" url="CAMBFAPCL/CAMBFAPCL_First_Amount_Payable.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="CAMBEPCLM" screen_type="0">
        <tab id="4_4_1" name="Endorsement Premium" url="CAMBEPCLM/CAMBEPCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_5" version="1" screen_code="CAMBNTSCL" screen_type="0">
        <tab id="4_5_1" name="Machinery Breakdown Note Details" url="CAMBNTSCL/CAMBNTSCL_Machinery_Breakdown_Note_Details.aspx" />
      </screen>
      <screen id="4_6" version="1" screen_code="CAMBSNTSCL" screen_type="0">
        <tab id="4_6_1" name="Note Details" url="CAMBSNTSCL/CAMBSNTSCL_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Consequential Loss" url="CCAAMBCLM_Consequential_Loss.aspx">
      <screen id="5_1" version="1" screen_code="AMBCEPCLM" screen_type="0">
        <tab id="5_1_1" name="Endorsement Premium" url="AMBCEPCLM/AMBCEPCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="AMBCLNTSCL" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="AMBCLNTSCL/AMBCLNTSCL_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="AMBCLSNTSC" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="AMBCLSNTSC/AMBCLSNTSC_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Deterioration of Stock" url="CCAAMBCLM_Deterioration_of_Stock.aspx">
      <screen id="6_1" version="1" screen_code="AMBDSITMCL" screen_type="0">
        <tab id="6_1_1" name="Deterioration of Stock Items Details" url="AMBDSITMCL/AMBDSITMCL_Deterioration_of_Stock_Items_Details.aspx">
          <screen id="6_1_1_1" version="1" screen_code="AMBDSIEPC" screen_type="0">
            <tab id="6_1_1_1_1" name="Endorsement Premium" url="AMBDSITMCL/AMBDSIEPC/AMBDSIEPC_Endorsement_Premium.aspx" />
          </screen>
          <screen id="6_1_1_2" version="1" screen_code="AMBDSINTSC" screen_type="0">
            <tab id="6_1_1_2_1" name="Note Details" url="AMBDSITMCL/AMBDSINTSC/AMBDSINTSC_Note_Details.aspx" />
          </screen>
          <screen id="6_1_1_3" version="1" screen_code="ABDSISNTSC" screen_type="0">
            <tab id="6_1_1_3_1" name="Note Details" url="AMBDSITMCL/ABDSISNTSC/ABDSISNTSC_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="6_2" version="1" screen_code="AMBDSEPCLM" screen_type="0">
        <tab id="6_2_1" name="Endorsement Premium" url="AMBDSEPCLM/AMBDSEPCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="AMBDSNTSCL" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="AMBDSNTSCL/AMBDSNTSCL_Note_Details.aspx" />
      </screen>
      <screen id="6_4" version="1" screen_code="AMBDSSNTSC" screen_type="0">
        <tab id="6_4_1" name="Note Details" url="AMBDSSNTSC/AMBDSSNTSC_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Overview" url="CCAAMBCLM_Overview.aspx" />
    <tab id="8" name="Third Party" url="CCAAMBCLM_Third_Party.aspx">
      <screen id="8_1" version="1" screen_code="CAMBPARTY" screen_type="0">
        <tab id="8_1_1" name="Third Party Recoveries" url="CAMBPARTY/CAMBPARTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="CAMBWTN" screen_type="0">
        <tab id="8_2_1" name="Witness" url="CAMBWTN/CAMBWTN_Witness.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="CAMBATT" screen_type="0">
        <tab id="8_3_1" name="Attorney" url="CAMBATT/CAMBATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Claim Notes" url="CCAAMBCLM_Claim_Notes.aspx">
      <screen id="9_1" version="1" screen_code="CAAMCNOTE" screen_type="0">
        <tab id="9_1_1" name="Claims Internal Notes" url="CAAMCNOTE/CAAMCNOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="CAAMSNOTE" screen_type="0">
        <tab id="9_2_1" name="Claims External Notes" url="CAAMSNOTE/CAAMSNOTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Perils" url="CCAAMBCLM_Perils.aspx" />
  </screen>
</screens>