<screens>
  <screen id="1" version="1" screen_code="CBASRSK">
    <tab id="2" name="Cover Details" url="CBASRSK_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="SUPDEDUC" screen_type="0">
        <tab id="2_1_1" name="Deductibles" url="SUPDEDUC/SUPDEDUC_Deductibles.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="SRENDOS" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="SRENDOS/SRENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="SRNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="SRNOTES/SRNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="SRSNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="SRSNOTES/SRSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>