<screens>
  <screen id="1" version="1" screen_code="HTPAD">
    <tab id="2" name="Premises Insured" url="HTPAD_Premises_Insured.aspx">
      <screen id="2_1" version="1" screen_code="CMAMFLMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMAMFLMTA/CMAMFLMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>