<screens>
  <screen id="1" version="1" screen_code="CMAMONEY">
    <tab id="2" name="Risk Details" url="CMAMONEY_Risk_Details.aspx">
      <screen id="2_1" version="1" screen_code="TOSAFE" screen_type="0">
        <tab id="2_1_1" name="Type of Safe" url="TOSAFE/TOSAFE_Type_of_Safe.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="MYENDPREM" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="MYENDPREM/MYENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="MYNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="MYNOTES/MYNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="MYSNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="MYSNOTES/MYSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="CMAMONEY_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="MYREFER" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="MYREFER/MYREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>