<screens>
  <screen id="1" version="1" screen_code="CCAEE">
    <tab id="2" name="Electronic Equipment" url="CCAEE_Electronic_Equipment.aspx">
      <screen id="2_1" version="1" screen_code="CEEQCHILD" screen_type="0">
        <tab id="2_1_1" name="Electric Equipment Details" url="CEEQCHILD/CEEQCHILD_Electric_Equipment_Details.aspx">
          <screen id="2_1_1_1" version="1" screen_code="EECHLDEP" screen_type="0">
            <tab id="2_1_1_1_1" name="Endorsement Premium" url="CEEQCHILD/EECHLDEP/EECHLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="2_1_1_2" version="1" screen_code="CEENOTES" screen_type="0">
            <tab id="2_1_1_2_1" name="Note Details" url="CEEQCHILD/CEENOTES/CEENOTES_Note_Details.aspx" />
          </screen>
          <screen id="2_1_1_3" version="1" screen_code="CEESNOTES" screen_type="0">
            <tab id="2_1_1_3_1" name="Note Details" url="CEEQCHILD/CEESNOTES/CEESNOTES_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="2_2" version="1" screen_code="CEEQMP" screen_type="0">
        <tab id="2_2_1" name="Multiple Premises" url="CEEQMP/CEEQMP_Multiple_Premises.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="EENDPREM" screen_type="0">
        <tab id="2_3_1" name="Endorsement Premium" url="EENDPREM/EENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="EENOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="EENOTES/EENOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="EESNOTES" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="EESNOTES/EESNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>