<screens>
  <screen id="1" version="1" screen_code="CMAWC">
    <tab id="2" name="Risk Details" url="CMAWC_Risk_Details.aspx">
      <screen id="2_1" version="1" screen_code="WCENDPREM" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="WCENDPREM/WCENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="WCNOTES" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="WCNOTES/WCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="WCSNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="WCSNOTES/WCSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="CMAWC_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="WCREFER" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="WCREFER/WCREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>