<screens>
  <screen id="1" version="1" screen_code="PCRAFTCLM">
    <tab id="2" name="Claim Information" url="PCRAFTCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="PCRTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="PCRTRAIL/PCRTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="PCRAFTCLM_Underwriting_Information.aspx" />
    <tab id="4" name="Third Party" url="PCRAFTCLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="PCRTPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="PCRTPARTY/PCRTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Claim Notes" url="PCRAFTCLM_Claim_Notes.aspx">
      <screen id="5_1" version="1" screen_code="PCRCLMNOTE" screen_type="0">
        <tab id="5_1_1" name="Claims Internal Notes" url="PCRCLMNOTE/PCRCLMNOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="PCRCLEXNTE" screen_type="0">
        <tab id="5_2_1" name="Claims External Notes" url="PCRCLEXNTE/PCRCLEXNTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="PCRAFTCLM_Perils.aspx" />
  </screen>
</screens>