<screens>
  <screen id="1" version="1" screen_code="HTPMF">
    <tab id="2" name="Premises Insured" url="HTPMF_Premises_Insured.aspx">
      <screen id="2_1" version="1" screen_code="CMAMFLMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMAMFLMTA/CMAMFLMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Fleet Details" url="HTPMF_Fleet_Details.aspx">
      <screen id="3_1" version="1" screen_code="MFFLEETDET" screen_type="0">
        <tab id="3_1_1" name="Fleet Cover Details" url="MFFLEETDET/MFFLEETDET_Fleet_Cover_Details.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="MFVECHDET" screen_type="0">
        <tab id="3_2_1" name="Vehicle Details" url="MFVECHDET/MFVECHDET_Vehicle_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MMSOUND" screen_type="0">
        <tab id="3_3_1" name="Sound Equipment" url="MMSOUND/MMSOUND_Sound_Equipment.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="MFPARTY" screen_type="0">
        <tab id="3_4_1" name="Interest Parties" url="MFPARTY/MFPARTY_Interest_Parties.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Liabilities" url="HTPMF_Liabilities.aspx" />
    <tab id="5" name="Extensions" url="HTPMF_Extensions.aspx" />
    <tab id="6" name="Endorsements" url="HTPMF_Endorsements.aspx">
      <screen id="6_1" version="1" screen_code="MFENDPREM" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="MFENDPREM/MFENDPREM_Endorsement_Premium.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Notes" url="HTPMF_Notes.aspx">
      <screen id="7_1" version="1" screen_code="MFNOTES" screen_type="0">
        <tab id="7_1_1" name="Note Details" url="MFNOTES/MFNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="MFSNOTES" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="MFSNOTES/MFSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Financial Overview" url="HTPMF_Financial_Overview.aspx" />
  </screen>
</screens>