<screens>
  <screen id="1" version="1" screen_code="CONWORKINS">
    <tab id="2" name="Contract Works" url="CONWORKINS_Contract_Works.aspx">
      <screen id="2_1" version="1" screen_code="CONTESTPER" screen_type="0">
        <tab id="2_1_1" name="Testing Period" url="CONTESTPER/CONTESTPER_Testing_Period.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risks" url="CONWORKINS_Risks.aspx">
      <screen id="3_1" version="1" screen_code="REINSUINW" screen_type="0">
        <tab id="3_1_1" name="Inwards Details" url="REINSUINW/REINSUINW_Inwards_Details.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="OEXTLIM" screen_type="0">
        <tab id="3_2_1" name="Other Extensions or Limitations" url="OEXTLIM/OEXTLIM_Other_Extensions_or_Limitations.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="COWENDOS" screen_type="0">
        <tab id="3_3_1" name="Endorsement Premium" url="COWENDOS/COWENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="CWONOTES" screen_type="0">
        <tab id="3_4_1" name="Note Details" url="CWONOTES/CWONOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="CCWNOTES" screen_type="0">
        <tab id="3_5_1" name="Notes Details" url="CCWNOTES/CCWNOTES_Notes_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Deductibles" url="CONWORKINS_Deductibles.aspx">
      <screen id="4_1" version="1" screen_code="DEDE" screen_type="0">
        <tab id="4_1_1" name="Contract Value Bands Deductibles" url="DEDE/DEDE_Contract_Value_Bands_Deductibles.aspx">
          <screen id="4_1_1_1" version="1" screen_code="CADDED" screen_type="0">
            <tab id="4_1_1_1_1" name="Additional Deductibles" url="DEDE/CADDED/CADDED_Additional_Deductibles.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="4_2" version="1" screen_code="NONDED" screen_type="0">
        <tab id="4_2_1" name="Additional Non Band Deductible" url="NONDED/NONDED_Additional_Non_Band_Deductible.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Construction Public Liability" url="CONWORKINS_Construction_Public_Liability.aspx">
      <screen id="5_1" version="1" screen_code="CONADDDED" screen_type="0">
        <tab id="5_1_1" name="Additional Deductible Detail" url="CONADDDED/CONADDDED_Additional_Deductible_Detail.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="OTHREXT" screen_type="0">
        <tab id="5_2_1" name="Other Extensions" url="OTHREXT/OTHREXT_Other_Extensions.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="CWIENDOSE" screen_type="0">
        <tab id="5_3_1" name="Endorsement Premium" url="CWIENDOSE/CWIENDOSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="CWISNOTE" screen_type="0">
        <tab id="5_4_1" name="Notes Detials" url="CWISNOTE/CWISNOTE_Notes_Detials.aspx" />
      </screen>
      <screen id="5_5" version="1" screen_code="CWINOTES" screen_type="0">
        <tab id="5_5_1" name="Note Details" url="CWINOTES/CWINOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Reinsurance" url="CONWORKINS_Reinsurance.aspx" />
  </screen>
</screens>