<screens>
  <screen id="1" version="1" screen_code="PCOMPEQCLM">
    <tab id="2" name="Claim Information" url="PCOMPEQCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="PCTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="PCTRAIL/PCTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="PCOMPEQCLM_Underwriting_Information.aspx">
      <screen id="3_1" version="1" screen_code="PCOMPCLM" screen_type="0">
        <tab id="3_1_1" name="Personal Computer Equipment" url="PCOMPCLM/PCOMPCLM_Personal_Computer_Equipment.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Third Party" url="PCOMPEQCLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="PCTPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="PCTPARTY/PCTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Notes" url="PCOMPEQCLM_Notes.aspx">
      <screen id="5_1" version="1" screen_code="PEQNOTES" screen_type="0">
        <tab id="5_1_1" name="Claims Internal Notes" url="PEQNOTES/PEQNOTES_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="PCEXNOTE" screen_type="0">
        <tab id="5_2_1" name="Claims External Notes" url="PCEXNOTE/PCEXNOTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="PCOMPEQCLM_Perils.aspx" />
  </screen>
</screens>