<screens>
  <screen id="1" version="1" screen_code="CMAMOTTRD">
    <tab id="2" name="Risk Details" url="CMAMOTTRD_Risk_Details.aspx">
      <screen id="2_1" version="1" screen_code="SAENDORSE" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="SAENDORSE/SAENDORSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="SANOTES" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="SANOTES/SANOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="SASNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="SASNOTES/SASNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="SBENDORSE" screen_type="0">
        <tab id="2_4_1" name="Endorsement Premium" url="SBENDORSE/SBENDORSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="SBNOTES" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="SBNOTES/SBNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_6" version="1" screen_code="SBSNOTES" screen_type="0">
        <tab id="2_6_1" name="Note Details" url="SBSNOTES/SBSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_7" version="1" screen_code="SCENDORSE" screen_type="0">
        <tab id="2_7_1" name="Endorsement Premium" url="SCENDORSE/SCENDORSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_8" version="1" screen_code="SCNOTES" screen_type="0">
        <tab id="2_8_1" name="Note Details" url="SCNOTES/SCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_9" version="1" screen_code="SCSNOTES" screen_type="0">
        <tab id="2_9_1" name="Note Details" url="SCSNOTES/SCSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_10" version="1" screen_code="SDPMT" screen_type="0">
        <tab id="2_10_1" name="Risk Details" url="SDPMT/SDPMT_Risk_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>