<screens>
  <screen id="1" version="1" screen_code="MACBRKCLM">
    <tab id="2" name="Claim Information" url="MACBRKCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="CMBTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="CMBTRAIL/CMBTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="MACBRKCLM_Underwriting_Information.aspx">
      <screen id="3_1" version="1" screen_code="CMBRKDETS" screen_type="0">
        <tab id="3_1_1" name="Machinery Breakdown and Consequential Loss" url="CMBRKDETS/CMBRKDETS_Machinery_Breakdown_and_Consequential_Loss.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Machinery Extensions" url="MACBRKCLM_Machinery_Extensions.aspx">
      <screen id="4_1" version="1" screen_code="CMBEXTCLM" screen_type="0">
        <tab id="4_1_1" name="Other Extensions" url="CMBEXTCLM/CMBEXTCLM_Other_Extensions.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Consequential Loss Extensions" url="MACBRKCLM_Consequential_Loss_Extensions.aspx">
      <screen id="5_1" version="1" screen_code="MBCLEXTCLM" screen_type="0">
        <tab id="5_1_1" name="Other Consequential Loss Extensions" url="MBCLEXTCLM/MBCLEXTCLM_Other_Consequential_Loss_Extensions.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Third Party" url="MACBRKCLM_Third_Party.aspx">
      <screen id="6_1" version="1" screen_code="CMBTPARTY" screen_type="0">
        <tab id="6_1_1" name="Third Party Recoveries" url="CMBTPARTY/CMBTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Assessment Details" url="MACBRKCLM_Assessment_Details.aspx">
      <screen id="7_1" version="1" screen_code="CMBASSESS" screen_type="0">
        <tab id="7_1_1" name="Details of Assessor" url="CMBASSESS/CMBASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="CMBATTORN" screen_type="0">
        <tab id="7_2_1" name="Details of Attorneys" url="CMBATTORN/CMBATTORN_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="CMBWITN" screen_type="0">
        <tab id="7_3_1" name="Details of Witnesses" url="CMBWITN/CMBWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Perils" url="MACBRKCLM_Perils.aspx" />
  </screen>
</screens>