<screens>
  <screen id="1" version="1" screen_code="CAAMSC">
    <tab id="2" name="Risk Selection" url="CAAMSC_Risk_Selection.aspx">
      <screen id="2_1" version="1" screen_code="CAA_CMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CAA_CMTA/CAA_CMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Business All Risk" url="CAAMSC_Business_All_Risk.aspx">
      <screen id="3_1" version="1" screen_code="MABARSK" screen_type="0">
        <tab id="3_1_1" name="Business All Risk" url="MABARSK/MABARSK_Business_All_Risk.aspx">
          <screen id="3_1_1_1" version="1" screen_code="MBRCHLDEP" screen_type="0">
            <tab id="3_1_1_1_1" name="Endorsement Premium" url="MABARSK/MBRCHLDEP/MBRCHLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="3_1_1_2" version="1" screen_code="MABANOTE" screen_type="0">
            <tab id="3_1_1_2_1" name="Note Details" url="MABARSK/MABANOTE/MABANOTE_Note_Details.aspx" />
          </screen>
          <screen id="3_1_1_3" version="1" screen_code="MABASNOTE" screen_type="0">
            <tab id="3_1_1_3_1" name="Note Details" url="MABARSK/MABASNOTE/MABASNOTE_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="3_2" version="1" screen_code="CA_BRENPRM" screen_type="0">
        <tab id="3_2_1" name="Endorsement Premium" url="CA_BRENPRM/CA_BRENPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="CA_BRNOTE" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="CA_BRNOTE/CA_BRNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="CA_BRSNOTE" screen_type="0">
        <tab id="3_4_1" name="Note Details" url="CA_BRSNOTE/CA_BRSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Theft" url="CAAMSC_Theft.aspx">
      <screen id="4_1" version="1" screen_code="CA_THFTEND" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="CA_THFTEND/CA_THFTEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="CA_THFNOTE" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="CA_THFNOTE/CA_THFNOTE_Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="CA_THFSNTE" screen_type="0">
        <tab id="4_3_1" name="Note Details" url="CA_THFSNTE/CA_THFSNTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Money" url="CAAMSC_Money.aspx">
      <screen id="5_1" version="1" screen_code="CA_MNYSAFE" screen_type="0">
        <tab id="5_1_1" name="Type of Safe" url="CA_MNYSAFE/CA_MNYSAFE_Type_of_Safe.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="CA_MNYEND" screen_type="0">
        <tab id="5_2_1" name="Endorsement Premium" url="CA_MNYEND/CA_MNYEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="CA_MNYNOTE" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="CA_MNYNOTE/CA_MNYNOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="CA_MNYSNTE" screen_type="0">
        <tab id="5_4_1" name="Note Details" url="CA_MNYSNTE/CA_MNYSNTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Goods In Transit" url="CAAMSC_Goods_In_Transit.aspx">
      <screen id="6_1" version="1" screen_code="GT_ENPREM" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="GT_ENPREM/GT_ENPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="GT_NOTES" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="GT_NOTES/GT_NOTES_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="GT_SNOTES" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="GT_SNOTES/GT_SNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Group Personal Accident" url="CAAMSC_Group_Personal_Accident.aspx">
      <screen id="7_1" version="1" screen_code="PA_ENPRM" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="PA_ENPRM/PA_ENPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="PA_NOTES" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="PA_NOTES/PA_NOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="PA_SNOTES" screen_type="0">
        <tab id="7_3_1" name="Notes Details" url="PA_SNOTES/PA_SNOTES_Notes_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Stated Benefits" url="CAAMSC_Stated_Benefits.aspx">
      <screen id="8_1" version="1" screen_code="SB_ENDPRM" screen_type="0">
        <tab id="8_1_1" name="Endorsement Premium" url="SB_ENDPRM/SB_ENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="SB_NOTES" screen_type="0">
        <tab id="8_2_1" name="Note Details" url="SB_NOTES/SB_NOTES_Note_Details.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="SB_SNOTES" screen_type="0">
        <tab id="8_3_1" name="Note Details" url="SB_SNOTES/SB_SNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Fidelity" url="CAAMSC_Fidelity.aspx">
      <screen id="9_1" version="1" screen_code="NCTBASISF" screen_type="0">
        <tab id="9_1_1" name="Name Category Basis" url="NCTBASISF/NCTBASISF_Name_Category_Basis.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="FR_ENDPRM" screen_type="0">
        <tab id="9_2_1" name="Endorsement Premium" url="FR_ENDPRM/FR_ENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="9_3" version="1" screen_code="FR_NOTES" screen_type="0">
        <tab id="9_3_1" name="Note Details" url="FR_NOTES/FR_NOTES_Note_Details.aspx" />
      </screen>
      <screen id="9_4" version="1" screen_code="FR_SNOTES" screen_type="0">
        <tab id="9_4_1" name="Note Details" url="FR_SNOTES/FR_SNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Electronic Equipment" url="CAAMSC_Electronic_Equipment.aspx">
      <screen id="10_1" version="1" screen_code="CA_EELCHLD" screen_type="0">
        <tab id="10_1_1" name="Electric Equipment Details" url="CA_EELCHLD/CA_EELCHLD_Electric_Equipment_Details.aspx">
          <screen id="10_1_1_1" version="1" screen_code="CA_EECHLD" screen_type="0">
            <tab id="10_1_1_1_1" name="Endorsement Premium" url="CA_EELCHLD/CA_EECHLD/CA_EECHLD_Endorsement_Premium.aspx" />
          </screen>
          <screen id="10_1_1_2" version="1" screen_code="EEENOTES" screen_type="0">
            <tab id="10_1_1_2_1" name="Note Details" url="CA_EELCHLD/EEENOTES/EEENOTES_Note_Details.aspx" />
          </screen>
          <screen id="10_1_1_3" version="1" screen_code="EEESNOTES" screen_type="0">
            <tab id="10_1_1_3_1" name="Note Details" url="CA_EELCHLD/EEESNOTES/EEESNOTES_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="10_2" version="1" screen_code="CA_EEQMP" screen_type="0">
        <tab id="10_2_1" name="Multiple Premises" url="CA_EEQMP/CA_EEQMP_Multiple_Premises.aspx" />
      </screen>
      <screen id="10_3" version="1" screen_code="CA_EENDPRM" screen_type="0">
        <tab id="10_3_1" name="Endorsement Premium" url="CA_EENDPRM/CA_EENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="10_4" version="1" screen_code="CA_EENOTE" screen_type="0">
        <tab id="10_4_1" name="Note Details" url="CA_EENOTE/CA_EENOTE_Note_Details.aspx" />
      </screen>
      <screen id="10_5" version="1" screen_code="CA_EESNOTE" screen_type="0">
        <tab id="10_5_1" name="Note Details" url="CA_EESNOTE/CA_EESNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Machinery Breakdown Risk Select" url="CAAMSC_Machinery_Breakdown_Risk_Select.aspx" />
    <tab id="12" name="Machinery Breakdown" url="CAAMSC_Machinery_Breakdown.aspx">
      <screen id="12_1" version="1" screen_code="MBKITEMS" screen_type="0">
        <tab id="12_1_1" name="Machinery Breakdown" url="MBKITEMS/MBKITEMS_Machinery_Breakdown.aspx">
          <screen id="12_1_1_1" version="1" screen_code="MBK_TMP" screen_type="0">
            <tab id="12_1_1_1_1" name="Endorsement Premium" url="MBKITEMS/MBK_TMP/MBK_TMP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="12_1_1_2" version="1" screen_code="MBK_NOTE" screen_type="0">
            <tab id="12_1_1_2_1" name="Note Details" url="MBKITEMS/MBK_NOTE/MBK_NOTE_Note_Details.aspx" />
          </screen>
          <screen id="12_1_1_3" version="1" screen_code="MBK_SNOTE" screen_type="0">
            <tab id="12_1_1_3_1" name="Note Details" url="MBKITEMS/MBK_SNOTE/MBK_SNOTE_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="12_2" version="1" screen_code="CA_MBEXT" screen_type="0">
        <tab id="12_2_1" name="Other Machinery Breakdown Extensions" url="CA_MBEXT/CA_MBEXT_Other_Machinery_Breakdown_Extensions.aspx" />
      </screen>
      <screen id="12_3" version="1" screen_code="CA_MB_FAP" screen_type="0">
        <tab id="12_3_1" name="First Amount Payable" url="CA_MB_FAP/CA_MB_FAP_First_Amount_Payable.aspx" />
      </screen>
      <screen id="12_4" version="1" screen_code="CA_MBEDPRM" screen_type="0">
        <tab id="12_4_1" name="Endorsement Premium" url="CA_MBEDPRM/CA_MBEDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="12_5" version="1" screen_code="CA_MBNOTE" screen_type="0">
        <tab id="12_5_1" name="Note Details" url="CA_MBNOTE/CA_MBNOTE_Note_Details.aspx" />
      </screen>
      <screen id="12_6" version="1" screen_code="CA_MBSNOTE" screen_type="0">
        <tab id="12_6_1" name="Note Details" url="CA_MBSNOTE/CA_MBSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="13" name="Consequential Loss" url="CAAMSC_Consequential_Loss.aspx">
      <screen id="13_1" version="1" screen_code="COL_ENDPRM" screen_type="0">
        <tab id="13_1_1" name="Endorsement Premium" url="COL_ENDPRM/COL_ENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="13_2" version="1" screen_code="COL_NOTE" screen_type="0">
        <tab id="13_2_1" name="Note Details" url="COL_NOTE/COL_NOTE_Note_Details.aspx" />
      </screen>
      <screen id="13_3" version="1" screen_code="COL_SNOTE" screen_type="0">
        <tab id="13_3_1" name="Note Details" url="COL_SNOTE/COL_SNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="14" name="Deterioration of Stock" url="CAAMSC_Deterioration_of_Stock.aspx">
      <screen id="14_1" version="1" screen_code="CAA_DSITEM" screen_type="0">
        <tab id="14_1_1" name="Deterioration of Stock" url="CAA_DSITEM/CAA_DSITEM_Deterioration_of_Stock.aspx">
          <screen id="14_1_1_1" version="1" screen_code="DSIEDPRM" screen_type="0">
            <tab id="14_1_1_1_1" name="Endorsement Premium" url="CAA_DSITEM/DSIEDPRM/DSIEDPRM_Endorsement_Premium.aspx" />
          </screen>
          <screen id="14_1_1_2" version="1" screen_code="DSINTS_" screen_type="0">
            <tab id="14_1_1_2_1" name="Note Details" url="CAA_DSITEM/DSINTS_/DSINTS__Note_Details.aspx" />
          </screen>
          <screen id="14_1_1_3" version="1" screen_code="DSISNTS_" screen_type="0">
            <tab id="14_1_1_3_1" name="Note Details" url="CAA_DSITEM/DSISNTS_/DSISNTS__Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="14_2" version="1" screen_code="DS_EDPRM" screen_type="0">
        <tab id="14_2_1" name="Endorsement Premium" url="DS_EDPRM/DS_EDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="14_3" version="1" screen_code="DS_NOTES" screen_type="0">
        <tab id="14_3_1" name="Note Details" url="DS_NOTES/DS_NOTES_Note_Details.aspx" />
      </screen>
      <screen id="14_4" version="1" screen_code="DS_SNOTES" screen_type="0">
        <tab id="14_4_1" name="Note Details" url="DS_SNOTES/DS_SNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="15" name="Machinery Breakdown Overview" url="CAAMSC_Machinery_Breakdown_Overview.aspx" />
    <tab id="16" name="Referrals" url="CAAMSC_Referrals.aspx">
      <screen id="16_1" version="1" screen_code="CAAMSCREF" screen_type="0">
        <tab id="16_1_1" name="Referral Details" url="CAAMSCREF/CAAMSCREF_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>