<screens>
  <screen id="1" version="1" screen_code="MSPPC">
    <tab id="2" name="Pleasure Craft" url="MSPPC_Pleasure_Craft.aspx">
      <screen id="2_1" version="1" screen_code="MSPPCENPR" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="MSPPCENPR/MSPPCENPR_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="MSPPCNPN" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="MSPPCNPN/MSPPCNPN_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="MSPPCNDP" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="MSPPCNDP/MSPPCNDP_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="MSPPC_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="MPCREFER" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="MPCREFER/MPCREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>