<screens>
  <screen id="1" version="1" screen_code="CAAMS">
    <tab id="2" name="Address" url="CAAMS_Address.aspx">
      <screen id="2_1" version="1" screen_code="CAAMSPMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CAAMSPMTA/CAAMSPMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Vehicle Type" url="CAAMS_Vehicle_Type.aspx" />
    <tab id="4" name="Vehicle Details" url="CAAMS_Vehicle_Details.aspx">
      <screen id="4_1" version="1" screen_code="SPECACRY" screen_type="0">
        <tab id="4_1_1" name="Accessory Information" url="SPECACRY/SPECACRY_Accessory_Information.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="SSOUNDE" screen_type="0">
        <tab id="4_2_1" name="Sound Equipment" url="SSOUNDE/SSOUNDE_Sound_Equipment.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="DRIVERDT" screen_type="0">
        <tab id="4_3_1" name="Specified Driver Information" url="DRIVERDT/DRIVERDT_Specified_Driver_Information.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="MADCOMP" screen_type="0">
        <tab id="4_4_1" name="Additional Compulsory First Amount Payable" url="MADCOMP/MADCOMP_Additional_Compulsory_First_Amount_Payable.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Liabilities" url="CAAMS_Liabilities.aspx" />
    <tab id="6" name="Extensions" url="CAAMS_Extensions.aspx" />
    <tab id="7" name="Endorsements" url="CAAMS_Endorsements.aspx">
      <screen id="7_1" version="1" screen_code="MSPENDPRM" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="MSPENDPRM/MSPENDPRM_Endorsement_Premium.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Notes" url="CAAMS_Notes.aspx">
      <screen id="8_1" version="1" screen_code="MSNOTE" screen_type="0">
        <tab id="8_1_1" name="Note Details" url="MSNOTE/MSNOTE_Note_Details.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="MSSNOTE" screen_type="0">
        <tab id="8_2_1" name="Note Details" url="MSSNOTE/MSSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Referrals" url="CAAMS_Referrals.aspx">
      <screen id="9_1" version="1" screen_code="MSREF" screen_type="0">
        <tab id="9_1_1" name="Referral Details" url="MSREF/MSREF_Referral_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Financial Overview" url="CAAMS_Financial_Overview.aspx" />
  </screen>
</screens>