<screens>
  <screen id="1" version="1" screen_code="MOTSPEC">
    <tab id="2" name="Address" url="MOTSPEC_Address.aspx">
      <screen id="2_1" version="1" screen_code="CTAMSPMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CTAMSPMTA/CTAMSPMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Vehicle Type" url="MOTSPEC_Vehicle_Type.aspx" />
    <tab id="4" name="Vehicle Details" url="MOTSPEC_Vehicle_Details.aspx">
      <screen id="4_1" version="1" screen_code="SPECACSRY" screen_type="0">
        <tab id="4_1_1" name="Accessory Information" url="SPECACSRY/SPECACSRY_Accessory_Information.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MSSOUND" screen_type="0">
        <tab id="4_2_1" name="Sound Equipment" url="MSSOUND/MSSOUND_Sound_Equipment.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="DRIVERDTL" screen_type="0">
        <tab id="4_3_1" name="Specified Driver Information" url="DRIVERDTL/DRIVERDTL_Specified_Driver_Information.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="MSADCOMP" screen_type="0">
        <tab id="4_4_1" name="Additional Compulsory First Amount Payable" url="MSADCOMP/MSADCOMP_Additional_Compulsory_First_Amount_Payable.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Liabilities" url="MOTSPEC_Liabilities.aspx" />
    <tab id="6" name="Extensions" url="MOTSPEC_Extensions.aspx" />
    <tab id="7" name="Endorsements" url="MOTSPEC_Endorsements.aspx">
      <screen id="7_1" version="1" screen_code="MSPENDPREM" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="MSPENDPREM/MSPENDPREM_Endorsement_Premium.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Notes" url="MOTSPEC_Notes.aspx">
      <screen id="8_1" version="1" screen_code="MSNOTES" screen_type="0">
        <tab id="8_1_1" name="Note Details" url="MSNOTES/MSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="MSSNOTES" screen_type="0">
        <tab id="8_2_1" name="Note Details" url="MSSNOTES/MSSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Referrals" url="MOTSPEC_Referrals.aspx">
      <screen id="9_1" version="1" screen_code="MSREFER" screen_type="0">
        <tab id="9_1_1" name="Referral Details" url="MSREFER/MSREFER_Referral_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Financial Overview" url="MOTSPEC_Financial_Overview.aspx" />
  </screen>
</screens>