<screens>
  <screen id="1" version="1" screen_code="CMNASRIA">
    <tab id="2" name="NASRIA And Stamp Duty" url="CMNASRIA_NASRIA_And_Stamp_Duty.aspx">
      <screen id="2_1" version="1" screen_code="CMANASBIT" screen_type="0">
        <tab id="2_1_1" name="Business Interruption" url="CMANASBIT/CMANASBIT_Business_Interruption.aspx" />
      </screen>
    </tab>
  </screen>
</screens>