<screens>
  <screen id="1" version="1" screen_code="EVNTLIACLM">
    <tab id="2" name="Claim Information" url="EVNTLIACLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="EVNTLTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="EVNTLTRAIL/EVNTLTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="EVNTLIACLM_Underwriting_Information.aspx" />
    <tab id="4" name="Third Party" url="EVNTLIACLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="ELTPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="ELTPARTY/ELTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Assessment Details" url="EVNTLIACLM_Assessment_Details.aspx">
      <screen id="5_1" version="1" screen_code="ELASSESS" screen_type="0">
        <tab id="5_1_1" name="Details of Assessor" url="ELASSESS/ELASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="ELATTORN" screen_type="0">
        <tab id="5_2_1" name="Details of Attorneys" url="ELATTORN/ELATTORN_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="ELWITN" screen_type="0">
        <tab id="5_3_1" name="Details of Witnesses" url="ELWITN/ELWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="EVNTLIACLM_Perils.aspx" />
  </screen>
</screens>