<screens>
  <screen id="1" version="1" screen_code="MSPCOMH">
    <tab id="2" name="Cover Details" url="MSPCOMH_Cover_Details.aspx" />
    <tab id="3" name="Vessels" url="MSPCOMH_Vessels.aspx">
      <screen id="3_1" version="1" screen_code="MSPCOMHVES" screen_type="0">
        <tab id="3_1_1" name="Vessels" url="MSPCOMHVES/MSPCOMHVES_Vessels.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="MSPCOMHTRD" screen_type="0">
        <tab id="3_2_1" name="Trailer Details" url="MSPCOMHTRD/MSPCOMHTRD_Trailer_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MSPCOMHGEQ" screen_type="0">
        <tab id="3_3_1" name="Gear or Equipments" url="MSPCOMHGEQ/MSPCOMHGEQ_Gear_or_Equipments.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="MSPCOMHEXD" screen_type="0">
        <tab id="3_4_1" name="Excess Details" url="MSPCOMHEXD/MSPCOMHEXD_Excess_Details.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="MSPCOMHENP" screen_type="0">
        <tab id="3_5_1" name="Endorsement Premium" url="MSPCOMHENP/MSPCOMHENP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_6" version="1" screen_code="MSPCOMHNPS" screen_type="0">
        <tab id="3_6_1" name="Note Details" url="MSPCOMHNPS/MSPCOMHNPS_Note_Details.aspx" />
      </screen>
      <screen id="3_7" version="1" screen_code="MSPCOMHPND" screen_type="0">
        <tab id="3_7_1" name="Note Details" url="MSPCOMHPND/MSPCOMHPND_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>