<screens>
  <screen id="1" version="1" screen_code="CDOMCLM">
    <tab id="2" name="Claim Information" url="CDOMCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="CDOMTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="CDOMTRAIL/CDOMTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Building Underwriting Information" url="CDOMCLM_Building_Underwriting_Information.aspx">
      <screen id="3_1" version="1" screen_code="BLDENDCLM" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="BLDENDCLM/BLDENDCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="BCLMNOTES" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="BCLMNOTES/BCLMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="BCLMSNOTES" screen_type="0">
        <tab id="3_3_1" name="Subjectivities Details" url="BCLMSNOTES/BCLMSNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Content Underwriting Information" url="CDOMCLM_Content_Underwriting_Information.aspx">
      <screen id="4_1" version="1" screen_code="MCENDCLM" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="MCENDCLM/MCENDCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="CCLMNOTES" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="CCLMNOTES/CCLMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="CCLMSNOTES" screen_type="0">
        <tab id="4_3_1" name="Subjectivities Details" url="CCLMSNOTES/CCLMSNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Machinery Breakdown Underwriting Information" url="CDOMCLM_Machinery_Breakdown_Underwriting_Information.aspx">
      <screen id="5_1" version="1" screen_code="MMENDCLM" screen_type="0">
        <tab id="5_1_1" name="Endorsement Premium" url="MMENDCLM/MMENDCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="MCLMNOTES" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="MCLMNOTES/MCLMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="MCLMSNOTES" screen_type="0">
        <tab id="5_3_1" name="Subjectivities Details" url="MCLMSNOTES/MCLMSNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Third Party" url="CDOMCLM_Third_Party.aspx">
      <screen id="6_1" version="1" screen_code="CDOMTPRTY" screen_type="0">
        <tab id="6_1_1" name="Third Party Recoveries" url="CDOMTPRTY/CDOMTPRTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="CDOMWTN" screen_type="0">
        <tab id="6_2_1" name="Witness" url="CDOMWTN/CDOMWTN_Witness.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="CDOMATT" screen_type="0">
        <tab id="6_3_1" name="Attorney" url="CDOMATT/CDOMATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Claim Notes" url="CDOMCLM_Claim_Notes.aspx">
      <screen id="7_1" version="1" screen_code="CDOMCNOTE" screen_type="0">
        <tab id="7_1_1" name="Claims Internal Notes" url="CDOMCNOTE/CDOMCNOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="CDOMCSNOTE" screen_type="0">
        <tab id="7_2_1" name="Claims External Notes" url="CDOMCSNOTE/CDOMCSNOTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Perils" url="CDOMCLM_Perils.aspx" />
  </screen>
</screens>