<screens>
  <screen id="1" version="1" screen_code="CAAGRPFIRE">
    <tab id="2" name="Premises Insured" url="CAAGRPFIRE_Premises_Insured.aspx" />
    <tab id="3" name="Risk Selection" url="CAAGRPFIRE_Risk_Selection.aspx">
      <screen id="3_1" version="1" screen_code="BLOKCHLD" screen_type="0">
        <tab id="3_1_1" name="Blocked Risks" url="BLOKCHLD/BLOKCHLD_Blocked_Risks.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Property Combined" url="CAAGRPFIRE_Property_Combined.aspx">
      <screen id="4_1" version="1" screen_code="PC_MLTCHLD" screen_type="0">
        <tab id="4_1_1" name="Multiple Buildings" url="PC_MLTCHLD/PC_MLTCHLD_Multiple_Buildings.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="PC_MISCHLD" screen_type="0">
        <tab id="4_2_1" name="Miscellaneous Item" url="PC_MISCHLD/PC_MISCHLD_Miscellaneous_Item.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="VFPCHLD" screen_type="0">
        <tab id="4_3_1" name="Voluntary Excess" url="VFPCHLD/VFPCHLD_Voluntary_Excess.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="PCENDPRM" screen_type="0">
        <tab id="4_4_1" name="Endorsement Premium" url="PCENDPRM/PCENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_5" version="1" screen_code="PC_FINOTES" screen_type="0">
        <tab id="4_5_1" name="Note Details" url="PC_FINOTES/PC_FINOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_6" version="1" screen_code="CA_FISNTE" screen_type="0">
        <tab id="4_6_1" name="Note Details" url="CA_FISNTE/CA_FISNTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Contents" url="CAAGRPFIRE_Contents.aspx">
      <screen id="5_1" version="1" screen_code="OC_ENDPRM" screen_type="0">
        <tab id="5_1_1" name="Endorsement Premium" url="OC_ENDPRM/OC_ENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="CONT_NOTE" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="CONT_NOTE/CONT_NOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="NCONT_NOTE" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="NCONT_NOTE/NCONT_NOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Business Interruption" url="CAAGRPFIRE_Business_Interruption.aspx">
      <screen id="6_1" version="1" screen_code="CA_SPSUPP" screen_type="0">
        <tab id="6_1_1" name="Specified Suppliers or Sub-Contractors" url="CA_SPSUPP/CA_SPSUPP_Specified_Suppliers_or_SubContractors.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="CA_SPECUST" screen_type="0">
        <tab id="6_2_1" name="Specified Customers" url="CA_SPECUST/CA_SPECUST_Specified_Customers.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="CBIENDPRM" screen_type="0">
        <tab id="6_3_1" name="Endorsement Premium" url="CBIENDPRM/CBIENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_4" version="1" screen_code="CA_BINOTE" screen_type="0">
        <tab id="6_4_1" name="Note Details" url="CA_BINOTE/CA_BINOTE_Note_Details.aspx" />
      </screen>
      <screen id="6_5" version="1" screen_code="CA_BISNOTE" screen_type="0">
        <tab id="6_5_1" name="Note Details" url="CA_BISNOTE/CA_BISNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Accounts Receivable" url="CAAGRPFIRE_Accounts_Receivable.aspx">
      <screen id="7_1" version="1" screen_code="CA_ARENPRM" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="CA_ARENPRM/CA_ARENPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="CA_ARNOTE" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="CA_ARNOTE/CA_ARNOTE_Note_Details.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="CA_ARSNOTE" screen_type="0">
        <tab id="7_3_1" name="Note Details" url="CA_ARSNOTE/CA_ARSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Accidental Damage" url="CAAGRPFIRE_Accidental_Damage.aspx">
      <screen id="8_1" version="1" screen_code="CA_ADENPRM" screen_type="0">
        <tab id="8_1_1" name="Endorsement Premium" url="CA_ADENPRM/CA_ADENPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="CA_ADNOTE" screen_type="0">
        <tab id="8_2_1" name="Note Details" url="CA_ADNOTE/CA_ADNOTE_Note_Details.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="CA_ADSNOTE" screen_type="0">
        <tab id="8_3_1" name="Note Details" url="CA_ADSNOTE/CA_ADSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Overview" url="CAAGRPFIRE_Overview.aspx" />
    <tab id="10" name="Referrals" url="CAAGRPFIRE_Referrals.aspx">
      <screen id="10_1" version="1" screen_code="CAAGFREF" screen_type="0">
        <tab id="10_1_1" name="Referral Details" url="CAAGFREF/CAAGFREF_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>