<screens>
  <screen id="1" version="1" screen_code="ELECEQCLM">
    <tab id="2" name="Claim Information" url="ELECEQCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="CEETRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="CEETRAIL/CEETRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="ELECEQCLM_Underwriting_Information.aspx">
      <screen id="3_1" version="1" screen_code="ELECCLDCLM" screen_type="0">
        <tab id="3_1_1" name="Electronic Equipment Details" url="ELECCLDCLM/ELECCLDCLM_Electronic_Equipment_Details.aspx">
          <screen id="3_1_1_1" version="1" screen_code="EEINTPART" screen_type="0">
            <tab id="3_1_1_1_1" name="Interested Party Details" url="ELECCLDCLM/EEINTPART/EEINTPART_Interested_Party_Details.aspx" />
          </screen>
        </tab>
      </screen>
    </tab>
    <tab id="4" name="Third Party" url="ELECEQCLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="CEETPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="CEETPARTY/CEETPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Ex Gratia" url="ELECEQCLM_Ex_Gratia.aspx">
      <screen id="5_1" version="1" screen_code="CEEGRDTAIL" screen_type="0">
        <tab id="5_1_1" name="Ex Gratia" url="CEEGRDTAIL/CEEGRDTAIL_Ex_Gratia.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Assessment Details" url="ELECEQCLM_Assessment_Details.aspx">
      <screen id="6_1" version="1" screen_code="CEEASSESS" screen_type="0">
        <tab id="6_1_1" name="Details of Assessor" url="CEEASSESS/CEEASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="CEEATTORN" screen_type="0">
        <tab id="6_2_1" name="Details of Attorneys" url="CEEATTORN/CEEATTORN_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="CEEWITN" screen_type="0">
        <tab id="6_3_1" name="Details of Witnesses" url="CEEWITN/CEEWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Perils" url="ELECEQCLM_Perils.aspx" />
  </screen>
</screens>