<screens>
  <screen id="1" version="1" screen_code="HTPPA">
    <tab id="2" name="Personal Accident" url="HTPPA_Personal_Accident.aspx">
      <screen id="2_1" version="1" screen_code="CMAPAMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMAPAMTA/CMAPAMTA_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="TPAENDOSE" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="TPAENDOSE/TPAENDOSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="TPASNOTE" screen_type="0">
        <tab id="2_3_1" name="Notes Details" url="TPASNOTE/TPASNOTE_Notes_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="TPANOTE" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="TPANOTE/TPANOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="HTPPA_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="TPAREFER" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="TPAREFER/TPAREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>