<screens>
  <screen id="1" version="1" screen_code="CMADOM">
    <tab id="2" name="Cover Details" url="CMADOM_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="CMDOMRSN" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMDOMRSN/CMDOMRSN_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Buildings" url="CMADOM_Buildings.aspx">
      <screen id="3_1" version="1" screen_code="BLDENDPREM" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="BLDENDPREM/BLDENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="MMBNOTES" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="MMBNOTES/MMBNOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MMBSNOTES" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="MMBSNOTES/MMBSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Contents" url="CMADOM_Contents.aspx">
      <screen id="4_1" version="1" screen_code="MCENDPREM" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="MCENDPREM/MCENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MMCNOTES" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="MMCNOTES/MMCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="MMCSNOTES" screen_type="0">
        <tab id="4_3_1" name="Subjectivities Details" url="MMCSNOTES/MMCSNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Mechanical and Electrical Breakdown" url="CMADOM_Mechanical_and_Electrical_Breakdown.aspx">
      <screen id="5_1" version="1" screen_code="MMENDPREM" screen_type="0">
        <tab id="5_1_1" name="Endorsement Premium" url="MMENDPREM/MMENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="MMNOTES" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="MMNOTES/MMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="MMSNOTES" screen_type="0">
        <tab id="5_3_1" name="Subjectivities Details" url="MMSNOTES/MMSNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Referrals" url="CMADOM_Referrals.aspx">
      <screen id="6_1" version="1" screen_code="CMDOMREFER" screen_type="0">
        <tab id="6_1_1" name="Referral Details" url="CMDOMREFER/CMDOMREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>