<screens>
  <screen id="1" version="1" screen_code="DNOCLM">
    <tab id="2" name="Claim Information" url="DNOCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="DNOTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="DNOTRAIL/DNOTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="DNOCLM_Underwriting_Information.aspx" />
    <tab id="4" name="Third Party" url="DNOCLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="DNOTPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="DNOTPARTY/DNOTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Assessment Details" url="DNOCLM_Assessment_Details.aspx">
      <screen id="5_1" version="1" screen_code="DNOASSESS" screen_type="0">
        <tab id="5_1_1" name="Details of Assessors" url="DNOASSESS/DNOASSESS_Details_of_Assessors.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="DNOATTORN" screen_type="0">
        <tab id="5_2_1" name="Details of Attorneys" url="DNOATTORN/DNOATTORN_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="DNOWITN" screen_type="0">
        <tab id="5_3_1" name="Details of Witnesses" url="DNOWITN/DNOWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="DNOCLM_Perils.aspx" />
  </screen>
</screens>