<screens>
  <screen id="1" version="1" screen_code="CMAMSCLM">
    <tab id="2" name="Claim Information" url="CMAMSCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="CMSTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="CMSTRAIL/CMSTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risk Details" url="CMAMSCLM_Risk_Details.aspx" />
    <tab id="4" name="Vehicle Details" url="CMAMSCLM_Vehicle_Details.aspx">
      <screen id="4_1" version="1" screen_code="MSACSRYCLM" screen_type="0">
        <tab id="4_1_1" name="Accessory Information" url="MSACSRYCLM/MSACSRYCLM_Accessory_Information.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MSSNDCLM" screen_type="0">
        <tab id="4_2_1" name="Sound Equipment" url="MSSNDCLM/MSSNDCLM_Sound_Equipment.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="MSDDTLCLM" screen_type="0">
        <tab id="4_3_1" name="Specified Driver Information" url="MSDDTLCLM/MSDDTLCLM_Specified_Driver_Information.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="MSADFAPCLM" screen_type="0">
        <tab id="4_4_1" name="Additional Compulsory First Amount Payable" url="MSADFAPCLM/MSADFAPCLM_Additional_Compulsory_First_Amount_Payable.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Liabilities" url="CMAMSCLM_Liabilities.aspx" />
    <tab id="6" name="Extensions" url="CMAMSCLM_Extensions.aspx" />
    <tab id="7" name="Endorsements and Notes" url="CMAMSCLM_Endorsements_and_Notes.aspx">
      <screen id="7_1" version="1" screen_code="MSENDCLM" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="MSENDCLM/MSENDCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="MSNOTECLM" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="MSNOTECLM/MSNOTECLM_Note_Details.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="MSSNOTECLM" screen_type="0">
        <tab id="7_3_1" name="Note Details" url="MSSNOTECLM/MSSNOTECLM_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Third Party" url="CMAMSCLM_Third_Party.aspx">
      <screen id="8_1" version="1" screen_code="CMSTPARTY" screen_type="0">
        <tab id="8_1_1" name="Third Party Recoveries" url="CMSTPARTY/CMSTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="CMSWTN" screen_type="0">
        <tab id="8_2_1" name="Witness" url="CMSWTN/CMSWTN_Witness.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="CMSATT" screen_type="0">
        <tab id="8_3_1" name="Attorney" url="CMSATT/CMSATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Notes" url="CMAMSCLM_Notes.aspx">
      <screen id="9_1" version="1" screen_code="CMSCNCLM" screen_type="0">
        <tab id="9_1_1" name="Claims Internal Notes" url="CMSCNCLM/CMSCNCLM_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="CMSEXCLM" screen_type="0">
        <tab id="9_2_1" name="Claims External Notes" url="CMSEXCLM/CMSEXCLM_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Perils" url="CMAMSCLM_Perils.aspx" />
  </screen>
</screens>