<screens>
  <screen id="1" version="1" screen_code="CAAMG">
    <tab id="2" name="Motor General" url="CAAMG_Motor_General.aspx">
      <screen id="2_1" version="1" screen_code="CAAMGEP" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="CAAMGEP/CAAMGEP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="CAAMGNOTES" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="CAAMGNOTES/CAAMGNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="CAAMGSNOTE" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="CAAMGSNOTE/CAAMGSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>