<screens>
  <screen id="1" version="1" screen_code="TRAVSCHCLM">
    <tab id="2" name="Claim Information" url="TRAVSCHCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="TRAVTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="TRAVTRAIL/TRAVTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="TRAVSCHCLM_Underwriting_Information.aspx" />
    <tab id="4" name="Third Party" url="TRAVSCHCLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="TRAVTPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="TRAVTPARTY/TRAVTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Notes" url="TRAVSCHCLM_Notes.aspx">
      <screen id="5_1" version="1" screen_code="TRAVNOTES" screen_type="0">
        <tab id="5_1_1" name="Claims Internal Notes" url="TRAVNOTES/TRAVNOTES_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="TRAVEXNOTE" screen_type="0">
        <tab id="5_2_1" name="Claims External Notes" url="TRAVEXNOTE/TRAVEXNOTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="TRAVSCHCLM_Perils.aspx" />
  </screen>
</screens>