<screens>
  <screen id="1" version="1" screen_code="MEDMALCLM">
    <tab id="2" name="Claim Information" url="MEDMALCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="MEDTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="MEDTRAIL/MEDTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="MEDMALCLM_Underwriting_Information.aspx" />
    <tab id="4" name="General Liability" url="MEDMALCLM_General_Liability.aspx" />
    <tab id="5" name="Extensions" url="MEDMALCLM_Extensions.aspx" />
    <tab id="6" name="Third Party" url="MEDMALCLM_Third_Party.aspx">
      <screen id="6_1" version="1" screen_code="MEDTPARTY" screen_type="0">
        <tab id="6_1_1" name="Third Party Recoveries" url="MEDTPARTY/MEDTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Assessment Details" url="MEDMALCLM_Assessment_Details.aspx">
      <screen id="7_1" version="1" screen_code="MEDASSESS" screen_type="0">
        <tab id="7_1_1" name="Details of Assessor" url="MEDASSESS/MEDASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="MEDATTORN" screen_type="0">
        <tab id="7_2_1" name="Details of Attorneys" url="MEDATTORN/MEDATTORN_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="MEDWITN" screen_type="0">
        <tab id="7_3_1" name="Details of Witnesses" url="MEDWITN/MEDWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Reserves" url="MEDMALCLM_Reserves.aspx">
      <screen id="8_1" version="1" screen_code="MEDOWNDSCR" screen_type="0">
        <tab id="8_1_1" name="Own Damage Information" url="MEDOWNDSCR/MEDOWNDSCR_Own_Damage_Information.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="MEDSOLSCRN" screen_type="0">
        <tab id="8_2_1" name="Schedule of Loss" url="MEDSOLSCRN/MEDSOLSCRN_Schedule_of_Loss.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="MEDRCVRSC" screen_type="0">
        <tab id="8_3_1" name="Recovery" url="MEDRCVRSC/MEDRCVRSC_Recovery.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Perils" url="MEDMALCLM_Perils.aspx" />
  </screen>
</screens>