<screens>
  <screen id="1" version="1" screen_code="CCACPL">
    <tab id="2" name="Construction Public Liability" url="CCACPL_Construction_Public_Liability.aspx">
      <screen id="2_1" version="1" screen_code="CACPLDED" screen_type="0">
        <tab id="2_1_1" name="Additional Deductibles Details" url="CACPLDED/CACPLDED_Additional_Deductibles_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="CPLEXTNT" screen_type="0">
        <tab id="2_2_1" name="Other Extentions" url="CPLEXTNT/CPLEXTNT_Other_Extentions.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="CAPLENDOSE" screen_type="0">
        <tab id="2_3_1" name="Endorsement Premium" url="CAPLENDOSE/CAPLENDOSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="CAPLSNOTES" screen_type="0">
        <tab id="2_4_1" name="Notes Detials" url="CAPLSNOTES/CAPLSNOTES_Notes_Detials.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="CAPLNOTES" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="CAPLNOTES/CAPLNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="CCACPL_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="CPLREFER" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="CPLREFER/CPLREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>