<screens>
  <screen id="1" version="1" screen_code="BONDTRARSK">
    <tab id="2" name="Risk Details" url="BONDTRARSK_Risk_Details.aspx">
      <screen id="2_1" version="1" screen_code="HNTGMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="HNTGMTA/HNTGMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Airline Guarantees" url="BONDTRARSK_Airline_Guarantees.aspx">
      <screen id="3_1" version="1" screen_code="AIRENDO" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="AIRENDO/AIRENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="AIRNOTES" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="AIRNOTES/AIRNOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="AIRSNOTES" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="AIRSNOTES/AIRSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Customs Guarantees" url="BONDTRARSK_Customs_Guarantees.aspx">
      <screen id="4_1" version="1" screen_code="CUSENDO" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="CUSENDO/CUSENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="CUSNOTES" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="CUSNOTES/CUSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="CUSSNOTES" screen_type="0">
        <tab id="4_3_1" name="Note Details" url="CUSSNOTES/CUSSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Fuel Guarantees" url="BONDTRARSK_Fuel_Guarantees.aspx">
      <screen id="5_1" version="1" screen_code="FUELENDO" screen_type="0">
        <tab id="5_1_1" name="Endorsement Premium" url="FUELENDO/FUELENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="FUELNOTES" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="FUELNOTES/FUELNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="FUESNOTES" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="FUESNOTES/FUESNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Other Guarantees" url="BONDTRARSK_Other_Guarantees.aspx">
      <screen id="6_1" version="1" screen_code="OTHENDO" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="OTHENDO/OTHENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="OTHNOTES" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="OTHNOTES/OTHNOTES_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="OTHSNOTES" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="OTHSNOTES/OTHSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Rental Guarantees" url="BONDTRARSK_Rental_Guarantees.aspx">
      <screen id="7_1" version="1" screen_code="RENENDO" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="RENENDO/RENENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="RENNOTES" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="RENNOTES/RENNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="RENSNOTES" screen_type="0">
        <tab id="7_3_1" name="Note Details" url="RENSNOTES/RENSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Namport Guarantees" url="BONDTRARSK_Namport_Guarantees.aspx">
      <screen id="8_1" version="1" screen_code="NAMENDO" screen_type="0">
        <tab id="8_1_1" name="Endorsement Premium" url="NAMENDO/NAMENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="NAMNOTES" screen_type="0">
        <tab id="8_2_1" name="Note Details" url="NAMNOTES/NAMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="NAMSNOTES" screen_type="0">
        <tab id="8_3_1" name="Note Details" url="NAMSNOTES/NAMSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Electricity Guarantees" url="BONDTRARSK_Electricity_Guarantees.aspx">
      <screen id="9_1" version="1" screen_code="ELEENDO" screen_type="0">
        <tab id="9_1_1" name="Endorsement Premium" url="ELEENDO/ELEENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="ELENOTES" screen_type="0">
        <tab id="9_2_1" name="Note Details" url="ELENOTES/ELENOTES_Note_Details.aspx" />
      </screen>
      <screen id="9_3" version="1" screen_code="ELESNOTES" screen_type="0">
        <tab id="9_3_1" name="Note Details" url="ELESNOTES/ELESNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Referrals" url="BONDTRARSK_Referrals.aspx">
      <screen id="10_1" version="1" screen_code="BTREFER" screen_type="0">
        <tab id="10_1_1" name="Referral Details" url="BTREFER/BTREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>