<screens>
  <screen id="1" version="1" screen_code="HTPFL">
    <tab id="2" name="Fleet Details" url="HTPFL_Fleet_Details.aspx">
      <screen id="2_1" version="1" screen_code="MFFLEETDET" screen_type="0">
        <tab id="2_1_1" name="Fleet Cover Details" url="MFFLEETDET/MFFLEETDET_Fleet_Cover_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="MFVECHDET" screen_type="0">
        <tab id="2_2_1" name="Vehicle Details" url="MFVECHDET/MFVECHDET_Vehicle_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="MMSOUND" screen_type="0">
        <tab id="2_3_1" name="Sound Equipment" url="MMSOUND/MMSOUND_Sound_Equipment.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="MFPARTY" screen_type="0">
        <tab id="2_4_1" name="Interest Parties" url="MFPARTY/MFPARTY_Interest_Parties.aspx" />
      </screen>
    </tab>
  </screen>
</screens>