<screens>
  <screen id="1" version="1" screen_code="CPLRISK">
    <tab id="2" name="Construction Public Liability" url="CPLRISK_Construction_Public_Liability.aspx">
      <screen id="2_1" version="1" screen_code="CPLINSUR" screen_type="0">
        <tab id="2_1_1" name="Additional Deductibles Details" url="CPLINSUR/CPLINSUR_Additional_Deductibles_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="EXTNT" screen_type="0">
        <tab id="2_2_1" name="Other Extentions" url="EXTNT/EXTNT_Other_Extentions.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="CPLENDOSE" screen_type="0">
        <tab id="2_3_1" name="Endorsement Premium" url="CPLENDOSE/CPLENDOSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="CPLSNOTES" screen_type="0">
        <tab id="2_4_1" name="Notes Detials" url="CPLSNOTES/CPLSNOTES_Notes_Detials.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="CPLNOTES" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="CPLNOTES/CPLNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>