<screens>
  <screen id="1" version="1" screen_code="CAMSC">
    <tab id="2" name="Risk Selection" url="CAMSC_Risk_Selection.aspx">
      <screen id="2_1" version="1" screen_code="CAMSCMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CAMSCMTA/CAMSCMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Business All Risk" url="CAMSC_Business_All_Risk.aspx">
      <screen id="3_1" version="1" screen_code="MABARSK" screen_type="0">
        <tab id="3_1_1" name="Business All Risk" url="MABARSK/MABARSK_Business_All_Risk.aspx">
          <screen id="3_1_1_1" version="1" screen_code="MBRCHLDEP" screen_type="0">
            <tab id="3_1_1_1_1" name="Endorsement Premium" url="MABARSK/MBRCHLDEP/MBRCHLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="3_1_1_2" version="1" screen_code="MABANOTE" screen_type="0">
            <tab id="3_1_1_2_1" name="Note Details" url="MABARSK/MABANOTE/MABANOTE_Note_Details.aspx" />
          </screen>
          <screen id="3_1_1_3" version="1" screen_code="MABASNOTE" screen_type="0">
            <tab id="3_1_1_3_1" name="Note Details" url="MABARSK/MABASNOTE/MABASNOTE_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="3_2" version="1" screen_code="MABRENDP" screen_type="0">
        <tab id="3_2_1" name="Endorsement Premium" url="MABRENDP/MABRENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MABARNOTE" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="MABARNOTE/MABARNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="MABRSNOTE" screen_type="0">
        <tab id="3_4_1" name="Note Details" url="MABRSNOTE/MABRSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Theft" url="CAMSC_Theft.aspx">
      <screen id="4_1" version="1" screen_code="MATHFTEND" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="MATHFTEND/MATHFTEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="THFTNOTE" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="THFTNOTE/THFTNOTE_Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="THFTSNOTE" screen_type="0">
        <tab id="4_3_1" name="Note Details" url="THFTSNOTE/THFTSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Money" url="CAMSC_Money.aspx">
      <screen id="5_1" version="1" screen_code="MNYSAFE" screen_type="0">
        <tab id="5_1_1" name="Type of Safe" url="MNYSAFE/MNYSAFE_Type_of_Safe.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="MNYENDPRM" screen_type="0">
        <tab id="5_2_1" name="Endorsement Premium" url="MNYENDPRM/MNYENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="MNYNOTE" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="MNYNOTE/MNYNOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="MNYSNOTE" screen_type="0">
        <tab id="5_4_1" name="Note Details" url="MNYSNOTE/MNYSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Goods In Transit" url="CAMSC_Goods_In_Transit.aspx">
      <screen id="6_1" version="1" screen_code="MGITENDP" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="MGITENDP/MGITENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="MAGITNOTE" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="MAGITNOTE/MAGITNOTE_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="MGITSNOTE" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="MGITSNOTE/MGITSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Group Personal Accident" url="CAMSC_Group_Personal_Accident.aspx">
      <screen id="7_1" version="1" screen_code="GPAENDS" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="GPAENDS/GPAENDS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="PASNOTE" screen_type="0">
        <tab id="7_2_1" name="Notes Detials" url="PASNOTE/PASNOTE_Notes_Detials.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="PANOTE" screen_type="0">
        <tab id="7_3_1" name="Note Details" url="PANOTE/PANOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Stated Benefits" url="CAMSC_Stated_Benefits.aspx">
      <screen id="8_1" version="1" screen_code="MSBEND" screen_type="0">
        <tab id="8_1_1" name="Endorsement Premium" url="MSBEND/MSBEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="SBNOTE_" screen_type="0">
        <tab id="8_2_1" name="Note Details" url="SBNOTE_/SBNOTE__Note_Details.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="SBSNOTE_" screen_type="0">
        <tab id="8_3_1" name="Note Details" url="SBSNOTE_/SBSNOTE__Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Fidelity" url="CAMSC_Fidelity.aspx">
      <screen id="9_1" version="1" screen_code="NCTBASISF" screen_type="0">
        <tab id="9_1_1" name="Name Category Basis" url="NCTBASISF/NCTBASISF_Name_Category_Basis.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="FIDGENDS" screen_type="0">
        <tab id="9_2_1" name="Endorsement Premium" url="FIDGENDS/FIDGENDS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="9_3" version="1" screen_code="FIDCNOTE" screen_type="0">
        <tab id="9_3_1" name="Note Details" url="FIDCNOTE/FIDCNOTE_Note_Details.aspx" />
      </screen>
      <screen id="9_4" version="1" screen_code="FIDNOTESS" screen_type="0">
        <tab id="9_4_1" name="Note Details" url="FIDNOTESS/FIDNOTESS_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Electronic Equipment" url="CAMSC_Electronic_Equipment.aspx">
      <screen id="10_1" version="1" screen_code="ELEQCHLD" screen_type="0">
        <tab id="10_1_1" name="Electric Equipment Details" url="ELEQCHLD/ELEQCHLD_Electric_Equipment_Details.aspx">
          <screen id="10_1_1_1" version="1" screen_code="EECHLDEP" screen_type="0">
            <tab id="10_1_1_1_1" name="Endorsement Premium" url="ELEQCHLD/EECHLDEP/EECHLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="10_1_1_2" version="1" screen_code="EEENOTE" screen_type="0">
            <tab id="10_1_1_2_1" name="Note Details" url="ELEQCHLD/EEENOTE/EEENOTE_Note_Details.aspx" />
          </screen>
          <screen id="10_1_1_3" version="1" screen_code="EEESNOTE" screen_type="0">
            <tab id="10_1_1_3_1" name="Note Details" url="ELEQCHLD/EEESNOTE/EEESNOTE_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="10_2" version="1" screen_code="EEQMP_" screen_type="0">
        <tab id="10_2_1" name="Multiple Premises" url="EEQMP_/EEQMP__Multiple_Premises.aspx" />
      </screen>
      <screen id="10_3" version="1" screen_code="EQENDPRM" screen_type="0">
        <tab id="10_3_1" name="Endorsement Premium" url="EQENDPRM/EQENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="10_4" version="1" screen_code="EENOTES" screen_type="0">
        <tab id="10_4_1" name="Note Details" url="EENOTES/EENOTES_Note_Details.aspx" />
      </screen>
      <screen id="10_5" version="1" screen_code="EESNOTES" screen_type="0">
        <tab id="10_5_1" name="Note Details" url="EESNOTES/EESNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Machinery Breakdown Risk Select" url="CAMSC_Machinery_Breakdown_Risk_Select.aspx" />
    <tab id="12" name="Machinery Breakdown" url="CAMSC_Machinery_Breakdown.aspx">
      <screen id="12_1" version="1" screen_code="MBITMS" screen_type="0">
        <tab id="12_1_1" name="Machinery Breakdown" url="MBITMS/MBITMS_Machinery_Breakdown.aspx">
          <screen id="12_1_1_1" version="1" screen_code="MBITMP_" screen_type="0">
            <tab id="12_1_1_1_1" name="Endorsement Premium" url="MBITMS/MBITMP_/MBITMP__Endorsement_Premium.aspx" />
          </screen>
          <screen id="12_1_1_2" version="1" screen_code="MBITMNT_" screen_type="0">
            <tab id="12_1_1_2_1" name="Note Details" url="MBITMS/MBITMNT_/MBITMNT__Note_Details.aspx" />
          </screen>
          <screen id="12_1_1_3" version="1" screen_code="MBITMSNT_" screen_type="0">
            <tab id="12_1_1_3_1" name="Note Details" url="MBITMS/MBITMSNT_/MBITMSNT__Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="12_2" version="1" screen_code="MBOTHEXS" screen_type="0">
        <tab id="12_2_1" name="Other Machinery Breakdown Extensions" url="MBOTHEXS/MBOTHEXS_Other_Machinery_Breakdown_Extensions.aspx" />
      </screen>
      <screen id="12_3" version="1" screen_code="MB_FAP_" screen_type="0">
        <tab id="12_3_1" name="First Amount Payable" url="MB_FAP_/MB_FAP__First_Amount_Payable.aspx" />
      </screen>
      <screen id="12_4" version="1" screen_code="MBEDPRM" screen_type="0">
        <tab id="12_4_1" name="Endorsement Premium" url="MBEDPRM/MBEDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="12_5" version="1" screen_code="MBNTS_" screen_type="0">
        <tab id="12_5_1" name="Note Details" url="MBNTS_/MBNTS__Note_Details.aspx" />
      </screen>
      <screen id="12_6" version="1" screen_code="MBSNTS_" screen_type="0">
        <tab id="12_6_1" name="Note Details" url="MBSNTS_/MBSNTS__Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="13" name="Consequential Loss" url="CAMSC_Consequential_Loss.aspx">
      <screen id="13_1" version="1" screen_code="CENDPRM" screen_type="0">
        <tab id="13_1_1" name="Endorsement Premium" url="CENDPRM/CENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="13_2" version="1" screen_code="CNOTE" screen_type="0">
        <tab id="13_2_1" name="Note Details" url="CNOTE/CNOTE_Note_Details.aspx" />
      </screen>
      <screen id="13_3" version="1" screen_code="CSNOTE" screen_type="0">
        <tab id="13_3_1" name="Note Details" url="CSNOTE/CSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="14" name="Deterioration of Stock" url="CAMSC_Deterioration_of_Stock.aspx">
      <screen id="14_1" version="1" screen_code="MDSITMS" screen_type="0">
        <tab id="14_1_1" name="Deterioration of Stock" url="MDSITMS/MDSITMS_Deterioration_of_Stock.aspx">
          <screen id="14_1_1_1" version="1" screen_code="DSIEDPRM" screen_type="0">
            <tab id="14_1_1_1_1" name="Endorsement Premium" url="MDSITMS/DSIEDPRM/DSIEDPRM_Endorsement_Premium.aspx" />
          </screen>
          <screen id="14_1_1_2" version="1" screen_code="DSINTS_" screen_type="0">
            <tab id="14_1_1_2_1" name="Note Details" url="MDSITMS/DSINTS_/DSINTS__Note_Details.aspx" />
          </screen>
          <screen id="14_1_1_3" version="1" screen_code="DSISNTS_" screen_type="0">
            <tab id="14_1_1_3_1" name="Note Details" url="MDSITMS/DSISNTS_/DSISNTS__Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="14_2" version="1" screen_code="DSEDPRM" screen_type="0">
        <tab id="14_2_1" name="Endorsement Premium" url="DSEDPRM/DSEDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="14_3" version="1" screen_code="DSNTS_" screen_type="0">
        <tab id="14_3_1" name="Note Details" url="DSNTS_/DSNTS__Note_Details.aspx" />
      </screen>
      <screen id="14_4" version="1" screen_code="DSSNTS_" screen_type="0">
        <tab id="14_4_1" name="Note Details" url="DSSNTS_/DSSNTS__Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="15" name="Machinery Breakdown Overview" url="CAMSC_Machinery_Breakdown_Overview.aspx" />
    <tab id="16" name="Referrals" url="CAMSC_Referrals.aspx">
      <screen id="16_1" version="1" screen_code="MISCREF" screen_type="0">
        <tab id="16_1_1" name="Referral Details" url="MISCREF/MISCREF_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>