<screens>
  <screen id="1" version="1" screen_code="MOTFLEET">
    <tab id="2" name="Address" url="MOTFLEET_Address.aspx" />
    <tab id="3" name="Vehicle Details" url="MOTFLEET_Vehicle_Details.aspx">
      <screen id="3_1" version="1" screen_code="MFFLEETDET" screen_type="0">
        <tab id="3_1_1" name="Fleet Cover Details" url="MFFLEETDET/MFFLEETDET_Fleet_Cover_Details.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="MFVECHDET" screen_type="0">
        <tab id="3_2_1" name="Vehicle Details" url="MFVECHDET/MFVECHDET_Vehicle_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MMSOUND" screen_type="0">
        <tab id="3_3_1" name="Sound Equipment" url="MMSOUND/MMSOUND_Sound_Equipment.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="MFPARTY" screen_type="0">
        <tab id="3_4_1" name="Interest Parties" url="MFPARTY/MFPARTY_Interest_Parties.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Liabilities" url="MOTFLEET_Liabilities.aspx" />
    <tab id="5" name="Extensions" url="MOTFLEET_Extensions.aspx" />
    <tab id="6" name="Endorsements" url="MOTFLEET_Endorsements.aspx">
      <screen id="6_1" version="1" screen_code="MFENDPREM" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="MFENDPREM/MFENDPREM_Endorsement_Premium.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Financial Overview" url="MOTFLEET_Financial_Overview.aspx" />
  </screen>
</screens>