<screens>
  <screen id="1" version="1" screen_code="CMAMISC">
    <tab id="2" name="Risk Selection" url="CMAMISC_Risk_Selection.aspx">
      <screen id="2_1" version="1" screen_code="CMAMISCMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMAMISCMTA/CMAMISCMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Business All Risk" url="CMAMISC_Business_All_Risk.aspx">
      <screen id="3_1" version="1" screen_code="MABALRSK" screen_type="0">
        <tab id="3_1_1" name="Business All Risk" url="MABALRSK/MABALRSK_Business_All_Risk.aspx">
          <screen id="3_1_1_1" version="1" screen_code="MABRCHLDEP" screen_type="0">
            <tab id="3_1_1_1_1" name="Endorsement Premium" url="MABALRSK/MABRCHLDEP/MABRCHLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="3_1_1_2" version="1" screen_code="MABANOTES" screen_type="0">
            <tab id="3_1_1_2_1" name="Note Details" url="MABALRSK/MABANOTES/MABANOTES_Note_Details.aspx" />
          </screen>
          <screen id="3_1_1_3" version="1" screen_code="MABASNOTES" screen_type="0">
            <tab id="3_1_1_3_1" name="Note Details" url="MABALRSK/MABASNOTES/MABASNOTES_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="3_2" version="1" screen_code="MABARENDP" screen_type="0">
        <tab id="3_2_1" name="Endorsement Premium" url="MABARENDP/MABARENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MABARNOTES" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="MABARNOTES/MABARNOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="MABARSNOTE" screen_type="0">
        <tab id="3_4_1" name="Note Details" url="MABARSNOTE/MABARSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Glass" url="CMAMISC_Glass.aspx">
      <screen id="4_1" version="1" screen_code="GLSENDPRE_" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="GLSENDPRE_/GLSENDPRE__Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="GNOTES_" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="GNOTES_/GNOTES__Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="GSNOTES_" screen_type="0">
        <tab id="4_3_1" name="Note Details" url="GSNOTES_/GSNOTES__Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Theft" url="CMAMISC_Theft.aspx">
      <screen id="5_1" version="1" screen_code="MATHEFTEND" screen_type="0">
        <tab id="5_1_1" name="Endorsement Premium" url="MATHEFTEND/MATHEFTEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="THEFTNOTE" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="THEFTNOTE/THEFTNOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="THEFTSNOTE" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="THEFTSNOTE/THEFTSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Money" url="CMAMISC_Money.aspx">
      <screen id="6_1" version="1" screen_code="MONEYSAFE" screen_type="0">
        <tab id="6_1_1" name="Type of Safe" url="MONEYSAFE/MONEYSAFE_Type_of_Safe.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="MNYENDPREM" screen_type="0">
        <tab id="6_2_1" name="Endorsement Premium" url="MNYENDPREM/MNYENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="MNYNOTES" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="MNYNOTES/MNYNOTES_Note_Details.aspx" />
      </screen>
      <screen id="6_4" version="1" screen_code="MNYSNOTES" screen_type="0">
        <tab id="6_4_1" name="Note Details" url="MNYSNOTES/MNYSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Goods In Transit" url="CMAMISC_Goods_In_Transit.aspx">
      <screen id="7_1" version="1" screen_code="MAGITENDP" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="MAGITENDP/MAGITENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="MAGITNOTES" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="MAGITNOTES/MAGITNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="MAGITSNOTE" screen_type="0">
        <tab id="7_3_1" name="Note Details" url="MAGITSNOTE/MAGITSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Group Personal Accident" url="CMAMISC_Group_Personal_Accident.aspx">
      <screen id="8_1" version="1" screen_code="GPAENDOS" screen_type="0">
        <tab id="8_1_1" name="Endorsement Premium" url="GPAENDOS/GPAENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="GPASNOTE" screen_type="0">
        <tab id="8_2_1" name="Notes Detials" url="GPASNOTE/GPASNOTE_Notes_Detials.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="GPANOTE" screen_type="0">
        <tab id="8_3_1" name="Note Details" url="GPANOTE/GPANOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Stated Benefits" url="CMAMISC_Stated_Benefits.aspx">
      <screen id="9_1" version="1" screen_code="MASBEND" screen_type="0">
        <tab id="9_1_1" name="Endorsement Premium" url="MASBEND/MASBEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="SBNOTE" screen_type="0">
        <tab id="9_2_1" name="Note Details" url="SBNOTE/SBNOTE_Note_Details.aspx" />
      </screen>
      <screen id="9_3" version="1" screen_code="SBSNOTE" screen_type="0">
        <tab id="9_3_1" name="Note Details" url="SBSNOTE/SBSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Fidelity" url="CMAMISC_Fidelity.aspx">
      <screen id="10_1" version="1" screen_code="NCATBASISF" screen_type="0">
        <tab id="10_1_1" name="Name Category Basis" url="NCATBASISF/NCATBASISF_Name_Category_Basis.aspx" />
      </screen>
      <screen id="10_2" version="1" screen_code="FIDGENDOS" screen_type="0">
        <tab id="10_2_1" name="Endorsement Premium" url="FIDGENDOS/FIDGENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="10_3" version="1" screen_code="FIDGCNOTE" screen_type="0">
        <tab id="10_3_1" name="Note Details" url="FIDGCNOTE/FIDGCNOTE_Note_Details.aspx" />
      </screen>
      <screen id="10_4" version="1" screen_code="FIDGNOTESS" screen_type="0">
        <tab id="10_4_1" name="Note Details" url="FIDGNOTESS/FIDGNOTESS_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Electronic Equipment" url="CMAMISC_Electronic_Equipment.aspx">
      <screen id="11_1" version="1" screen_code="ELEQCHILD" screen_type="0">
        <tab id="11_1_1" name="Electric Equipment Details" url="ELEQCHILD/ELEQCHILD_Electric_Equipment_Details.aspx">
          <screen id="11_1_1_1" version="1" screen_code="EEQCHLDEP" screen_type="0">
            <tab id="11_1_1_1_1" name="Endorsement Premium" url="ELEQCHILD/EEQCHLDEP/EEQCHLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="11_1_1_2" version="1" screen_code="EEQNOTES" screen_type="0">
            <tab id="11_1_1_2_1" name="Note Details" url="ELEQCHILD/EEQNOTES/EEQNOTES_Note_Details.aspx" />
          </screen>
          <screen id="11_1_1_3" version="1" screen_code="EEQSNOTES" screen_type="0">
            <tab id="11_1_1_3_1" name="Note Details" url="ELEQCHILD/EEQSNOTES/EEQSNOTES_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="11_2" version="1" screen_code="EEQMP" screen_type="0">
        <tab id="11_2_1" name="Multiple Premises" url="EEQMP/EEQMP_Multiple_Premises.aspx" />
      </screen>
      <screen id="11_3" version="1" screen_code="EQENDPREM" screen_type="0">
        <tab id="11_3_1" name="Endorsement Premium" url="EQENDPREM/EQENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="11_4" version="1" screen_code="EQNOTES" screen_type="0">
        <tab id="11_4_1" name="Note Details" url="EQNOTES/EQNOTES_Note_Details.aspx" />
      </screen>
      <screen id="11_5" version="1" screen_code="EQSNOTES" screen_type="0">
        <tab id="11_5_1" name="Note Details" url="EQSNOTES/EQSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="12" name="Machinery Breakdown Risk Select" url="CMAMISC_Machinery_Breakdown_Risk_Select.aspx" />
    <tab id="13" name="Machinery Breakdown" url="CMAMISC_Machinery_Breakdown.aspx">
      <screen id="13_1" version="1" screen_code="MBITEM" screen_type="0">
        <tab id="13_1_1" name="Machinery Breakdown" url="MBITEM/MBITEM_Machinery_Breakdown.aspx">
          <screen id="13_1_1_1" version="1" screen_code="MBITMP" screen_type="0">
            <tab id="13_1_1_1_1" name="Endorsement Premium" url="MBITEM/MBITMP/MBITMP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="13_1_1_2" version="1" screen_code="MBITMNT" screen_type="0">
            <tab id="13_1_1_2_1" name="Note Details" url="MBITEM/MBITMNT/MBITMNT_Note_Details.aspx" />
          </screen>
          <screen id="13_1_1_3" version="1" screen_code="MBITMSNT" screen_type="0">
            <tab id="13_1_1_3_1" name="Note Details" url="MBITEM/MBITMSNT/MBITMSNT_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="13_2" version="1" screen_code="MBOTHEX" screen_type="0">
        <tab id="13_2_1" name="Other Machinery Breakdown Extensions" url="MBOTHEX/MBOTHEX_Other_Machinery_Breakdown_Extensions.aspx" />
      </screen>
      <screen id="13_3" version="1" screen_code="MB_FAP" screen_type="0">
        <tab id="13_3_1" name="First Amount Payable" url="MB_FAP/MB_FAP_First_Amount_Payable.aspx" />
      </screen>
      <screen id="13_4" version="1" screen_code="MBEDPREM" screen_type="0">
        <tab id="13_4_1" name="Endorsement Premium" url="MBEDPREM/MBEDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="13_5" version="1" screen_code="MBNTS" screen_type="0">
        <tab id="13_5_1" name="Note Details" url="MBNTS/MBNTS_Note_Details.aspx" />
      </screen>
      <screen id="13_6" version="1" screen_code="MBSNTS" screen_type="0">
        <tab id="13_6_1" name="Note Details" url="MBSNTS/MBSNTS_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="14" name="Consequential Loss" url="CMAMISC_Consequential_Loss.aspx">
      <screen id="14_1" version="1" screen_code="CENDPREM" screen_type="0">
        <tab id="14_1_1" name="Endorsement Premium" url="CENDPREM/CENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="14_2" version="1" screen_code="CNOTES" screen_type="0">
        <tab id="14_2_1" name="Note Details" url="CNOTES/CNOTES_Note_Details.aspx" />
      </screen>
      <screen id="14_3" version="1" screen_code="CSNOTES" screen_type="0">
        <tab id="14_3_1" name="Note Details" url="CSNOTES/CSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="15" name="Deterioration of Stock" url="CMAMISC_Deterioration_of_Stock.aspx">
      <screen id="15_1" version="1" screen_code="MADSITMS" screen_type="0">
        <tab id="15_1_1" name="Deterioration of Stock" url="MADSITMS/MADSITMS_Deterioration_of_Stock.aspx">
          <screen id="15_1_1_1" version="1" screen_code="DSIEDPREM" screen_type="0">
            <tab id="15_1_1_1_1" name="Endorsement Premium" url="MADSITMS/DSIEDPREM/DSIEDPREM_Endorsement_Premium.aspx" />
          </screen>
          <screen id="15_1_1_2" version="1" screen_code="DSINTS" screen_type="0">
            <tab id="15_1_1_2_1" name="Note Details" url="MADSITMS/DSINTS/DSINTS_Note_Details.aspx" />
          </screen>
          <screen id="15_1_1_3" version="1" screen_code="DSISNTS" screen_type="0">
            <tab id="15_1_1_3_1" name="Note Details" url="MADSITMS/DSISNTS/DSISNTS_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="15_2" version="1" screen_code="DSEDPREM" screen_type="0">
        <tab id="15_2_1" name="Endorsement Premium" url="DSEDPREM/DSEDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="15_3" version="1" screen_code="DSNTS" screen_type="0">
        <tab id="15_3_1" name="Note Details" url="DSNTS/DSNTS_Note_Details.aspx" />
      </screen>
      <screen id="15_4" version="1" screen_code="DSSNTS" screen_type="0">
        <tab id="15_4_1" name="Note Details" url="DSSNTS/DSSNTS_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="16" name="Machinery Breakdown Overview" url="CMAMISC_Machinery_Breakdown_Overview.aspx" />
    <tab id="17" name="Referrals" url="CMAMISC_Referrals.aspx">
      <screen id="17_1" version="1" screen_code="MISCREFER" screen_type="0">
        <tab id="17_1_1" name="Referral Details" url="MISCREFER/MISCREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>