<screens>
  <screen id="1" version="1" screen_code="CMAMOTSPEC">
    <tab id="2" name="Address" url="CMAMOTSPEC_Address.aspx">
      <screen id="2_1" version="1" screen_code="CMAMSPMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMAMSPMTA/CMAMSPMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Vehicle Type" url="CMAMOTSPEC_Vehicle_Type.aspx" />
    <tab id="4" name="Vehicle Details" url="CMAMOTSPEC_Vehicle_Details.aspx">
      <screen id="4_1" version="1" screen_code="CMASPACSRY" screen_type="0">
        <tab id="4_1_1" name="Accessory Information" url="CMASPACSRY/CMASPACSRY_Accessory_Information.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="CMAMSSOUND" screen_type="0">
        <tab id="4_2_1" name="Sound Equipment" url="CMAMSSOUND/CMAMSSOUND_Sound_Equipment.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="CMADRVDTL" screen_type="0">
        <tab id="4_3_1" name="Specified Driver Information" url="CMADRVDTL/CMADRVDTL_Specified_Driver_Information.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="CMAMSADCOM" screen_type="0">
        <tab id="4_4_1" name="Additional Compulsory First Amount Payable" url="CMAMSADCOM/CMAMSADCOM_Additional_Compulsory_First_Amount_Payable.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Liabilities" url="CMAMOTSPEC_Liabilities.aspx" />
    <tab id="6" name="Extensions" url="CMAMOTSPEC_Extensions.aspx" />
    <tab id="7" name="Endorsements" url="CMAMOTSPEC_Endorsements.aspx">
      <screen id="7_1" version="1" screen_code="CMAMSEP" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="CMAMSEP/CMAMSEP_Endorsement_Premium.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Notes" url="CMAMOTSPEC_Notes.aspx">
      <screen id="8_1" version="1" screen_code="CMAMSNOTES" screen_type="0">
        <tab id="8_1_1" name="Note Details" url="CMAMSNOTES/CMAMSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="CMAMSSNOTE" screen_type="0">
        <tab id="8_2_1" name="Note Details" url="CMAMSSNOTE/CMAMSSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Referrals" url="CMAMOTSPEC_Referrals.aspx">
      <screen id="9_1" version="1" screen_code="CMAMSREFER" screen_type="0">
        <tab id="9_1_1" name="Referral Details" url="CMAMSREFER/CMAMSREFER_Referral_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Financial Overview" url="CMAMOTSPEC_Financial_Overview.aspx" />
  </screen>
</screens>