<screens>
  <screen id="1" version="1" screen_code="CFISCP">
    <tab id="2" name="Irrigation Systems and Center Pivots" url="CFISCP_Irrigation_Systems_and_Center_Pivots.aspx">
      <screen id="2_1" version="1" screen_code="ACSRYE" screen_type="0">
        <tab id="2_1_1" name="Accessory Details" url="ACSRYE/ACSRYE_Accessory_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="CFFSENDOS" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="CFFSENDOS/CFFSENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="CFISNOTE" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="CFISNOTE/CFISNOTE_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="CFISNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="CFISNOTES/CFISNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>