<screens>
  <screen id="1" version="1" screen_code="DNOLIAB">
    <tab id="2" name="Cover Details" url="DNOLIAB_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="MTAREASON" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="MTAREASON/MTAREASON_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="DRETRONOTE" screen_type="0">
        <tab id="2_2_1" name="Retrocession Details" url="DRETRONOTE/DRETRONOTE_Retrocession_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risk Details" url="DNOLIAB_Risk_Details.aspx" />
    <tab id="4" name="Endorsements" url="DNOLIAB_Endorsements.aspx" />
    <tab id="5" name="Notes" url="DNOLIAB_Notes.aspx">
      <screen id="5_1" version="1" screen_code="DNONOTES" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="DNONOTES/DNONOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="DEXTNOTES" screen_type="0">
        <tab id="5_2_1" name="Subjectivities Details" url="DEXTNOTES/DEXTNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>