<screens>
  <screen id="1" version="1" screen_code="CAAEME">
    <tab id="2" name="Emergency Medical Evacuation" url="CAAEME_Emergency_Medical_Evacuation.aspx">
      <screen id="2_1" version="1" screen_code="CAAEMENDOS" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="CAAEMENDOS/CAAEMENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="CAAEMENOTE" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="CAAEMENOTE/CAAEMENOTE_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="CAAEMENOT" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="CAAEMENOT/CAAEMENOT_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>