<screens>
  <screen id="1" version="1" screen_code="MSPL">
    <tab id="2" name="Marine Liability" url="MSPL_Marine_Liability.aspx" />
    <tab id="3" name="Charterers Liability" url="MSPL_Charterers_Liability.aspx">
      <screen id="3_1" version="1" screen_code="MSPLCEXT" screen_type="0">
        <tab id="3_1_1" name="Charterers Liability" url="MSPLCEXT/MSPLCEXT_Charterers_Liability.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="MSPLCDED" screen_type="0">
        <tab id="3_2_1" name="Charterers Liability" url="MSPLCDED/MSPLCDED_Charterers_Liability.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MSPLCEND" screen_type="0">
        <tab id="3_3_1" name="Endorsement Premium" url="MSPLCEND/MSPLCEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="MSPLCNPN" screen_type="0">
        <tab id="3_4_1" name="Note Details" url="MSPLCNPN/MSPLCNPN_Note_Details.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="MSPLCPN" screen_type="0">
        <tab id="3_5_1" name="Note Details" url="MSPLCPN/MSPLCPN_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Carriers Legal Liability" url="MSPL_Carriers_Legal_Liability.aspx">
      <screen id="4_1" version="1" screen_code="MSPLCLL" screen_type="0">
        <tab id="4_1_1" name="Carriers Legal Liability" url="MSPLCLL/MSPLCLL_Carriers_Legal_Liability.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MSPLCLDED" screen_type="0">
        <tab id="4_2_1" name="Carriers Legal Liability" url="MSPLCLDED/MSPLCLDED_Carriers_Legal_Liability.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="MSPLCLEND" screen_type="0">
        <tab id="4_3_1" name="Endorsement Premium" url="MSPLCLEND/MSPLCLEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="MSPLCLNPN" screen_type="0">
        <tab id="4_4_1" name="Note Details" url="MSPLCLNPN/MSPLCLNPN_Note_Details.aspx" />
      </screen>
      <screen id="4_5" version="1" screen_code="SPCCLPNT" screen_type="0">
        <tab id="4_5_1" name="Note Details" url="SPCCLPNT/SPCCLPNT_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Containers Liability" url="MSPL_Containers_Liability.aspx">
      <screen id="5_1" version="1" screen_code="MSPLCOEXT" screen_type="0">
        <tab id="5_1_1" name="Containers Liability" url="MSPLCOEXT/MSPLCOEXT_Containers_Liability.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="MSPLCODED" screen_type="0">
        <tab id="5_2_1" name="Containers Liability" url="MSPLCODED/MSPLCODED_Containers_Liability.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="MSPLCOEND" screen_type="0">
        <tab id="5_3_1" name="Endorsement Premium" url="MSPLCOEND/MSPLCOEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="MSPLCONPN" screen_type="0">
        <tab id="5_4_1" name="Note Details" url="MSPLCONPN/MSPLCONPN_Note_Details.aspx" />
      </screen>
      <screen id="5_5" version="1" screen_code="MSPLCOPNO" screen_type="0">
        <tab id="5_5_1" name="Note Details" url="MSPLCOPNO/MSPLCOPNO_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Marine Operators Liability" url="MSPL_Marine_Operators_Liability.aspx">
      <screen id="6_1" version="1" screen_code="MSPLMOEXT" screen_type="0">
        <tab id="6_1_1" name="Marine Operators Liability" url="MSPLMOEXT/MSPLMOEXT_Marine_Operators_Liability.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="MSPLMODED" screen_type="0">
        <tab id="6_2_1" name="Marine Operators Liability" url="MSPLMODED/MSPLMODED_Marine_Operators_Liability.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="MSPLMOEND" screen_type="0">
        <tab id="6_3_1" name="Endorsement Premium" url="MSPLMOEND/MSPLMOEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_4" version="1" screen_code="MSPLMONPN" screen_type="0">
        <tab id="6_4_1" name="Note Details" url="MSPLMONPN/MSPLMONPN_Note_Details.aspx" />
      </screen>
      <screen id="6_5" version="1" screen_code="MSPLMONP" screen_type="0">
        <tab id="6_5_1" name="Note Details" url="MSPLMONP/MSPLMONP_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Ship Repairers Liability" url="MSPL_Ship_Repairers_Liability.aspx">
      <screen id="7_1" version="1" screen_code="MSPLSREXT" screen_type="0">
        <tab id="7_1_1" name="Ship Repairers Liability" url="MSPLSREXT/MSPLSREXT_Ship_Repairers_Liability.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="MSPLSRDED" screen_type="0">
        <tab id="7_2_1" name="Ship Repairers Liability" url="MSPLSRDED/MSPLSRDED_Ship_Repairers_Liability.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="MSPLSRSEND" screen_type="0">
        <tab id="7_3_1" name="Endorsement Premium" url="MSPLSRSEND/MSPLSRSEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_4" version="1" screen_code="MSPLSRNPN" screen_type="0">
        <tab id="7_4_1" name="Note Details" url="MSPLSRNPN/MSPLSRNPN_Note_Details.aspx" />
      </screen>
      <screen id="7_5" version="1" screen_code="MSPLSSRPN" screen_type="0">
        <tab id="7_5_1" name="Note Details" url="MSPLSSRPN/MSPLSSRPN_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Ship Builders Liability" url="MSPL_Ship_Builders_Liability.aspx">
      <screen id="8_1" version="1" screen_code="MSPLSBEXT" screen_type="0">
        <tab id="8_1_1" name="Ship Builders Liability" url="MSPLSBEXT/MSPLSBEXT_Ship_Builders_Liability.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="MSPLSBSDED" screen_type="0">
        <tab id="8_2_1" name="Ship Builders Liability" url="MSPLSBSDED/MSPLSBSDED_Ship_Builders_Liability.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="MSPLSBEND" screen_type="0">
        <tab id="8_3_1" name="Endorsement Premium" url="MSPLSBEND/MSPLSBEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_4" version="1" screen_code="MSPLSBNPN" screen_type="0">
        <tab id="8_4_1" name="Note Details" url="MSPLSBNPN/MSPLSBNPN_Note_Details.aspx" />
      </screen>
      <screen id="8_5" version="1" screen_code="MSPLSBSPPN" screen_type="0">
        <tab id="8_5_1" name="Note Details" url="MSPLSBSPPN/MSPLSBSPPN_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Stevedore Liability" url="MSPL_Stevedore_Liability.aspx">
      <screen id="9_1" version="1" screen_code="MSPLLSEXT" screen_type="0">
        <tab id="9_1_1" name="Extensions" url="MSPLLSEXT/MSPLLSEXT_Extensions.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="MSPLSLDED" screen_type="0">
        <tab id="9_2_1" name="Deductibles" url="MSPLSLDED/MSPLSLDED_Deductibles.aspx" />
      </screen>
      <screen id="9_3" version="1" screen_code="MSPLSLEND" screen_type="0">
        <tab id="9_3_1" name="Endorsement Premium" url="MSPLSLEND/MSPLSLEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="9_4" version="1" screen_code="MSPLSLNPN" screen_type="0">
        <tab id="9_4_1" name="Note Details" url="MSPLSLNPN/MSPLSLNPN_Note_Details.aspx" />
      </screen>
      <screen id="9_5" version="1" screen_code="MSPLSLPN" screen_type="0">
        <tab id="9_5_1" name="Note Details" url="MSPLSLPN/MSPLSLPN_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Port Risk Liability" url="MSPL_Port_Risk_Liability.aspx">
      <screen id="10_1" version="1" screen_code="MSPLPREXT" screen_type="0">
        <tab id="10_1_1" name="Port Risk Liability" url="MSPLPREXT/MSPLPREXT_Port_Risk_Liability.aspx" />
      </screen>
      <screen id="10_2" version="1" screen_code="MSPLPRDED" screen_type="0">
        <tab id="10_2_1" name="Port Risk Liability" url="MSPLPRDED/MSPLPRDED_Port_Risk_Liability.aspx" />
      </screen>
      <screen id="10_3" version="1" screen_code="MSPLPREND" screen_type="0">
        <tab id="10_3_1" name="Endorsement Premium" url="MSPLPREND/MSPLPREND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="10_4" version="1" screen_code="MSPLPRNPN" screen_type="0">
        <tab id="10_4_1" name="Note Details" url="MSPLPRNPN/MSPLPRNPN_Note_Details.aspx" />
      </screen>
      <screen id="10_5" version="1" screen_code="MSPLPRPN" screen_type="0">
        <tab id="10_5_1" name="Note Details" url="MSPLPRPN/MSPLPRPN_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Freight Forwarders Liability" url="MSPL_Freight_Forwarders_Liability.aspx">
      <screen id="11_1" version="1" screen_code="MSPLFFEXT" screen_type="0">
        <tab id="11_1_1" name="Freight Forwarders Liability" url="MSPLFFEXT/MSPLFFEXT_Freight_Forwarders_Liability.aspx" />
      </screen>
      <screen id="11_2" version="1" screen_code="MSPLFFDED" screen_type="0">
        <tab id="11_2_1" name="Freight Forwarders Liability" url="MSPLFFDED/MSPLFFDED_Freight_Forwarders_Liability.aspx" />
      </screen>
      <screen id="11_3" version="1" screen_code="MSPLFFEND" screen_type="0">
        <tab id="11_3_1" name="Endorsement Premium" url="MSPLFFEND/MSPLFFEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="11_4" version="1" screen_code="MSPLFFNPN" screen_type="0">
        <tab id="11_4_1" name="Note Details" url="MSPLFFNPN/MSPLFFNPN_Note_Details.aspx" />
      </screen>
      <screen id="11_5" version="1" screen_code="MSPLFFPN" screen_type="0">
        <tab id="11_5_1" name="Note Details" url="MSPLFFPN/MSPLFFPN_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>