<screens>
  <screen id="1" version="1" screen_code="CAALIA">
    <tab id="2" name="Risk Selection" url="CAALIA_Risk_Selection.aspx">
      <screen id="2_1" version="1" screen_code="CAALIAMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CAALIAMTA/CAALIAMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Broadform Liability" url="CAALIA_Broadform_Liability.aspx">
      <screen id="3_1" version="1" screen_code="BDLENPRM" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="BDLENPRM/BDLENPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="BDL_NOTES" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="BDL_NOTES/BDL_NOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="BDL_SNOTE" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="BDL_SNOTE/BDL_SNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="BPDENPRM" screen_type="0">
        <tab id="3_4_1" name="Endorsement Premium" url="BPDENPRM/BPDENPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="BPD_NOTES" screen_type="0">
        <tab id="3_5_1" name="Note Details" url="BPD_NOTES/BPD_NOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_6" version="1" screen_code="BPD_SNOTE" screen_type="0">
        <tab id="3_6_1" name="Note Details" url="BPD_SNOTE/BPD_SNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_7" version="1" screen_code="CA_PRF_HUN" screen_type="0">
        <tab id="3_7_1" name="Professional Hunters" url="CA_PRF_HUN/CA_PRF_HUN_Professional_Hunters.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Fare Paying Passengers Liability" url="CAALIA_Fare_Paying_Passengers_Liability.aspx">
      <screen id="4_1" version="1" screen_code="CA_VEHCHLD" screen_type="0">
        <tab id="4_1_1" name="Vehicle Details" url="CA_VEHCHLD/CA_VEHCHLD_Vehicle_Details.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="FRP_ENDPRM" screen_type="0">
        <tab id="4_2_1" name="Endorsement Premium" url="FRP_ENDPRM/FRP_ENDPRM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="FRP_NOTE" screen_type="0">
        <tab id="4_3_1" name="Note Details" url="FRP_NOTE/FRP_NOTE_Note_Details.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="FRP_SNOTE" screen_type="0">
        <tab id="4_4_1" name="Note Details" url="FRP_SNOTE/FRP_SNOTE_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>