<?xml version="1.0" encoding="utf-8" ?>
<ribbonMenu>
  <ribbonCategory id="s-home" title="Home" roles="*">
    <ribbonSection title="">
      <ribbonItem url="~/secure/workmanager.aspx" title="Work Manager" roles="*" />
      <ribbonItem url="~/secure/DocumentManager.aspx" title="Document Manager" roles="*" />
      <ribbonItem url="~/secure/FindFiles.aspx" title="Find Files" roles="*" />
    </ribbonSection>
  </ribbonCategory>

  <ribbonCategory id="s-client" title="Client" roles="*">
    <ribbonSection title="">
      <ribbonItem url="~/secure/agent/FindClient.aspx" title="Find Client" roles="*" />
      <ribbonItem url="~/secure/agent/PersonalClientDetails.aspx?mode=add" title="New Personal Client" roles="*" />
      <ribbonItem url="~/secure/agent/CorporateClientDetails.aspx?mode=add" title="New Corporate Client" roles="*" />
    </ribbonSection>
  </ribbonCategory>

  <ribbonCategory id="s-policy" title="Policy" roles="*">
    <ribbonSection title="Quote/Policy">
      <ribbonItem url="~/secure/newquote.aspx" title="New Quote" roles="*" />
      <ribbonItem url="~/secure/agent/FindClient.aspx" title="Find Client" roles="*" />
      <ribbonItem url="~/secure/FindPolicy.aspx" title="Find Policy/Quote" roles="*" />
    </ribbonSection>
    <ribbonSection title="Renewal">
      <ribbonItem url="~/secure/RenewalManager.aspx" title="Renewal Manager" roles="*" />
      <ribbonItem url="~/secure/agent/RenewalSelection.aspx" title="Renewal Selection" roles="*" />
    </ribbonSection>
    <ribbonSection title="AnnonymousQuote">
      <ribbonItem url="~/products/Motor/MainDetails.aspx?newquote=true&amp;newclient=true&amp;riskcode=MOTOR" title="Private Motor" roles="*" />
      <ribbonItem url="~/products/Motor/MainDetails.aspx?newquote=true&amp;newclient=true&amp;riskcode=RKMOTORNEW" title="Commercial Motor" roles="*" />
    </ribbonSection>
  </ribbonCategory>

  <ribbonCategory id="s-claim" title="Claim" roles="*">
    <ribbonSection title="Claim">
      <ribbonItem url="~/claims/findclaim.aspx" title="Claim Search" roles="*" />
      <ribbonItem url="~/Claims/FindInsuranceFile.aspx" title="New Claim" roles="*" />
    </ribbonSection>
    <ribbonSection title="Payments">
      <ribbonItem url="~/secure/payment/claimpaymentprocessing.aspx" title="Bulk Claim Payment" roles="*" />
      <ribbonItem url="~/secure/Authoriseclaimpayments.aspx" title="Authorize Payments" roles="*" />
    </ribbonSection>
    <ribbonSection title="Recoveries">
      <ribbonItem url="~/claims/FindClaim.aspx?type=salvage" title="Salvage" roles="*" />
      <ribbonItem url="~/claims/FindClaim.aspx?type=tprecovery" title="Third Party" roles="*" />
    </ribbonSection>
    <ribbonSection title="Case">
      <ribbonItem url="~/Claims/ClaimCase.aspx?NewCase=true" title="New Case" roles="*" />
      <ribbonItem url="~/Claims/FindCase.aspx" title="Manage" roles="*" />
    </ribbonSection>
  </ribbonCategory>

  <ribbonCategory id="s-accounts" title="Finance" roles="*">
    <ribbonSection title="Search">
      <ribbonItem url="~/secure/SearchTransactions.aspx" title="Transactions" roles="*" />
    </ribbonSection>
    <ribbonSection title="Cash">
      <ribbonItem url="~/secure/payment/CashList.aspx?Mode=Payment" title="Payment" roles="*" />
      <ribbonItem url="~/secure/payment/CashList.aspx?Mode=Receipt" title="Receipt" roles="*" />
      <ribbonItem url="~/secure/ManualJournal.aspx?Mode=Journal" title="Manual Journal" roles="*" />
    </ribbonSection>
    <ribbonSection title="Instalment">
      <ribbonItem url="~/PremiumFinance/PremiumFinancePlan.aspx?Type=EditPlan" title="Plan Maintenance" roles="*" />
      <ribbonItem url="~/PremiumFinance/PlanTransactions.aspx" title="New Plan" roles="*" />
    </ribbonSection>
  </ribbonCategory>
  <ribbonCategory id="s-reports" title="Reports" roles="*">
    <ribbonSection title="">
      <ribbonItem url="~/Modal/DocumentManager.aspx?Reports=True&amp;ShowModal=True" title="Reports" roles="*" />
      <ribbonItem url="~/secure/reports.aspx" title="Reports Viewer" roles="*" />
    </ribbonSection>
  </ribbonCategory>
  <ribbonCategory id="s-Others" title="Others" roles="*">
    <ribbonSection title="Accounts">
      <ribbonItem url="~/secure/payment/CashList.aspx?Mode=Payment" title="Authorise Payments" roles="*" />
      <ribbonItem url="~/secure/InsurerPayments.aspx" title="Insurer Payment" roles="*" />
    </ribbonSection>
    <ribbonSection title="Others">
      <ribbonItem url="~/secure/FindReceipts.aspx" title="Receipts" roles="*" />
      <ribbonItem url="~/secure/FindCoverNoteBook.aspx" title="C.Note Management" roles="*" />
      <ribbonItem url="~/secure/Mid.aspx" title="Mid" roles="*" />
    </ribbonSection>
    <ribbonSection title="Manual Migration">
      <ribbonItem url="~/secure/agent/FindClient.aspx?mode=ManualTransfer" title="New Business" roles="*" />
      <ribbonItem url="~/secure/FindPolicy.aspx?mode=ManualTransfer" title="MTA" roles="*" />
      <ribbonItem url="~/Claims/FindInsuranceFile.aspx?mode=ManualTransfer" title="New Claim" roles="*" />
    </ribbonSection>
  </ribbonCategory>

  <ribbonCategory id="s-favourites" title="Favourites" roles="*">
    <ribbonSection title="">
      <ribbonItem url="~/Portal/Internal/Tasks.aspx" title="All Tasks" roles="*" />
      <ribbonItem url="~/secure/agent/FindClient.aspx" title="Find Client" roles="*" />
      <ribbonItem url="~/secure/RIAmendManager.aspx" title="Portfolio Amendment" roles="*" />
      <ribbonItem url="~/secure/RIAmendManager.aspx?ClonedTransfer=True" title="Cloned Amendment" roles="*" />

    </ribbonSection>
  </ribbonCategory>

</ribbonMenu>

