<screens>
  <screen id="1" version="1" screen_code="PIPESTORE">
    <tab id="2" name="Cover Details" url="PIPESTORE_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="PIPESTREAS" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="PIPESTREAS/PIPESTREAS_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="RETROPIPE" screen_type="0">
        <tab id="2_2_1" name="Retrocession Details" url="RETROPIPE/RETROPIPE_Retrocession_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risk Details" url="PIPESTORE_Risk_Details.aspx">
      <screen id="3_1" version="1" screen_code="SITEDETS" screen_type="0">
        <tab id="3_1_1" name="Site Details" url="SITEDETS/SITEDETS_Site_Details.aspx">
          <screen id="3_1_1_1" version="1" screen_code="TANKDETS" screen_type="0">
            <tab id="3_1_1_1_1" name="Site Details" url="SITEDETS/TANKDETS/TANKDETS_Site_Details.aspx" />
          </screen>
          <screen id="3_1_1_2" version="1" screen_code="PIPEDETS" screen_type="0">
            <tab id="3_1_1_2_1" name="Pipe Details" url="SITEDETS/PIPEDETS/PIPEDETS_Pipe_Details.aspx" />
          </screen>
        </tab>
      </screen>
    </tab>
    <tab id="4" name="Endorsements" url="PIPESTORE_Endorsements.aspx" />
    <tab id="5" name="Notes" url="PIPESTORE_Notes.aspx">
      <screen id="5_1" version="1" screen_code="PIPENOTES" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="PIPENOTES/PIPENOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="PSTXNOTES" screen_type="0">
        <tab id="5_2_1" name="Subjectivities Details" url="PSTXNOTES/PSTXNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>