<screens>
  <screen id="1" version="1" screen_code="CMAMOTTRD">
    <tab id="2" name="Motor Traders" url="CMAMOTTRD_Motor_Traders.aspx">
      <screen id="2_1" version="1" screen_code="CMAMTMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMAMTMTA/CMAMTMTA_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="SDPMT" screen_type="0">
        <tab id="2_2_1" name="Social Domestic and Pleasure Use" url="SDPMT/SDPMT_Social_Domestic_and_Pleasure_Use.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="SAENDORSE" screen_type="0">
        <tab id="2_3_1" name="Endorsement Premium" url="SAENDORSE/SAENDORSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="MTNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="MTNOTES/MTNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="MTSNOTES" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="MTSNOTES/MTSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="CMAMOTTRD_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="CMTREFER" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="CMTREFER/CMTREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>