<screens>
  <screen id="1" version="1" screen_code="AHRISK">
    <tab id="2" name="Personal Accident" url="AHRISK_Personal_Accident.aspx">
      <screen id="2_1" version="1" screen_code="AHAPAMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="AHAPAMTA/AHAPAMTA_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="AHCOI" screen_type="0">
        <tab id="2_2_1" name="CO - INSURANCE" url="AHCOI/AHCOI_CO__INSURANCE.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="AHENDOSE" screen_type="0">
        <tab id="2_3_1" name="Endorsement Premium" url="AHENDOSE/AHENDOSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="AHSNOTES" screen_type="0">
        <tab id="2_4_1" name="Notes Detials" url="AHSNOTES/AHSNOTES_Notes_Detials.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="AHNOTES" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="AHNOTES/AHNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="AHRISK_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="AHPAREF" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="AHPAREF/AHPAREF_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>