<screens>
  <screen id="1" version="1" screen_code="NPADOM">
    <tab id="2" name="Cover Details" url="NPADOM_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="DOMMTARSN" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="DOMMTARSN/DOMMTARSN_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Buildings" url="NPADOM_Buildings.aspx" />
    <tab id="4" name="Contents" url="NPADOM_Contents.aspx" />
    <tab id="5" name="All Risks" url="NPADOM_All_Risks.aspx">
      <screen id="5_1" version="1" screen_code="ALLRSKCHLD" screen_type="0">
        <tab id="5_1_1" name="All Risk Details" url="ALLRSKCHLD/ALLRSKCHLD_All_Risk_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="PLIP" url="NPADOM_PLIP.aspx" />
    <tab id="7" name="Mechanical and Electrical Breakdown" url="NPADOM_Mechanical_and_Electrical_Breakdown.aspx" />
    <tab id="8" name="Endorsements" url="NPADOM_Endorsements.aspx" />
    <tab id="9" name="Notes" url="NPADOM_Notes.aspx">
      <screen id="9_1" version="1" screen_code="DOMNOTES" screen_type="0">
        <tab id="9_1_1" name="Note Details" url="DOMNOTES/DOMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="DOMEXTRN" screen_type="0">
        <tab id="9_2_1" name="Subjectivities Details" url="DOMEXTRN/DOMEXTRN_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>