<screens>
  <screen id="1" version="1" screen_code="CPINSURE">
    <tab id="2" name="Cover Details" url="CPINSURE_Cover_Details.aspx" />
    <tab id="3" name="Own Plant" url="CPINSURE_Own_Plant.aspx">
      <screen id="3_1" version="1" screen_code="PLANTITEM" screen_type="0">
        <tab id="3_1_1" name="Own Plant Item" url="PLANTITEM/PLANTITEM_Own_Plant_Item.aspx">
          <screen id="3_1_1_1" version="1" screen_code="PLANTVAL" screen_type="0">
            <tab id="3_1_1_1_1" name="Plant Item" url="PLANTITEM/PLANTVAL/PLANTVAL_Plant_Item.aspx" />
          </screen>
          <screen id="3_1_1_2" version="1" screen_code="PLANTNOT" screen_type="0">
            <tab id="3_1_1_2_1" name="Plant Item" url="PLANTITEM/PLANTNOT/PLANTNOT_Plant_Item.aspx" />
          </screen>
          <screen id="3_1_1_3" version="1" screen_code="OWNENDOSE" screen_type="0">
            <tab id="3_1_1_3_1" name="Endorsement Premium" url="PLANTITEM/OWNENDOSE/OWNENDOSE_Endorsement_Premium.aspx" />
          </screen>
          <screen id="3_1_1_4" version="1" screen_code="OWNSNOTES" screen_type="0">
            <tab id="3_1_1_4_1" name="Notes Detials" url="PLANTITEM/OWNSNOTES/OWNSNOTES_Notes_Detials.aspx" />
          </screen>
          <screen id="3_1_1_5" version="1" screen_code="OWNNOTES" screen_type="0">
            <tab id="3_1_1_5_1" name="Note Details" url="PLANTITEM/OWNNOTES/OWNNOTES_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
    </tab>
    <tab id="4" name="Hired In Plant" url="CPINSURE_Hired_In_Plant.aspx">
      <screen id="4_1" version="1" screen_code="HIREDNOT" screen_type="0">
        <tab id="4_1_1" name="Plant Item" url="HIREDNOT/HIREDNOT_Plant_Item.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="HRDENDOSE" screen_type="0">
        <tab id="4_2_1" name="Endorsement Premium" url="HRDENDOSE/HRDENDOSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="HRDSNOTES" screen_type="0">
        <tab id="4_3_1" name="Notes Detials" url="HRDSNOTES/HRDSNOTES_Notes_Detials.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="HRDNOTES" screen_type="0">
        <tab id="4_4_1" name="Note Details" url="HRDNOTES/HRDNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Deposit Premium" url="CPINSURE_Deposit_Premium.aspx" />
    <tab id="6" name="Deductibles" url="CPINSURE_Deductibles.aspx">
      <screen id="6_1" version="1" screen_code="DTNOVALUE" screen_type="0">
        <tab id="6_1_1" name="Non Band Deductibles" url="DTNOVALUE/DTNOVALUE_Non_Band_Deductibles.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="DTVALUE" screen_type="0">
        <tab id="6_2_1" name="Deductibles" url="DTVALUE/DTVALUE_Deductibles.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Extensions" url="CPINSURE_Extensions.aspx">
      <screen id="7_1" version="1" screen_code="CPIADDCLD" screen_type="0">
        <tab id="7_1_1" name="Extensions" url="CPIADDCLD/CPIADDCLD_Extensions.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Premium Overview" url="CPINSURE_Premium_Overview.aspx" />
    <tab id="9" name="Reinsurance" url="CPINSURE_Reinsurance.aspx" />
    <tab id="10" name="Endorsements" url="CPINSURE_Endorsements.aspx">
      <screen id="10_1" version="1" screen_code="CPIENDOS" screen_type="0">
        <tab id="10_1_1" name="Endorsement Premium" url="CPIENDOS/CPIENDOS_Endorsement_Premium.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Notes" url="CPINSURE_Notes.aspx">
      <screen id="11_1" version="1" screen_code="CPISNOTES" screen_type="0">
        <tab id="11_1_1" name="Note Details" url="CPISNOTES/CPISNOTES_Note_Details.aspx" />
      </screen>
      <screen id="11_2" version="1" screen_code="CPINOTES" screen_type="0">
        <tab id="11_2_1" name="Note Details" url="CPINOTES/CPINOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>