<screens>
  <screen id="1" version="1" screen_code="CAAMF">
    <tab id="2" name="Premises Insured" url="CAAMF_Premises_Insured.aspx">
      <screen id="2_1" version="1" screen_code="CAAMFLMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CAAMFLMTA/CAAMFLMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Fleet Details" url="CAAMF_Fleet_Details.aspx">
      <screen id="3_1" version="1" screen_code="MFLEETDET" screen_type="0">
        <tab id="3_1_1" name="Fleet Cover Details" url="MFLEETDET/MFLEETDET_Fleet_Cover_Details.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="MFVEHDET" screen_type="0">
        <tab id="3_2_1" name="Vehicle Details" url="MFVEHDET/MFVEHDET_Vehicle_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="SOUNDEQ" screen_type="0">
        <tab id="3_3_1" name="Sound Equipment" url="SOUNDEQ/SOUNDEQ_Sound_Equipment.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="MFPRTY" screen_type="0">
        <tab id="3_4_1" name="Interest Parties" url="MFPRTY/MFPRTY_Interest_Parties.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Liabilities" url="CAAMF_Liabilities.aspx" />
    <tab id="5" name="Extensions" url="CAAMF_Extensions.aspx" />
    <tab id="6" name="Endorsements" url="CAAMF_Endorsements.aspx">
      <screen id="6_1" version="1" screen_code="MFENDPRM" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="MFENDPRM/MFENDPRM_Endorsement_Premium.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Notes" url="CAAMF_Notes.aspx">
      <screen id="7_1" version="1" screen_code="MFNOTE" screen_type="0">
        <tab id="7_1_1" name="Note Details" url="MFNOTE/MFNOTE_Note_Details.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="MFSNOTE" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="MFSNOTE/MFSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Referrals" url="CAAMF_Referrals.aspx">
      <screen id="8_1" version="1" screen_code="MFREF" screen_type="0">
        <tab id="8_1_1" name="Referral Details" url="MFREF/MFREF_Referral_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Financial Overview" url="CAAMF_Financial_Overview.aspx" />
  </screen>
</screens>