<screens>
  <screen id="1" version="1" screen_code="MMGENCLM">
    <tab id="2" name="Claim Information" url="MMGENCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="MGENTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="MGENTRAIL/MGENTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Motor General" url="MMGENCLM_Motor_General.aspx">
      <screen id="3_1" version="1" screen_code="MGENDCLM" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="MGENDCLM/MGENDCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="MGNOTESCLM" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="MGNOTESCLM/MGNOTESCLM_Note_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MGSNOTECLM" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="MGSNOTECLM/MGSNOTECLM_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Third Party" url="MMGENCLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="MGENTPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="MGENTPARTY/MGENTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MGENWTN" screen_type="0">
        <tab id="4_2_1" name="Witness" url="MGENWTN/MGENWTN_Witness.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="MGENATT" screen_type="0">
        <tab id="4_3_1" name="Attorney" url="MGENATT/MGENATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Notes" url="MMGENCLM_Notes.aspx">
      <screen id="5_1" version="1" screen_code="MGENNCLM" screen_type="0">
        <tab id="5_1_1" name="Claims Internal Notes" url="MGENNCLM/MGENNCLM_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="MGENENCLM" screen_type="0">
        <tab id="5_2_1" name="Claims External Notes" url="MGENENCLM/MGENENCLM_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="MMGENCLM_Perils.aspx" />
  </screen>
</screens>