<screens>
  <screen id="1" version="1" screen_code="MOTORRSK">
    <tab id="2" name="Cover Details" url="MOTORRSK_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="MOTORMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="MOTORMTA/MOTORMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Motor" url="MOTORRSK_Motor.aspx">
      <screen id="3_1" version="1" screen_code="PVTMEXTRA" screen_type="0">
        <tab id="3_1_1" name="Private Motor Extra Item" url="PVTMEXTRA/PVTMEXTRA_Private_Motor_Extra_Item.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="PVTMRAD" screen_type="0">
        <tab id="3_2_1" name="Private Motor Radio Items" url="PVTMRAD/PVTMRAD_Private_Motor_Radio_Items.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Endorsements" url="MOTORRSK_Endorsements.aspx" />
    <tab id="5" name="Notes" url="MOTORRSK_Notes.aspx">
      <screen id="5_1" version="1" screen_code="MOTNOTES" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="MOTNOTES/MOTNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="MOTEXTNOTE" screen_type="0">
        <tab id="5_2_1" name="Subjectivities Details" url="MOTEXTNOTE/MOTEXTNOTE_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>