<screens>
  <screen id="1" version="1" screen_code="PCOMPEQRSK">
    <tab id="2" name="Cover Details" url="PCOMPEQRSK_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="PCOMPMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="PCOMPMTA/PCOMPMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risk Details" url="PCOMPEQRSK_Risk_Details.aspx">
      <screen id="3_1" version="1" screen_code="PERCOMPEQ" screen_type="0">
        <tab id="3_1_1" name="Personal Computer Equipment" url="PERCOMPEQ/PERCOMPEQ_Personal_Computer_Equipment.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Endorsements" url="PCOMPEQRSK_Endorsements.aspx" />
    <tab id="5" name="Notes" url="PCOMPEQRSK_Notes.aspx">
      <screen id="5_1" version="1" screen_code="PCEQNOTES" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="PCEQNOTES/PCEQNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="PCEEXNOTE" screen_type="0">
        <tab id="5_2_1" name="Subjectivities Details" url="PCEEXNOTE/PCEEXNOTE_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>