<screens>
  <screen id="1" version="1" screen_code="CCAELECLM">
    <tab id="2" name="Claim Information" url="CCAELECLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="ELETRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="ELETRAIL/ELETRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Claim Selection" url="CCAELECLM_Claim_Selection.aspx" />
    <tab id="4" name="Electronic Equipment" url="CCAELECLM_Electronic_Equipment.aspx">
      <screen id="4_1" version="1" screen_code="EELECCHILD" screen_type="0">
        <tab id="4_1_1" name="Electric Equipment Details" url="EELECCHILD/EELECCHILD_Electric_Equipment_Details.aspx">
          <screen id="4_1_1_1" version="1" screen_code="EELECCLDEP" screen_type="0">
            <tab id="4_1_1_1_1" name="Endorsement Premium" url="EELECCHILD/EELECCLDEP/EELECCLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="4_1_1_2" version="1" screen_code="EELECNOTE" screen_type="0">
            <tab id="4_1_1_2_1" name="Note Details" url="EELECCHILD/EELECNOTE/EELECNOTE_Note_Details.aspx" />
          </screen>
          <screen id="4_1_1_3" version="1" screen_code="EELESCNOTE" screen_type="0">
            <tab id="4_1_1_3_1" name="Note Details" url="EELECCHILD/EELESCNOTE/EELESCNOTE_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="4_2" version="1" screen_code="EELEECMP" screen_type="0">
        <tab id="4_2_1" name="Multiple Premises" url="EELEECMP/EELEECMP_Multiple_Premises.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="EELECNDPRE" screen_type="0">
        <tab id="4_3_1" name="Endorsement Premium" url="EELECNDPRE/EELECNDPRE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="ELECNTE" screen_type="0">
        <tab id="4_4_1" name="Note Details" url="ELECNTE/ELECNTE_Note_Details.aspx" />
      </screen>
      <screen id="4_5" version="1" screen_code="ELECSNOTES" screen_type="0">
        <tab id="4_5_1" name="Note Details" url="ELECSNOTES/ELECSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Third Party" url="CCAELECLM_Third_Party.aspx">
      <screen id="5_1" version="1" screen_code="ELEQTPARTY" screen_type="0">
        <tab id="5_1_1" name="Third Party Recoveries" url="ELEQTPARTY/ELEQTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="ELEQWTN" screen_type="0">
        <tab id="5_2_1" name="Witness" url="ELEQWTN/ELEQWTN_Witness.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="ELEQATT" screen_type="0">
        <tab id="5_3_1" name="Attorney" url="ELEQATT/ELEQATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Claim Notes" url="CCAELECLM_Claim_Notes.aspx">
      <screen id="6_1" version="1" screen_code="CCAMECNOTE" screen_type="0">
        <tab id="6_1_1" name="Claims Internal Notes" url="CCAMECNOTE/CCAMECNOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="CCAMESNOTE" screen_type="0">
        <tab id="6_2_1" name="Claims External Notes" url="CCAMESNOTE/CCAMESNOTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Perils" url="CCAELECLM_Perils.aspx" />
  </screen>
</screens>