<screens>
  <screen id="1" version="1" screen_code="GENLIACLM">
    <tab id="2" name="Claim Information" url="GENLIACLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="GLTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="GLTRAIL/GLTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="GENLIACLM_Underwriting_Information.aspx" />
    <tab id="4" name="Extensions" url="GENLIACLM_Extensions.aspx" />
    <tab id="5" name="Third Party" url="GENLIACLM_Third_Party.aspx">
      <screen id="5_1" version="1" screen_code="GLTPARTY" screen_type="0">
        <tab id="5_1_1" name="Third Party Recoveries" url="GLTPARTY/GLTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Assessment Details" url="GENLIACLM_Assessment_Details.aspx">
      <screen id="6_1" version="1" screen_code="GLASSESS" screen_type="0">
        <tab id="6_1_1" name="Details of Assessor" url="GLASSESS/GLASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="GLATTORN" screen_type="0">
        <tab id="6_2_1" name="Details of Attorneys" url="GLATTORN/GLATTORN_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="GLWITN" screen_type="0">
        <tab id="6_3_1" name="Details of Witnesses" url="GLWITN/GLWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Perils" url="GENLIACLM_Perils.aspx" />
  </screen>
</screens>