<screens>
  <screen id="1" version="1" screen_code="MMFLEET">
    <tab id="2" name="Premises Insured" url="MMFLEET_Premises_Insured.aspx">
      <screen id="2_1" version="1" screen_code="CMAMFMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMAMFMTA/CMAMFMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Fleet Details" url="MMFLEET_Fleet_Details.aspx">
      <screen id="3_1" version="1" screen_code="CMAMFFLEET" screen_type="0">
        <tab id="3_1_1" name="Fleet Cover Details" url="CMAMFFLEET/CMAMFFLEET_Fleet_Cover_Details.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="CMAMFVDET" screen_type="0">
        <tab id="3_2_1" name="Vehicle Details" url="CMAMFVDET/CMAMFVDET_Vehicle_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="CMAMFSOUND" screen_type="0">
        <tab id="3_3_1" name="Sound Equipment" url="CMAMFSOUND/CMAMFSOUND_Sound_Equipment.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="CMAMFPARTY" screen_type="0">
        <tab id="3_4_1" name="Interest Parties" url="CMAMFPARTY/CMAMFPARTY_Interest_Parties.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Liabilities" url="MMFLEET_Liabilities.aspx" />
    <tab id="5" name="Extensions" url="MMFLEET_Extensions.aspx" />
    <tab id="6" name="Endorsements" url="MMFLEET_Endorsements.aspx">
      <screen id="6_1" version="1" screen_code="CMAMFEP" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="CMAMFEP/CMAMFEP_Endorsement_Premium.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Notes" url="MMFLEET_Notes.aspx">
      <screen id="7_1" version="1" screen_code="CMAMFNOTES" screen_type="0">
        <tab id="7_1_1" name="Note Details" url="CMAMFNOTES/CMAMFNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="CMAMFSNOTE" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="CMAMFSNOTE/CMAMFSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Referrals" url="MMFLEET_Referrals.aspx">
      <screen id="8_1" version="1" screen_code="MFREFER" screen_type="0">
        <tab id="8_1_1" name="Referral Details" url="MFREFER/MFREFER_Referral_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Financial Overview" url="MMFLEET_Financial_Overview.aspx" />
  </screen>
</screens>