<screens>
  <screen id="1" version="1" screen_code="CCAMBCLCLM">
    <tab id="2" name="Claim Information" url="CCAMBCLCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="MISCTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="MISCTRAIL/MISCTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Machinery Breakdown Risk selection" url="CCAMBCLCLM_Machinery_Breakdown_Risk_selection.aspx" />
    <tab id="4" name="Machinery Breakdown" url="CCAMBCLCLM_Machinery_Breakdown.aspx">
      <screen id="4_1" version="1" screen_code="MBTMCL" screen_type="0">
        <tab id="4_1_1" name="Machinery Breakdown Item Details" url="MBTMCL/MBTMCL_Machinery_Breakdown_Item_Details.aspx">
          <screen id="4_1_1_1" version="1" screen_code="MBTMPCLM" screen_type="0">
            <tab id="4_1_1_1_1" name="Endorsement Premium" url="MBTMCL/MBTMPCLM/MBTMPCLM_Endorsement_Premium.aspx" />
          </screen>
          <screen id="4_1_1_2" version="1" screen_code="MBTMNTCL" screen_type="0">
            <tab id="4_1_1_2_1" name="Note Details" url="MBTMCL/MBTMNTCL/MBTMNTCL_Note_Details.aspx" />
          </screen>
          <screen id="4_1_1_3" version="1" screen_code="MBTMSNTCL" screen_type="0">
            <tab id="4_1_1_3_1" name="Note Details" url="MBTMCL/MBTMSNTCL/MBTMSNTCL_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="4_2" version="1" screen_code="MBOXTCL" screen_type="0">
        <tab id="4_2_1" name="Other Machinery Breakdown Extensions" url="MBOXTCL/MBOXTCL_Other_Machinery_Breakdown_Extensions.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="MBFPCL" screen_type="0">
        <tab id="4_3_1" name="First Amount Payable" url="MBFPCL/MBFPCL_First_Amount_Payable.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="MBECLM" screen_type="0">
        <tab id="4_4_1" name="Endorsement Premium" url="MBECLM/MBECLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_5" version="1" screen_code="MBNTCL" screen_type="0">
        <tab id="4_5_1" name="Machinery Breakdown Note Details" url="MBNTCL/MBNTCL_Machinery_Breakdown_Note_Details.aspx" />
      </screen>
      <screen id="4_6" version="1" screen_code="MBSNTCL" screen_type="0">
        <tab id="4_6_1" name="Note Details" url="MBSNTCL/MBSNTCL_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Consequential Loss" url="CCAMBCLCLM_Consequential_Loss.aspx">
      <screen id="5_1" version="1" screen_code="CCEPCLM" screen_type="0">
        <tab id="5_1_1" name="Endorsement Premium" url="CCEPCLM/CCEPCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="CCLNTSCL" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="CCLNTSCL/CCLNTSCL_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="CCLSNTSCL" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="CCLSNTSCL/CCLSNTSCL_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Deterioration of Stock" url="CCAMBCLCLM_Deterioration_of_Stock.aspx">
      <screen id="6_1" version="1" screen_code="DSTMCL" screen_type="0">
        <tab id="6_1_1" name="Deterioration of Stock Items Details" url="DSTMCL/DSTMCL_Deterioration_of_Stock_Items_Details.aspx">
          <screen id="6_1_1_1" version="1" screen_code="DSNTSCL" screen_type="0">
            <tab id="6_1_1_1_1" name="Note Details" url="DSTMCL/DSNTSCL/DSNTSCL_Note_Details.aspx" />
          </screen>
          <screen id="6_1_1_2" version="1" screen_code="DSSNTSCL" screen_type="0">
            <tab id="6_1_1_2_1" name="Note Details" url="DSTMCL/DSSNTSCL/DSSNTSCL_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="6_2" version="1" screen_code="DSNTCL" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="DSNTCL/DSNTCL_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="DSSNTCL" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="DSSNTCL/DSSNTCL_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Overview" url="CCAMBCLCLM_Overview.aspx" />
    <tab id="8" name="Third Party" url="CCAMBCLCLM_Third_Party.aspx">
      <screen id="8_1" version="1" screen_code="MISCTPARTY" screen_type="0">
        <tab id="8_1_1" name="Third Party Recoveries" url="MISCTPARTY/MISCTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Notes" url="CCAMBCLCLM_Notes.aspx">
      <screen id="9_1" version="1" screen_code="MISCNCLM" screen_type="0">
        <tab id="9_1_1" name="Claims Internal Notes" url="MISCNCLM/MISCNCLM_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="MISCENCLM" screen_type="0">
        <tab id="9_2_1" name="Claims External Notes" url="MISCENCLM/MISCENCLM_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Perils" url="CCAMBCLCLM_Perils.aspx" />
  </screen>
</screens>