<screens>
  <screen id="1" version="1" screen_code="RTARSK">
    <tab id="2" name="Edcon Scheme" url="RTARSK_Edcon_Scheme.aspx">
      <screen id="2_1" version="1" screen_code="RTARSKMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="RTARSKMTA/RTARSKMTA_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="RTAEENDO" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="RTAEENDO/RTAEENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="RTAENOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="RTAENOTES/RTAENOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="RTAESNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="RTAESNOTES/RTAESNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>