<screens>
  <screen id="1" version="1" screen_code="HTPBAR">
    <tab id="2" name="Risk Details" url="HTPBAR_Risk_Details.aspx">
      <screen id="2_1" version="1" screen_code="BUSALLRSK" screen_type="0">
        <tab id="2_1_1" name="Business All Risk" url="BUSALLRSK/BUSALLRSK_Business_All_Risk.aspx">
          <screen id="2_1_1_1" version="1" screen_code="BARCHLDEP" screen_type="0">
            <tab id="2_1_1_1_1" name="Endorsement Premium" url="BUSALLRSK/BARCHLDEP/BARCHLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="2_1_1_2" version="1" screen_code="BANOTES" screen_type="0">
            <tab id="2_1_1_2_1" name="Note Details" url="BUSALLRSK/BANOTES/BANOTES_Note_Details.aspx" />
          </screen>
          <screen id="2_1_1_3" version="1" screen_code="BASNOTES" screen_type="0">
            <tab id="2_1_1_3_1" name="Note Details" url="BUSALLRSK/BASNOTES/BASNOTES_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="2_2" version="1" screen_code="BARENDPREM" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="BARENDPREM/BARENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="BARNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="BARNOTES/BARNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="BARSNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="BARSNOTES/BARSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>