<screens>
  <screen id="1" version="1" screen_code="CTACGIT">
    <tab id="2" name="Risk Details" url="CTACGIT_Risk_Details.aspx">
      <screen id="2_1" version="1" screen_code="GITCENDPRE" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="GITCENDPRE/GITCENDPRE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="TGITCNOTES" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="TGITCNOTES/TGITCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="TGITSCNOTE" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="TGITSCNOTE/TGITSCNOTE_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>