<screens>
  <screen id="1" version="1" screen_code="TRAVSCHRSK">
    <tab id="2" name="Cover Details" url="TRAVSCHRSK_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="TRAVSMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="TRAVSMTA/TRAVSMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risk Details" url="TRAVSCHRSK_Risk_Details.aspx" />
    <tab id="4" name="Endorsements" url="TRAVSCHRSK_Endorsements.aspx">
      <screen id="4_1" version="1" screen_code="TRMPREM" screen_type="0">
        <tab id="4_1_1" name="Premium Endorsements" url="TRMPREM/TRMPREM_Premium_Endorsements.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Notes" url="TRAVSCHRSK_Notes.aspx">
      <screen id="5_1" version="1" screen_code="TRVNOTES" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="TRVNOTES/TRVNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="TRVEXNOTES" screen_type="0">
        <tab id="5_2_1" name="Subjectivities Details" url="TRVEXNOTES/TRVEXNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>