<screens>
  <screen id="1" version="1" screen_code="CFFCS">
    <tab id="2" name="Fire Crop and Stack" url="CFFCS_Fire_Crop_and_Stack.aspx">
      <screen id="2_1" version="1" screen_code="RISKITEMS" screen_type="0">
        <tab id="2_1_1" name="Risk Item" url="RISKITEMS/RISKITEMS_Risk_Item.aspx">
          <screen id="2_1_1_1" version="1" screen_code="CFFCENDOS" screen_type="0">
            <tab id="2_1_1_1_1" name="Endorsement Premium" url="RISKITEMS/CFFCENDOS/CFFCENDOS_Endorsement_Premium.aspx" />
          </screen>
          <screen id="2_1_1_2" version="1" screen_code="FCSNOTES" screen_type="0">
            <tab id="2_1_1_2_1" name="Note Details" url="RISKITEMS/FCSNOTES/FCSNOTES_Note_Details.aspx" />
          </screen>
          <screen id="2_1_1_3" version="1" screen_code="FCSNOTE" screen_type="0">
            <tab id="2_1_1_3_1" name="Note Details" url="RISKITEMS/FCSNOTE/FCSNOTE_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="2_2" version="1" screen_code="CFFENDOS" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="CFFENDOS/CFFENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="CFFSNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="CFFSNOTES/CFFSNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="CFFNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="CFFNOTES/CFFNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>