<screens>
  <screen id="1" version="1" screen_code="CMAMISCCLM">
    <tab id="2" name="Claim Information" url="CMAMISCCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="MISCTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="MISCTRAIL/MISCTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Claim Selection" url="CMAMISCCLM_Claim_Selection.aspx" />
    <tab id="4" name="Business All Risk" url="CMAMISCCLM_Business_All_Risk.aspx">
      <screen id="4_1" version="1" screen_code="BUSALLRSK" screen_type="0">
        <tab id="4_1_1" name="Business All Risk" url="BUSALLRSK/BUSALLRSK_Business_All_Risk.aspx">
          <screen id="4_1_1_1" version="1" screen_code="BARCHLDEP" screen_type="0">
            <tab id="4_1_1_1_1" name="Endorsement Premium" url="BUSALLRSK/BARCHLDEP/BARCHLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="4_1_1_2" version="1" screen_code="BANOTES" screen_type="0">
            <tab id="4_1_1_2_1" name="Note Details" url="BUSALLRSK/BANOTES/BANOTES_Note_Details.aspx" />
          </screen>
          <screen id="4_1_1_3" version="1" screen_code="BASNOTES" screen_type="0">
            <tab id="4_1_1_3_1" name="Note Details" url="BUSALLRSK/BASNOTES/BASNOTES_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="4_2" version="1" screen_code="BARENDPREM" screen_type="0">
        <tab id="4_2_1" name="Endorsement Premium" url="BARENDPREM/BARENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="BARNOTES" screen_type="0">
        <tab id="4_3_1" name="Note Details" url="BARNOTES/BARNOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="BARSNOTES" screen_type="0">
        <tab id="4_4_1" name="Note Details" url="BARSNOTES/BARSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Glass" url="CMAMISCCLM_Glass.aspx">
      <screen id="5_1" version="1" screen_code="GSCLMEND" screen_type="0">
        <tab id="5_1_1" name="Endorsement Premium" url="GSCLMEND/GSCLMEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="GNTS" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="GNTS/GNTS_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="GSNTS" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="GSNTS/GSNTS_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Theft" url="CMAMISCCLM_Theft.aspx">
      <screen id="6_1" version="1" screen_code="CLMTFTEND" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="CLMTFTEND/CLMTFTEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="CLMTFTNOTE" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="CLMTFTNOTE/CLMTFTNOTE_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="CLMTFSNOTE" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="CLMTFSNOTE/CLMTFSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Money" url="CMAMISCCLM_Money.aspx">
      <screen id="7_1" version="1" screen_code="CLMMNYSAFE" screen_type="0">
        <tab id="7_1_1" name="Type of Safe" url="CLMMNYSAFE/CLMMNYSAFE_Type_of_Safe.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="CLMMNYEND" screen_type="0">
        <tab id="7_2_1" name="Endorsement Premium" url="CLMMNYEND/CLMMNYEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="CLMMNYNOTE" screen_type="0">
        <tab id="7_3_1" name="Note Details" url="CLMMNYNOTE/CLMMNYNOTE_Note_Details.aspx" />
      </screen>
      <screen id="7_4" version="1" screen_code="CLMMNSNOTE" screen_type="0">
        <tab id="7_4_1" name="Note Details" url="CLMMNSNOTE/CLMMNSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Goods In Transit" url="CMAMISCCLM_Goods_In_Transit.aspx">
      <screen id="8_1" version="1" screen_code="GITENDCLM" screen_type="0">
        <tab id="8_1_1" name="Endorsement Premium" url="GITENDCLM/GITENDCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="GITNOTECLM" screen_type="0">
        <tab id="8_2_1" name="Note Details" url="GITNOTECLM/GITNOTECLM_Note_Details.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="GITSNOTCLM" screen_type="0">
        <tab id="8_3_1" name="Note Details" url="GITSNOTCLM/GITSNOTCLM_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Group Personal Accident" url="CMAMISCCLM_Group_Personal_Accident.aspx">
      <screen id="9_1" version="1" screen_code="GPAENDOCLM" screen_type="0">
        <tab id="9_1_1" name="Endorsement Premium" url="GPAENDOCLM/GPAENDOCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="GPASNOTESC" screen_type="0">
        <tab id="9_2_1" name="Notes Detials" url="GPASNOTESC/GPASNOTESC_Notes_Detials.aspx" />
      </screen>
      <screen id="9_3" version="1" screen_code="GPANOTESC" screen_type="0">
        <tab id="9_3_1" name="Note Details" url="GPANOTESC/GPANOTESC_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Stated Benefits" url="CMAMISCCLM_Stated_Benefits.aspx">
      <screen id="10_1" version="1" screen_code="CLMSBEND" screen_type="0">
        <tab id="10_1_1" name="Endorsement Premium" url="CLMSBEND/CLMSBEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="10_2" version="1" screen_code="CLMSBNOTE" screen_type="0">
        <tab id="10_2_1" name="Note Details" url="CLMSBNOTE/CLMSBNOTE_Note_Details.aspx" />
      </screen>
      <screen id="10_3" version="1" screen_code="CLMSBSNOTE" screen_type="0">
        <tab id="10_3_1" name="Note Details" url="CLMSBSNOTE/CLMSBSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Fidelity" url="CMAMISCCLM_Fidelity.aspx">
      <screen id="11_1" version="1" screen_code="NCATBASISC" screen_type="0">
        <tab id="11_1_1" name="Name Category Basis" url="NCATBASISC/NCATBASISC_Name_Category_Basis.aspx" />
      </screen>
      <screen id="11_2" version="1" screen_code="FIDGENDSC" screen_type="0">
        <tab id="11_2_1" name="Endorsement Premium" url="FIDGENDSC/FIDGENDSC_Endorsement_Premium.aspx" />
      </screen>
      <screen id="11_3" version="1" screen_code="FIDCNOTESC" screen_type="0">
        <tab id="11_3_1" name="Note Details" url="FIDCNOTESC/FIDCNOTESC_Note_Details.aspx" />
      </screen>
      <screen id="11_4" version="1" screen_code="FIDGNOTESC" screen_type="0">
        <tab id="11_4_1" name="Note Details" url="FIDGNOTESC/FIDGNOTESC_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="12" name="Electronic Equipment" url="CMAMISCCLM_Electronic_Equipment.aspx">
      <screen id="12_1" version="1" screen_code="EECCHILD" screen_type="0">
        <tab id="12_1_1" name="Electric Equipment Details" url="EECCHILD/EECCHILD_Electric_Equipment_Details.aspx">
          <screen id="12_1_1_1" version="1" screen_code="EECCHLDEP" screen_type="0">
            <tab id="12_1_1_1_1" name="Endorsement Premium" url="EECCHILD/EECCHLDEP/EECCHLDEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="12_1_1_2" version="1" screen_code="EECNOTES" screen_type="0">
            <tab id="12_1_1_2_1" name="Note Details" url="EECCHILD/EECNOTES/EECNOTES_Note_Details.aspx" />
          </screen>
          <screen id="12_1_1_3" version="1" screen_code="EESCNOTES" screen_type="0">
            <tab id="12_1_1_3_1" name="Note Details" url="EECCHILD/EESCNOTES/EESCNOTES_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="12_2" version="1" screen_code="EECMP" screen_type="0">
        <tab id="12_2_1" name="Multiple Premises" url="EECMP/EECMP_Multiple_Premises.aspx" />
      </screen>
      <screen id="12_3" version="1" screen_code="EECNDPREM" screen_type="0">
        <tab id="12_3_1" name="Endorsement Premium" url="EECNDPREM/EECNDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="12_4" version="1" screen_code="ECNOTES" screen_type="0">
        <tab id="12_4_1" name="Note Details" url="ECNOTES/ECNOTES_Note_Details.aspx" />
      </screen>
      <screen id="12_5" version="1" screen_code="ECSNOTES" screen_type="0">
        <tab id="12_5_1" name="Note Details" url="ECSNOTES/ECSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="13" name="Machinery Breakdown Risk selection" url="CMAMISCCLM_Machinery_Breakdown_Risk_selection.aspx" />
    <tab id="14" name="Machinery Breakdown" url="CMAMISCCLM_Machinery_Breakdown.aspx">
      <screen id="14_1" version="1" screen_code="MBITMCL" screen_type="0">
        <tab id="14_1_1" name="Machinery Breakdown Item Details" url="MBITMCL/MBITMCL_Machinery_Breakdown_Item_Details.aspx">
          <screen id="14_1_1_1" version="1" screen_code="MBITMPCLM" screen_type="0">
            <tab id="14_1_1_1_1" name="Endorsement Premium" url="MBITMCL/MBITMPCLM/MBITMPCLM_Endorsement_Premium.aspx" />
          </screen>
          <screen id="14_1_1_2" version="1" screen_code="MBITMNTCL" screen_type="0">
            <tab id="14_1_1_2_1" name="Note Details" url="MBITMCL/MBITMNTCL/MBITMNTCL_Note_Details.aspx" />
          </screen>
          <screen id="14_1_1_3" version="1" screen_code="MBITMSNTCL" screen_type="0">
            <tab id="14_1_1_3_1" name="Note Details" url="MBITMCL/MBITMSNTCL/MBITMSNTCL_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="14_2" version="1" screen_code="MBOTXTCL" screen_type="0">
        <tab id="14_2_1" name="Other Machinery Breakdown Extensions" url="MBOTXTCL/MBOTXTCL_Other_Machinery_Breakdown_Extensions.aspx" />
      </screen>
      <screen id="14_3" version="1" screen_code="MBFAPCL" screen_type="0">
        <tab id="14_3_1" name="First Amount Payable" url="MBFAPCL/MBFAPCL_First_Amount_Payable.aspx" />
      </screen>
      <screen id="14_4" version="1" screen_code="MBEPCLM" screen_type="0">
        <tab id="14_4_1" name="Endorsement Premium" url="MBEPCLM/MBEPCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="14_5" version="1" screen_code="MBNTSCL" screen_type="0">
        <tab id="14_5_1" name="Machinery Breakdown Note Details" url="MBNTSCL/MBNTSCL_Machinery_Breakdown_Note_Details.aspx" />
      </screen>
      <screen id="14_6" version="1" screen_code="MBSNTSCL" screen_type="0">
        <tab id="14_6_1" name="Note Details" url="MBSNTSCL/MBSNTSCL_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="15" name="Consequential Loss" url="CMAMISCCLM_Consequential_Loss.aspx">
      <screen id="15_1" version="1" screen_code="CEPCLM" screen_type="0">
        <tab id="15_1_1" name="Endorsement Premium" url="CEPCLM/CEPCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="15_2" version="1" screen_code="CLNTSCL" screen_type="0">
        <tab id="15_2_1" name="Note Details" url="CLNTSCL/CLNTSCL_Note_Details.aspx" />
      </screen>
      <screen id="15_3" version="1" screen_code="CLSNTSCL" screen_type="0">
        <tab id="15_3_1" name="Note Details" url="CLSNTSCL/CLSNTSCL_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="16" name="Deterioration of Stock" url="CMAMISCCLM_Deterioration_of_Stock.aspx">
      <screen id="16_1" version="1" screen_code="DSITMCL" screen_type="0">
        <tab id="16_1_1" name="Deterioration of Stock Items Details" url="DSITMCL/DSITMCL_Deterioration_of_Stock_Items_Details.aspx">
          <screen id="16_1_1_1" version="1" screen_code="DSIEPCLM" screen_type="0">
            <tab id="16_1_1_1_1" name="Endorsement Premium" url="DSITMCL/DSIEPCLM/DSIEPCLM_Endorsement_Premium.aspx" />
          </screen>
          <screen id="16_1_1_2" version="1" screen_code="DSINTSCL" screen_type="0">
            <tab id="16_1_1_2_1" name="Note Details" url="DSITMCL/DSINTSCL/DSINTSCL_Note_Details.aspx" />
          </screen>
          <screen id="16_1_1_3" version="1" screen_code="DSISNTSCL" screen_type="0">
            <tab id="16_1_1_3_1" name="Note Details" url="DSITMCL/DSISNTSCL/DSISNTSCL_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="16_2" version="1" screen_code="DSEPCLM" screen_type="0">
        <tab id="16_2_1" name="Endorsement Premium" url="DSEPCLM/DSEPCLM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="16_3" version="1" screen_code="DSNTSCL" screen_type="0">
        <tab id="16_3_1" name="Note Details" url="DSNTSCL/DSNTSCL_Note_Details.aspx" />
      </screen>
      <screen id="16_4" version="1" screen_code="DSSNTSCL" screen_type="0">
        <tab id="16_4_1" name="Note Details" url="DSSNTSCL/DSSNTSCL_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="17" name="Overview" url="CMAMISCCLM_Overview.aspx" />
    <tab id="18" name="Third Party" url="CMAMISCCLM_Third_Party.aspx">
      <screen id="18_1" version="1" screen_code="MISCTPARTY" screen_type="0">
        <tab id="18_1_1" name="Third Party Recoveries" url="MISCTPARTY/MISCTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="18_2" version="1" screen_code="MISCWTN" screen_type="0">
        <tab id="18_2_1" name="Witness" url="MISCWTN/MISCWTN_Witness.aspx" />
      </screen>
      <screen id="18_3" version="1" screen_code="MISCATT" screen_type="0">
        <tab id="18_3_1" name="Attorney" url="MISCATT/MISCATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="19" name="Notes" url="CMAMISCCLM_Notes.aspx">
      <screen id="19_1" version="1" screen_code="MISCNCLM" screen_type="0">
        <tab id="19_1_1" name="Claims Internal Notes" url="MISCNCLM/MISCNCLM_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="19_2" version="1" screen_code="MISCENCLM" screen_type="0">
        <tab id="19_2_1" name="Claims External Notes" url="MISCENCLM/MISCENCLM_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="20" name="Perils" url="CMAMISCCLM_Perils.aspx" />
  </screen>
</screens>