<screens>
  <screen id="1" version="1" screen_code="AHRISK">
    <tab id="2" name="Accidental and Health" url="AHRISK_Accidental_and_Health.aspx">
      <screen id="2_1" version="1" screen_code="AHCOI" screen_type="0">
        <tab id="2_1_1" name="CO - INSURANCE" url="AHCOI/AHCOI_CO__INSURANCE.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="AHENDOSE" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="AHENDOSE/AHENDOSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="AHSNOTES" screen_type="0">
        <tab id="2_3_1" name="Notes Detials" url="AHSNOTES/AHSNOTES_Notes_Detials.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="AHNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="AHNOTES/AHNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>