<screens>
  <screen id="1" version="1" screen_code="ENVGITCLM">
    <tab id="2" name="Claim Information" url="ENVGITCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="ENVGTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="ENVGTRAIL/ENVGTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="ENVGITCLM_Underwriting_Information.aspx">
      <screen id="3_1" version="1" screen_code="SPECVBCLM" screen_type="0">
        <tab id="3_1_1" name="Specified Vehicle Basis" url="SPECVBCLM/SPECVBCLM_Specified_Vehicle_Basis.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Third Party" url="ENVGITCLM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="ENVGITPRTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="ENVGITPRTY/ENVGITPRTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Assessment Details" url="ENVGITCLM_Assessment_Details.aspx">
      <screen id="5_1" version="1" screen_code="ENVGASSESS" screen_type="0">
        <tab id="5_1_1" name="Details of Assessor" url="ENVGASSESS/ENVGASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="ENVGATTNY" screen_type="0">
        <tab id="5_2_1" name="Details of Attorneys" url="ENVGATTNY/ENVGATTNY_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="ENVGWITN" screen_type="0">
        <tab id="5_3_1" name="Details of Witnesses" url="ENVGWITN/ENVGWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="ENVGITCLM_Perils.aspx" />
  </screen>
</screens>