<screens>
  <screen id="1" version="1" screen_code="VAPRISK">
    <tab id="2" name="Cover Details" url="VAPRISK_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="VAPMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="VAPMTA/VAPMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Value Added Products" url="VAPRISK_Value_Added_Products.aspx" />
    <tab id="4" name="Endorsements" url="VAPRISK_Endorsements.aspx">
      <screen id="4_1" version="1" screen_code="VAPPREM" screen_type="0">
        <tab id="4_1_1" name="Premium Endorsements" url="VAPPREM/VAPPREM_Premium_Endorsements.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Notes" url="VAPRISK_Notes.aspx">
      <screen id="5_1" version="1" screen_code="VAPNOTES" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="VAPNOTES/VAPNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="VAPEXTNOTE" screen_type="0">
        <tab id="5_2_1" name="Subjectivities Details" url="VAPEXTNOTE/VAPEXTNOTE_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>