<screens>
  <screen id="1" version="1" screen_code="SPPC">
    <tab id="2" name="Pleasure Craft" url="SPPC_Pleasure_Craft.aspx">
      <screen id="2_1" version="1" screen_code="SPPCENDPR" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="SPPCENDPR/SPPCENDPR_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="SPPCNOTES" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="SPPCNOTES/SPPCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="SPPCSNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="SPPCSNOTES/SPPCSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>