<?xml version="1.0" encoding="utf-8" ?>
<ribbonMenu>
  <ribbonCategory id="s-home" title="Home" roles="*">
    <ribbonSection title="">
      <ribbonItem url="~/secure/workmanager.aspx" title="Work Manager" class="ribbon-organise" roles="*" />
      <ribbonItem url="~/secure/EventList.aspx" title="Event List" class="ribbon-new-quote" roles="*" />
    </ribbonSection>
  </ribbonCategory>

  <ribbonCategory id="s-client" title="Client" roles="*">
    <ribbonSection title="">
      <ribbonItem url="~/secure/agent/FindClient.aspx" title="Find Client" class="ribbon-advanced-search" roles="*" />
      <!--<ribbonItem url="~/secure/agent/CorporateClientDetails.aspx?mode=add" title="New Corporate Client" class="ribbon-new-client" roles="*" />-->
    </ribbonSection>
  </ribbonCategory>

  <ribbonCategory id="s-policy" title="Policy" roles="*">
    <ribbonSection title="">
      <ribbonItem url="~/secure/BrokerView.aspx" title="Find Policy" class="ribbon-advanced-search" roles="*" />
    </ribbonSection>
  </ribbonCategory>

  <ribbonCategory id="s-claim" title="Claim" roles="*">
    <ribbonSection title="Claim">
      <ribbonItem url="~/claims/findclaim.aspx" title="Claim Search" class="claims-search" roles="*" />
      <ribbonItem url="~/Claims/FindInsuranceFile.aspx" title="New Claim" class="ribbon-new-claim" roles="*" />
    </ribbonSection>
    <ribbonSection title="Payments">
      <ribbonItem url="~/secure/payment/claimpaymentprocessing.aspx" title="Claim Payment" class="ribbon-pay-claim" roles="*" />
      <ribbonItem url="~/secure/Authoriseclaimpayments.aspx" title="Authorise Payments" class="ribbon-edit-claim" roles="*" />
    </ribbonSection>
  </ribbonCategory>

  <ribbonCategory id="s-reports" title="Reports" roles="*">
    <ribbonSection title="">
      <ribbonItem url="~/secure/reports.aspx" title="Report Viewer" class="ribbon-view-reports" roles="*" />
    </ribbonSection>
  </ribbonCategory>
</ribbonMenu>

