<screens>
  <screen id="1" version="1" screen_code="AAR">
    <tab id="2" name="Risk Select" url="AAR_Risk_Select.aspx">
      <screen id="2_1" version="1" screen_code="AARMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="AARMTA/AARMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="General" url="AAR_General.aspx">
      <screen id="3_1" version="1" screen_code="OTHEREXT" screen_type="0">
        <tab id="3_1_1" name="Other Extensions" url="OTHEREXT/OTHEREXT_Other_Extensions.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="ARGENDP" screen_type="0">
        <tab id="3_2_1" name="Endorsement Premium" url="ARGENDP/ARGENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="ARGNOTES" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="ARGNOTES/ARGNOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="ARGSNOTES" screen_type="0">
        <tab id="3_4_1" name="Note Details" url="ARGSNOTES/ARGSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Section A Property Damage" url="AAR_Section_A_Property_Damage.aspx">
      <screen id="4_1" version="1" screen_code="OTHPROPDAM" screen_type="0">
        <tab id="4_1_1" name="Other Property Damage" url="OTHPROPDAM/OTHPROPDAM_Other_Property_Damage.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="OTHPROPEX" screen_type="0">
        <tab id="4_2_1" name="Other Property Extensions" url="OTHPROPEX/OTHPROPEX_Other_Property_Extensions.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="OTHERPDED" screen_type="0">
        <tab id="4_3_1" name="Other Property Deductibles" url="OTHERPDED/OTHERPDED_Other_Property_Deductibles.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="PROPEND" screen_type="0">
        <tab id="4_4_1" name="Endorsement Premium" url="PROPEND/PROPEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_5" version="1" screen_code="PROPNOTE" screen_type="0">
        <tab id="4_5_1" name="Note Details" url="PROPNOTE/PROPNOTE_Note_Details.aspx" />
      </screen>
      <screen id="4_6" version="1" screen_code="PROPPNOTE" screen_type="0">
        <tab id="4_6_1" name="Note Details" url="PROPPNOTE/PROPPNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Section B Engineering" url="AAR_Section_B_Engineering.aspx">
      <screen id="5_1" version="1" screen_code="ENGOTEXT" screen_type="0">
        <tab id="5_1_1" name="Other Engineering Extensions" url="ENGOTEXT/ENGOTEXT_Other_Engineering_Extensions.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="ENGOTPDED" screen_type="0">
        <tab id="5_2_1" name="Other Engineering Deductibles" url="ENGOTPDED/ENGOTPDED_Other_Engineering_Deductibles.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="ENGPEND" screen_type="0">
        <tab id="5_3_1" name="Endorsement Premium" url="ENGPEND/ENGPEND_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="ENGNOTE" screen_type="0">
        <tab id="5_4_1" name="Note Details" url="ENGNOTE/ENGNOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_5" version="1" screen_code="ENGSNOTE" screen_type="0">
        <tab id="5_5_1" name="Note Details" url="ENGSNOTE/ENGSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Section C Business Interruption" url="AAR_Section_C_Business_Interruption.aspx">
      <screen id="6_1" version="1" screen_code="OTHERBIEXT" screen_type="0">
        <tab id="6_1_1" name="Other Business Interruption Extensions" url="OTHERBIEXT/OTHERBIEXT_Other_Business_Interruption_Extensions.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="EXTSPDC" screen_type="0">
        <tab id="6_2_1" name="Specified Direct Customers" url="EXTSPDC/EXTSPDC_Specified_Direct_Customers.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="EXTSPDS" screen_type="0">
        <tab id="6_3_1" name="Specified Direct Suppliers" url="EXTSPDS/EXTSPDS_Specified_Direct_Suppliers.aspx" />
      </screen>
      <screen id="6_4" version="1" screen_code="OTHBIDED" screen_type="0">
        <tab id="6_4_1" name="Other Business Interruption Deductibles" url="OTHBIDED/OTHBIDED_Other_Business_Interruption_Deductibles.aspx" />
      </screen>
      <screen id="6_5" version="1" screen_code="BIENDP" screen_type="0">
        <tab id="6_5_1" name="Endorsement Premium" url="BIENDP/BIENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_6" version="1" screen_code="BINOTE" screen_type="0">
        <tab id="6_6_1" name="Note Details" url="BINOTE/BINOTE_Note_Details.aspx" />
      </screen>
      <screen id="6_7" version="1" screen_code="BISNOTE" screen_type="0">
        <tab id="6_7_1" name="Note Details" url="BISNOTE/BISNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="RI Exposure" url="AAR_RI_Exposure.aspx" />
    <tab id="8" name="Referrals" url="AAR_Referrals.aspx">
      <screen id="8_1" version="1" screen_code="AARREFER" screen_type="0">
        <tab id="8_1_1" name="Referral Details" url="AARREFER/AARREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>