<screens>
  <screen id="1" version="1" screen_code="DOMCLM">
    <tab id="2" name="Claim Information" url="DOMCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="DOMTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="DOMTRAIL/DOMTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Building Underwriting Information" url="DOMCLM_Building_Underwriting_Information.aspx" />
    <tab id="4" name="Content Underwriting Information" url="DOMCLM_Content_Underwriting_Information.aspx" />
    <tab id="5" name="All Risks Underwriting Information" url="DOMCLM_All_Risks_Underwriting_Information.aspx">
      <screen id="5_1" version="1" screen_code="ARCHLDCLM" screen_type="0">
        <tab id="5_1_1" name="All Risk Details" url="ARCHLDCLM/ARCHLDCLM_All_Risk_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="PLIP Underwriting Information" url="DOMCLM_PLIP_Underwriting_Information.aspx" />
    <tab id="7" name="Machinery Breakdown Underwriting Information" url="DOMCLM_Machinery_Breakdown_Underwriting_Information.aspx" />
    <tab id="8" name="Third Party" url="DOMCLM_Third_Party.aspx">
      <screen id="8_1" version="1" screen_code="DOMTPRTY" screen_type="0">
        <tab id="8_1_1" name="Third Party Recoveries" url="DOMTPRTY/DOMTPRTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Claim Notes" url="DOMCLM_Claim_Notes.aspx">
      <screen id="9_1" version="1" screen_code="DOMCLMNOTE" screen_type="0">
        <tab id="9_1_1" name="Claims Internal Notes" url="DOMCLMNOTE/DOMCLMNOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="DOMCLEXNTE" screen_type="0">
        <tab id="9_2_1" name="Claims External Notes" url="DOMCLEXNTE/DOMCLEXNTE_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Perils" url="DOMCLM_Perils.aspx" />
  </screen>
</screens>