<screens>
  <screen id="1" version="1" screen_code="TSMR">
    <tab id="2" name="SME Bundles" url="TSMR_SME_Bundles.aspx">
      <screen id="2_1" version="1" screen_code="TSMRMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="TSMRMTA/TSMRMTA_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="TSMENDOS" screen_type="0">
        <tab id="2_2_1" name="Endorsement Premium" url="TSMENDOS/TSMENDOS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="TSMNOTES" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="TSMNOTES/TSMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="TSMSNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="TSMSNOTES/TSMSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>