<screens>
  <screen id="1" version="1" screen_code="TRUSTEECLM">
    <tab id="2" name="Claim Information" url="TRUSTEECLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="TRUSTTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="TRUSTTRAIL/TRUSTTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="TRUSTEECLM_Underwriting_Information.aspx" />
    <tab id="4" name="Extensions" url="TRUSTEECLM_Extensions.aspx" />
    <tab id="5" name="Third Party" url="TRUSTEECLM_Third_Party.aspx">
      <screen id="5_1" version="1" screen_code="TRSTTPARTY" screen_type="0">
        <tab id="5_1_1" name="Third Party Recoveries" url="TRSTTPARTY/TRSTTPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Assessment Details" url="TRUSTEECLM_Assessment_Details.aspx">
      <screen id="6_1" version="1" screen_code="TRSTASSESS" screen_type="0">
        <tab id="6_1_1" name="Details of Assessor" url="TRSTASSESS/TRSTASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="TRSTATTORN" screen_type="0">
        <tab id="6_2_1" name="Details of Attorneys" url="TRSTATTORN/TRSTATTORN_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="TRSTWITN" screen_type="0">
        <tab id="6_3_1" name="Details of Witnesses" url="TRSTWITN/TRSTWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Schedule Of Loss" url="TRUSTEECLM_Schedule_Of_Loss.aspx">
      <screen id="7_1" version="1" screen_code="TRSOWNDSCR" screen_type="0">
        <tab id="7_1_1" name="Own Damage Information" url="TRSOWNDSCR/TRSOWNDSCR_Own_Damage_Information.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="TRSTSLSCRN" screen_type="0">
        <tab id="7_2_1" name="Expenses Information" url="TRSTSLSCRN/TRSTSLSCRN_Expenses_Information.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="TRSTRCVRSC" screen_type="0">
        <tab id="7_3_1" name="Recovery" url="TRSTRCVRSC/TRSTRCVRSC_Recovery.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Perils" url="TRUSTEECLM_Perils.aspx" />
  </screen>
</screens>