<screens>
  <screen id="1" version="1" screen_code="CMADNOLIAB">
    <tab id="2" name="Risk Details" url="CMADNOLIAB_Risk_Details.aspx">
      <screen id="2_1" version="1" screen_code="DNOENDPREM" screen_type="0">
        <tab id="2_1_1" name="Endorsement Premium" url="DNOENDPREM/DNOENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="DNOLNOTE" screen_type="0">
        <tab id="2_2_1" name="Note Details" url="DNOLNOTE/DNOLNOTE_Note_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="DNOLSNOTE" screen_type="0">
        <tab id="2_3_1" name="Note Details" url="DNOLSNOTE/DNOLSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>