<screens>
  <screen id="1" version="1" screen_code="CCAMBCL">
    <tab id="2" name="Risk Selection" url="CCAMBCL_Risk_Selection.aspx">
      <screen id="2_1" version="1" screen_code="CCAMBCLMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CCAMBCLMTA/CCAMBCLMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Machinery Breakdown" url="CCAMBCL_Machinery_Breakdown.aspx">
      <screen id="3_1" version="1" screen_code="MBITMS" screen_type="0">
        <tab id="3_1_1" name="Machinery Breakdown Item Details" url="MBITMS/MBITMS_Machinery_Breakdown_Item_Details.aspx">
          <screen id="3_1_1_1" version="1" screen_code="MBITMEP" screen_type="0">
            <tab id="3_1_1_1_1" name="Endorsement Premium" url="MBITMS/MBITMEP/MBITMEP_Endorsement_Premium.aspx" />
          </screen>
          <screen id="3_1_1_2" version="1" screen_code="MBITMNOT" screen_type="0">
            <tab id="3_1_1_2_1" name="Note Details" url="MBITMS/MBITMNOT/MBITMNOT_Note_Details.aspx" />
          </screen>
          <screen id="3_1_1_3" version="1" screen_code="MBITMSNOT" screen_type="0">
            <tab id="3_1_1_3_1" name="Note Details" url="MBITMS/MBITMSNOT/MBITMSNOT_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="3_2" version="1" screen_code="MBOEXT" screen_type="0">
        <tab id="3_2_1" name="Other Machinery Breakdown Extensions" url="MBOEXT/MBOEXT_Other_Machinery_Breakdown_Extensions.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="MBCFAP" screen_type="0">
        <tab id="3_3_1" name="First Amount Payable" url="MBCFAP/MBCFAP_First_Amount_Payable.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="MBENDPRE" screen_type="0">
        <tab id="3_4_1" name="Endorsement Premium" url="MBENDPRE/MBENDPRE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="MBNOTE" screen_type="0">
        <tab id="3_5_1" name="Machinery Breakdown Note Details" url="MBNOTE/MBNOTE_Machinery_Breakdown_Note_Details.aspx" />
      </screen>
      <screen id="3_6" version="1" screen_code="MBSNOTE" screen_type="0">
        <tab id="3_6_1" name="Note Details" url="MBSNOTE/MBSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Consequential Loss" url="CCAMBCL_Consequential_Loss.aspx">
      <screen id="4_1" version="1" screen_code="CLENDPRE" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="CLENDPRE/CLENDPRE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="CLNOTE" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="CLNOTE/CLNOTE_Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="CLSNOTE" screen_type="0">
        <tab id="4_3_1" name="Note Details" url="CLSNOTE/CLSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Deterioration of Stock" url="CCAMBCL_Deterioration_of_Stock.aspx">
      <screen id="5_1" version="1" screen_code="DSITMS" screen_type="0">
        <tab id="5_1_1" name="Deterioration of Stock Items Details" url="DSITMS/DSITMS_Deterioration_of_Stock_Items_Details.aspx">
          <screen id="5_1_1_1" version="1" screen_code="DSIENDPRE" screen_type="0">
            <tab id="5_1_1_1_1" name="Endorsement Premium" url="DSITMS/DSIENDPRE/DSIENDPRE_Endorsement_Premium.aspx" />
          </screen>
          <screen id="5_1_1_2" version="1" screen_code="DSINOTE" screen_type="0">
            <tab id="5_1_1_2_1" name="Note Details" url="DSITMS/DSINOTE/DSINOTE_Note_Details.aspx" />
          </screen>
          <screen id="5_1_1_3" version="1" screen_code="DSISNOTE" screen_type="0">
            <tab id="5_1_1_3_1" name="Note Details" url="DSITMS/DSISNOTE/DSISNOTE_Note_Details.aspx" />
          </screen>
        </tab>
      </screen>
      <screen id="5_2" version="1" screen_code="DSENDPRE" screen_type="0">
        <tab id="5_2_1" name="Endorsement Premium" url="DSENDPRE/DSENDPRE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="DSNOTE" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="DSNOTE/DSNOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="DSSNOTE" screen_type="0">
        <tab id="5_4_1" name="Note Details" url="DSSNOTE/DSSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Machinery Breakdown Overview" url="CCAMBCL_Machinery_Breakdown_Overview.aspx" />
    <tab id="7" name="Referrals" url="CCAMBCL_Referrals.aspx">
      <screen id="7_1" version="1" screen_code="MBCLREFER" screen_type="0">
        <tab id="7_1_1" name="Referral Details" url="MBCLREFER/MBCLREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>