<screens>
  <screen id="1" version="1" screen_code="TRUSTLIAB">
    <tab id="2" name="Cover Details" url="TRUSTLIAB_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="TRSTREASON" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="TRSTREASON/TRSTREASON_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="TRUSTRETR" screen_type="0">
        <tab id="2_2_1" name="Retrocession Details" url="TRUSTRETR/TRUSTRETR_Retrocession_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risk Details" url="TRUSTLIAB_Risk_Details.aspx" />
    <tab id="4" name="Extensions" url="TRUSTLIAB_Extensions.aspx" />
    <tab id="5" name="Endorsements" url="TRUSTLIAB_Endorsements.aspx" />
    <tab id="6" name="Notes" url="TRUSTLIAB_Notes.aspx">
      <screen id="6_1" version="1" screen_code="TRSTNOTES" screen_type="0">
        <tab id="6_1_1" name="Note Details" url="TRSTNOTES/TRSTNOTES_Note_Details.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="TSREXNOTES" screen_type="0">
        <tab id="6_2_1" name="Subjectivities Details" url="TSREXNOTES/TSREXNOTES_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>