<screens><screen version="1" screen_type="0" screen_code="fire" id="73"><tab name="Premises Insured" url="FIRE_PREMISESINSURED.aspx" id="fire_premisesinsured" /><tab name="Risk Selection" url="FIRE_RISKSELECTION.aspx" id="fire_riskselection" /><tab name="Fire - Rates" url="FIRE_FIRERATES.aspx" id="fire_firerates" /><tab name="Fire - Fire F1" url="FIRE_FIREFIREF.aspx" id="fire_firefiref"><screen version="1" screen_type="0" screen_code="bldgsp" id="fire__ipf"><tab name="1 - General" url="Child/BLDGSP_GENERAL.aspx" id="bldgsp_general" /></screen></tab><tab name="Fire - Fire F2" url="FIRE_FIREFIREFX.aspx" id="fire_firefirefx" /><tab name="Office Contents 1" url="FIRE_OFFICECONTENTS.aspx" id="fire_officecontents" /><tab name="Office Contents 2" url="FIRE_OFFICECONTENTSX.aspx" id="fire_officecontentsx" /><tab name="Overview" url="FIRE_OVERVIEW.aspx" id="fire_overview" /></screen></screens>