<screens>
  <screen id="1" version="1" screen_code="CMALIAB">
    <tab id="2" name="Fare Paying Passengers" url="CMALIAB_Fare_Paying_Passengers.aspx">
      <screen id="2_1" version="1" screen_code="CMALIABMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMALIABMTA/CMALIABMTA_MTA_Reason_Details.aspx" />
      </screen>
      <screen id="2_2" version="1" screen_code="VEH_ITEMS" screen_type="0">
        <tab id="2_2_1" name="Vehicle Details" url="VEH_ITEMS/VEH_ITEMS_Vehicle_Details.aspx" />
      </screen>
      <screen id="2_3" version="1" screen_code="FPPENORSE" screen_type="0">
        <tab id="2_3_1" name="Endorsement Premium" url="FPPENORSE/FPPENORSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="2_4" version="1" screen_code="FPPCNOTES" screen_type="0">
        <tab id="2_4_1" name="Note Details" url="FPPCNOTES/FPPCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="2_5" version="1" screen_code="FPPSNOTES" screen_type="0">
        <tab id="2_5_1" name="Note Details" url="FPPSNOTES/FPPSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Referrals" url="CMALIAB_Referrals.aspx">
      <screen id="3_1" version="1" screen_code="LIABREFER" screen_type="0">
        <tab id="3_1_1" name="Referral Details" url="LIABREFER/LIABREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>