<screens>
  <screen id="1" version="1" screen_code="CLMPERSACC">
    <tab id="2" name="General" url="CLMPERSACC_General.aspx">
      <screen id="2_1" version="1" screen_code="PSATRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="PSATRAIL/PSATRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="CLMPERSACC_Underwriting_Information.aspx">
      <screen id="3_1" version="1" screen_code="PERSCHCLM" screen_type="0">
        <tab id="3_1_1" name="Underwriting Information" url="PERSCHCLM/PERSCHCLM_Underwriting_Information.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Third Party" url="CLMPERSACC_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="PAPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="PAPARTY/PAPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Claims Notes" url="CLMPERSACC_Claims_Notes.aspx">
      <screen id="5_1" version="1" screen_code="PSNOTE" screen_type="0">
        <tab id="5_1_1" name="Claims Internal Notes" url="PSNOTE/PSNOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="CLMEXPA" screen_type="0">
        <tab id="5_2_1" name="Claims External Notes" url="CLMEXPA/CLMEXPA_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="CLMPERSACC_Perils.aspx" />
  </screen>
</screens>