<screens>
  <screen id="1" version="1" screen_code="GFIRECLM">
    <tab id="2" name="Claim Information" url="GFIRECLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="GFTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="GFTRAIL/GFTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Risk Selection" url="GFIRECLM_Risk_Selection.aspx">
      <screen id="3_1" version="1" screen_code="CBLCKSCRN" screen_type="0">
        <tab id="3_1_1" name="Blocked Risks" url="CBLCKSCRN/CBLCKSCRN_Blocked_Risks.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Fire" url="GFIRECLM_Fire.aspx">
      <screen id="4_1" version="1" screen_code="MLTCLMCHLD" screen_type="0">
        <tab id="4_1_1" name="Multiple Buildings" url="MLTCLMCHLD/MLTCLMCHLD_Multiple_Buildings.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="MSCCLMCHLD" screen_type="0">
        <tab id="4_2_1" name="Miscellaneous Item" url="MSCCLMCHLD/MSCCLMCHLD_Miscellaneous_Item.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="FCLMCHLD" screen_type="0">
        <tab id="4_3_1" name="First Amount Payable" url="FCLMCHLD/FCLMCHLD_First_Amount_Payable.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="VOLCLMCHLD" screen_type="0">
        <tab id="4_4_1" name="Voluntary Excess" url="VOLCLMCHLD/VOLCLMCHLD_Voluntary_Excess.aspx" />
      </screen>
      <screen id="4_5" version="1" screen_code="GEYCLMCHLD" screen_type="0">
        <tab id="4_5_1" name="Geyser Extension" url="GEYCLMCHLD/GEYCLMCHLD_Geyser_Extension.aspx" />
      </screen>
      <screen id="4_6" version="1" screen_code="FICLNDPREM" screen_type="0">
        <tab id="4_6_1" name="Endorsement Premium" url="FICLNDPREM/FICLNDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_7" version="1" screen_code="FICLMNOTES" screen_type="0">
        <tab id="4_7_1" name="Note Details" url="FICLMNOTES/FICLMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_8" version="1" screen_code="FICLMSNOTE" screen_type="0">
        <tab id="4_8_1" name="Note Details" url="FICLMSNOTE/FICLMSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Buildings Combined" url="GFIRECLM_Buildings_Combined.aspx">
      <screen id="5_1" version="1" screen_code="CBCMISCCHD" screen_type="0">
        <tab id="5_1_1" name="Miscellaneous Item" url="CBCMISCCHD/CBCMISCCHD_Miscellaneous_Item.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="CBCFAPCHLD" screen_type="0">
        <tab id="5_2_1" name="First Amount Payable" url="CBCFAPCHLD/CBCFAPCHLD_First_Amount_Payable.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="CBCVAPCHLD" screen_type="0">
        <tab id="5_3_1" name="Voluntary Excess" url="CBCVAPCHLD/CBCVAPCHLD_Voluntary_Excess.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="CBCGEYSRCD" screen_type="0">
        <tab id="5_4_1" name="Geyser Extension" url="CBCGEYSRCD/CBCGEYSRCD_Geyser_Extension.aspx" />
      </screen>
      <screen id="5_5" version="1" screen_code="CBCENDPREM" screen_type="0">
        <tab id="5_5_1" name="Endorsement Premium" url="CBCENDPREM/CBCENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_6" version="1" screen_code="CBCNOTES" screen_type="0">
        <tab id="5_6_1" name="Note Details" url="CBCNOTES/CBCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_7" version="1" screen_code="CBCSNOTES" screen_type="0">
        <tab id="5_7_1" name="Note Details" url="CBCSNOTES/CBCSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Office Contents" url="GFIRECLM_Office_Contents.aspx">
      <screen id="6_1" version="1" screen_code="COCENDPREM" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="COCENDPREM/COCENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="COCNOTES" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="COCNOTES/COCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="COCSNOTES" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="COCSNOTES/COCSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Business Interruption" url="GFIRECLM_Business_Interruption.aspx">
      <screen id="7_1" version="1" screen_code="CSPECSUP" screen_type="0">
        <tab id="7_1_1" name="Specified Supplier" url="CSPECSUP/CSPECSUP_Specified_Supplier.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="CSPECUS" screen_type="0">
        <tab id="7_2_1" name="Specified Customer" url="CSPECUS/CSPECUS_Specified_Customer.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="CIENDPREM" screen_type="0">
        <tab id="7_3_1" name="Endorsement Premium" url="CIENDPREM/CIENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_4" version="1" screen_code="CBINOTES" screen_type="0">
        <tab id="7_4_1" name="Note Details" url="CBINOTES/CBINOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_5" version="1" screen_code="CBISNOTES" screen_type="0">
        <tab id="7_5_1" name="Note Details" url="CBISNOTES/CBISNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Accounts Receivable" url="GFIRECLM_Accounts_Receivable.aspx">
      <screen id="8_1" version="1" screen_code="CARENDPREM" screen_type="0">
        <tab id="8_1_1" name="Endorsement Premium" url="CARENDPREM/CARENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="CARNOTES" screen_type="0">
        <tab id="8_2_1" name="Note Details" url="CARNOTES/CARNOTES_Note_Details.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="CARSNOTES" screen_type="0">
        <tab id="8_3_1" name="Note Details" url="CARSNOTES/CARSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Accidental Damage" url="GFIRECLM_Accidental_Damage.aspx">
      <screen id="9_1" version="1" screen_code="CADENDPREM" screen_type="0">
        <tab id="9_1_1" name="Endorsement Premium" url="CADENDPREM/CADENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="ADCLMNOTES" screen_type="0">
        <tab id="9_2_1" name="Note Details" url="ADCLMNOTES/ADCLMNOTES_Note_Details.aspx" />
      </screen>
      <screen id="9_3" version="1" screen_code="ADCLMSNOTE" screen_type="0">
        <tab id="9_3_1" name="Note Details" url="ADCLMSNOTE/ADCLMSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Third Party" url="GFIRECLM_Third_Party.aspx">
      <screen id="10_1" version="1" screen_code="CGFITHPRTY" screen_type="0">
        <tab id="10_1_1" name="Third Party Recoveries" url="CGFITHPRTY/CGFITHPRTY_Third_Party_Recoveries.aspx" />
      </screen>
      <screen id="10_2" version="1" screen_code="CGFIWTN" screen_type="0">
        <tab id="10_2_1" name="Witness" url="CGFIWTN/CGFIWTN_Witness.aspx" />
      </screen>
      <screen id="10_3" version="1" screen_code="CGFIATT" screen_type="0">
        <tab id="10_3_1" name="Attorney" url="CGFIATT/CGFIATT_Attorney.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Notes" url="GFIRECLM_Notes.aspx">
      <screen id="11_1" version="1" screen_code="CGFINCLM" screen_type="0">
        <tab id="11_1_1" name="Claims Internal Notes" url="CGFINCLM/CGFINCLM_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="11_2" version="1" screen_code="CGFISNCLM" screen_type="0">
        <tab id="11_2_1" name="Claims External Notes" url="CGFISNCLM/CGFISNCLM_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="12" name="Perils" url="GFIRECLM_Perils.aspx" />
  </screen>
</screens>