<screens>
  <screen id="1" version="1" screen_code="CMALIAB">
    <tab id="2" name="Risk Selection" url="CMALIAB_Risk_Selection.aspx">
      <screen id="2_1" version="1" screen_code="CMALIABMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="CMALIABMTA/CMALIABMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Cyber Insurance" url="CMALIAB_Cyber_Insurance.aspx">
      <screen id="3_1" version="1" screen_code="CYBRENDORS" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="CYBRENDORS/CYBRENDORS_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="CYBRNOTE" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="CYBRNOTE/CYBRNOTE_Note_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="CYBRSNOTE" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="CYBRSNOTE/CYBRSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Employers Liability" url="CMALIAB_Employers_Liability.aspx">
      <screen id="4_1" version="1" screen_code="ELENDOR" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="ELENDOR/ELENDOR_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="ELNNOTES" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="ELNNOTES/ELNNOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="ELPNOTES" screen_type="0">
        <tab id="4_3_1" name="Note Details" url="ELPNOTES/ELPNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Combined Liability" url="CMALIAB_Combined_Liability.aspx">
      <screen id="5_1" version="1" screen_code="PL_PREM" screen_type="0">
        <tab id="5_1_1" name="Endorsement Premium" url="PL_PREM/PL_PREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="CLCNOTE" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="CLCNOTE/CLCNOTE_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="CLSCNOTE" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="CLSCNOTE/CLSCNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Combined Liability - Defective Workmanship" url="CMALIAB_Combined_Liability__Defective_Workmanship.aspx">
      <screen id="6_1" version="1" screen_code="DP_PREM" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="DP_PREM/DP_PREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="DW_CNOTE" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="DW_CNOTE/DW_CNOTE_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="DW_SNOTE" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="DW_SNOTE/DW_SNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Directors and Officers" url="CMALIAB_Directors_and_Officers.aspx">
      <screen id="7_1" version="1" screen_code="CMADNOEP" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="CMADNOEP/CMADNOEP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="CMDNONOTE" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="CMDNONOTE/CMDNONOTE_Note_Details.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="CMDNOSNOTE" screen_type="0">
        <tab id="7_3_1" name="Note Details" url="CMDNOSNOTE/CMDNOSNOTE_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Public Liability" url="CMALIAB_Public_Liability.aspx">
      <screen id="8_1" version="1" screen_code="MULTIPREM" screen_type="0">
        <tab id="8_1_1" name="Multiple Premises Details" url="MULTIPREM/MULTIPREM_Multiple_Premises_Details.aspx" />
      </screen>
      <screen id="8_2" version="1" screen_code="PUBPREM" screen_type="0">
        <tab id="8_2_1" name="Endorsement Premium" url="PUBPREM/PUBPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="8_3" version="1" screen_code="PUBNOTES" screen_type="0">
        <tab id="8_3_1" name="Note Details" url="PUBNOTES/PUBNOTES_Note_Details.aspx" />
      </screen>
      <screen id="8_4" version="1" screen_code="PUBSNOTES" screen_type="0">
        <tab id="8_4_1" name="Note Details" url="PUBSNOTES/PUBSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Pub Liab - Defective Workmanship" url="CMALIAB_Pub_Liab__Defective_Workmanship.aspx">
      <screen id="9_1" version="1" screen_code="PDWENDPREM" screen_type="0">
        <tab id="9_1_1" name="Endorsement Premium" url="PDWENDPREM/PDWENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="PDWNOTES" screen_type="0">
        <tab id="9_2_1" name="Note Details" url="PDWNOTES/PDWNOTES_Note_Details.aspx" />
      </screen>
      <screen id="9_3" version="1" screen_code="PDWSNOTES" screen_type="0">
        <tab id="9_3_1" name="Note Details" url="PDWSNOTES/PDWSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Pub Liab - Products Liability" url="CMALIAB_Pub_Liab__Products_Liability.aspx">
      <screen id="10_1" version="1" screen_code="TPRENDPREM" screen_type="0">
        <tab id="10_1_1" name="Endorsement Premium" url="TPRENDPREM/TPRENDPREM_Endorsement_Premium.aspx" />
      </screen>
      <screen id="10_2" version="1" screen_code="CLPDNOTES" screen_type="0">
        <tab id="10_2_1" name="Note Details" url="CLPDNOTES/CLPDNOTES_Note_Details.aspx" />
      </screen>
      <screen id="10_3" version="1" screen_code="CLPDSNOTES" screen_type="0">
        <tab id="10_3_1" name="Note Details" url="CLPDSNOTES/CLPDSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Fare Paying Passengers" url="CMALIAB_Fare_Paying_Passengers.aspx">
      <screen id="11_1" version="1" screen_code="VEH_ITEMS" screen_type="0">
        <tab id="11_1_1" name="Vehicle Details" url="VEH_ITEMS/VEH_ITEMS_Vehicle_Details.aspx" />
      </screen>
      <screen id="11_2" version="1" screen_code="FPPENORSE" screen_type="0">
        <tab id="11_2_1" name="Endorsement Premium" url="FPPENORSE/FPPENORSE_Endorsement_Premium.aspx" />
      </screen>
      <screen id="11_3" version="1" screen_code="FPPCNOTES" screen_type="0">
        <tab id="11_3_1" name="Note Details" url="FPPCNOTES/FPPCNOTES_Note_Details.aspx" />
      </screen>
      <screen id="11_4" version="1" screen_code="FPPSNOTES" screen_type="0">
        <tab id="11_4_1" name="Note Details" url="FPPSNOTES/FPPSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="12" name="Referrals" url="CMALIAB_Referrals.aspx">
      <screen id="12_1" version="1" screen_code="LIABREFER" screen_type="0">
        <tab id="12_1_1" name="Referral Details" url="LIABREFER/LIABREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>