<screens>
  <screen id="1" version="1" screen_code="CWORKCLM">
    <tab id="2" name="Claim Information" url="CWORKCLM_Claim_Information.aspx">
      <screen id="2_1" version="1" screen_code="CWORKRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="CWORKRAIL/CWORKRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="CWORKCLM_Underwriting_Information.aspx" />
    <tab id="4" name="Contact Works" url="CWORKCLM_Contact_Works.aspx">
      <screen id="4_1" version="1" screen_code="CTESTCLM" screen_type="0">
        <tab id="4_1_1" name="Testing Period" url="CTESTCLM/CTESTCLM_Testing_Period.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Risks" url="CWORKCLM_Risks.aspx" />
    <tab id="6" name="Value Band Deductibles" url="CWORKCLM_Value_Band_Deductibles.aspx">
      <screen id="6_1" version="1" screen_code="DEDECLM" screen_type="0">
        <tab id="6_1_1" name="Contract Value Bands" url="DEDECLM/DEDECLM_Contract_Value_Bands.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Non Band Deductibles" url="CWORKCLM_Non_Band_Deductibles.aspx">
      <screen id="7_1" version="1" screen_code="NONDEDCLM" screen_type="0">
        <tab id="7_1_1" name="Non Deductibles" url="NONDEDCLM/NONDEDCLM_Non_Deductibles.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Extensions" url="CWORKCLM_Extensions.aspx">
      <screen id="8_1" version="1" screen_code="OEXTLIMCLM" screen_type="0">
        <tab id="8_1_1" name="Other Extensions-Limitations" url="OEXTLIMCLM/OEXTLIMCLM_Other_ExtensionsLimitations.aspx" />
      </screen>
    </tab>
    <tab id="9" name="Construction Pubic Liability" url="CWORKCLM_Construction_Pubic_Liability.aspx">
      <screen id="9_1" version="1" screen_code="ADDCPLCLM" screen_type="0">
        <tab id="9_1_1" name="Additional Deductibles" url="ADDCPLCLM/ADDCPLCLM_Additional_Deductibles.aspx" />
      </screen>
      <screen id="9_2" version="1" screen_code="OTHRCPLCLM" screen_type="0">
        <tab id="9_2_1" name="Other Extensions" url="OTHRCPLCLM/OTHRCPLCLM_Other_Extensions.aspx" />
      </screen>
    </tab>
    <tab id="10" name="Third Party" url="CWORKCLM_Third_Party.aspx">
      <screen id="10_1" version="1" screen_code="CWORKPRTY" screen_type="0">
        <tab id="10_1_1" name="Third Party Recoveries" url="CWORKPRTY/CWORKPRTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="11" name="Assessment Details" url="CWORKCLM_Assessment_Details.aspx">
      <screen id="11_1" version="1" screen_code="WORKASSESS" screen_type="0">
        <tab id="11_1_1" name="Details of Assessor" url="WORKASSESS/WORKASSESS_Details_of_Assessor.aspx" />
      </screen>
      <screen id="11_2" version="1" screen_code="WORKATTORN" screen_type="0">
        <tab id="11_2_1" name="Details of Attorneys" url="WORKATTORN/WORKATTORN_Details_of_Attorneys.aspx" />
      </screen>
      <screen id="11_3" version="1" screen_code="WORKWITN" screen_type="0">
        <tab id="11_3_1" name="Details of Witnesses" url="WORKWITN/WORKWITN_Details_of_Witnesses.aspx" />
      </screen>
    </tab>
    <tab id="12" name="Perils" url="CWORKCLM_Perils.aspx" />
  </screen>
</screens>