<screens>
  <screen id="1" version="1" screen_code="VAPCLAIM">
    <tab id="2" name="General" url="VAPCLAIM_General.aspx">
      <screen id="2_1" version="1" screen_code="VAPTRAIL" screen_type="0">
        <tab id="2_1_1" name="Audit Trail" url="VAPTRAIL/VAPTRAIL_Audit_Trail.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Underwriting Information" url="VAPCLAIM_Underwriting_Information.aspx" />
    <tab id="4" name="Third Party" url="VAPCLAIM_Third_Party.aspx">
      <screen id="4_1" version="1" screen_code="VAPPARTY" screen_type="0">
        <tab id="4_1_1" name="Third Party Recoveries" url="VAPPARTY/VAPPARTY_Third_Party_Recoveries.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Claims Notes" url="VAPCLAIM_Claims_Notes.aspx">
      <screen id="5_1" version="1" screen_code="VAPNOTE" screen_type="0">
        <tab id="5_1_1" name="Claims Internal Notes" url="VAPNOTE/VAPNOTE_Claims_Internal_Notes.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="VAPEXPA" screen_type="0">
        <tab id="5_2_1" name="Claims External Notes" url="VAPEXPA/VAPEXPA_Claims_External_Notes.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Perils" url="VAPCLAIM_Perils.aspx" />
  </screen>
</screens>