<screens>
  <screen id="1" version="1" screen_code="TOPUMOTRSK">
    <tab id="2" name="Cover Details" url="TOPUMOTRSK_Cover_Details.aspx">
      <screen id="2_1" version="1" screen_code="TOPMOTMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="TOPMOTMTA/TOPMOTMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Top Up Motor" url="TOPUMOTRSK_Top_Up_Motor.aspx" />
    <tab id="4" name="Endorsements" url="TOPUMOTRSK_Endorsements.aspx">
      <screen id="4_1" version="1" screen_code="ENDPREM" screen_type="0">
        <tab id="4_1_1" name="Premium Endorsements" url="ENDPREM/ENDPREM_Premium_Endorsements.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Notes" url="TOPUMOTRSK_Notes.aspx">
      <screen id="5_1" version="1" screen_code="TOPNOTES" screen_type="0">
        <tab id="5_1_1" name="Note Details" url="TOPNOTES/TOPNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="TOPEXNOTE" screen_type="0">
        <tab id="5_2_1" name="Subjectivities Details" url="TOPEXNOTE/TOPEXNOTE_Subjectivities_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>