<screens>
  <screen id="1" version="1" screen_code="MOCAR">
    <tab id="2" name="Risk Coverage" url="MOCAR_Risk_Coverage.aspx" />
    <tab id="3" name="Sub Section A Imports" url="MOCAR_Sub_Section_A_Imports.aspx">
      <screen id="3_1" version="1" screen_code="CARABMI" screen_type="0">
        <tab id="3_1_1" name="Subject Matter Inclusion" url="CARABMI/CARABMI_Subject_Matter_Inclusion.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="CARABV" screen_type="0">
        <tab id="3_2_1" name="Basis of Valuations" url="CARABV/CARABV_Basis_of_Valuations.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="CARACVBV" screen_type="0">
        <tab id="3_3_1" name="Cross Voyages - Basis of Valuations" url="CARACVBV/CARACVBV_Cross_Voyages__Basis_of_Valuations.aspx" />
      </screen>
      <screen id="3_4" version="1" screen_code="CARAENDP" screen_type="0">
        <tab id="3_4_1" name="Endorsement Premium" url="CARAENDP/CARAENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_5" version="1" screen_code="CARANP" screen_type="0">
        <tab id="3_5_1" name="Note Details" url="CARANP/CARANP_Note_Details.aspx" />
      </screen>
      <screen id="3_6" version="1" screen_code="CARAPN" screen_type="0">
        <tab id="3_6_1" name="Note Details" url="CARAPN/CARAPN_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Sub Section B Exports" url="MOCAR_Sub_Section_B_Exports.aspx">
      <screen id="4_1" version="1" screen_code="CARBBMI" screen_type="0">
        <tab id="4_1_1" name="Subject Matter Inclusion" url="CARBBMI/CARBBMI_Subject_Matter_Inclusion.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="CARBBV" screen_type="0">
        <tab id="4_2_1" name="Basis of Valuations" url="CARBBV/CARBBV_Basis_of_Valuations.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="CARBENDP" screen_type="0">
        <tab id="4_3_1" name="Endorsement Premium" url="CARBENDP/CARBENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_4" version="1" screen_code="CARBNP" screen_type="0">
        <tab id="4_4_1" name="Note Details" url="CARBNP/CARBNP_Note_Details.aspx" />
      </screen>
      <screen id="4_5" version="1" screen_code="CARBPN" screen_type="0">
        <tab id="4_5_1" name="Note Details" url="CARBPN/CARBPN_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Sub Section C Inland Transit" url="MOCAR_Sub_Section_C_Inland_Transit.aspx">
      <screen id="5_1" version="1" screen_code="CARCBMI" screen_type="0">
        <tab id="5_1_1" name="Subject Matter Inclusion" url="CARCBMI/CARCBMI_Subject_Matter_Inclusion.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="CARCBV" screen_type="0">
        <tab id="5_2_1" name="Basis of Valuations" url="CARCBV/CARCBV_Basis_of_Valuations.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="CARCCBV" screen_type="0">
        <tab id="5_3_1" name="Basis of Valuations" url="CARCCBV/CARCCBV_Basis_of_Valuations.aspx" />
      </screen>
      <screen id="5_4" version="1" screen_code="CARCENDP" screen_type="0">
        <tab id="5_4_1" name="Endorsement Premium" url="CARCENDP/CARCENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_5" version="1" screen_code="CARCNP" screen_type="0">
        <tab id="5_5_1" name="Note Details" url="CARCNP/CARCNP_Note_Details.aspx" />
      </screen>
      <screen id="5_6" version="1" screen_code="CARCPN" screen_type="0">
        <tab id="5_6_1" name="Note Details" url="CARCPN/CARCPN_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Sub Section D Container" url="MOCAR_Sub_Section_D_Container.aspx">
      <screen id="6_1" version="1" screen_code="CARDBV" screen_type="0">
        <tab id="6_1_1" name="Basis of Valuations" url="CARDBV/CARDBV_Basis_of_Valuations.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="CARDEXCES" screen_type="0">
        <tab id="6_2_1" name="Excesses" url="CARDEXCES/CARDEXCES_Excesses.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="CARDENDP" screen_type="0">
        <tab id="6_3_1" name="Endorsement Premium" url="CARDENDP/CARDENDP_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_4" version="1" screen_code="CARDNP" screen_type="0">
        <tab id="6_4_1" name="Note Details" url="CARDNP/CARDNP_Note_Details.aspx" />
      </screen>
      <screen id="6_5" version="1" screen_code="CARDPN" screen_type="0">
        <tab id="6_5_1" name="Note Details" url="CARDPN/CARDPN_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Extentions" url="MOCAR_Extentions.aspx">
      <screen id="7_1" version="1" screen_code="MOSTCKSTRG" screen_type="0">
        <tab id="7_1_1" name="Stock Storage" url="MOSTCKSTRG/MOSTCKSTRG_Stock_Storage.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Overview" url="MOCAR_Overview.aspx" />
  </screen>
</screens>