<screens>
  <screen id="1" version="1" screen_code="BONDCONRSK">
    <tab id="2" name="Risk Details" url="BONDCONRSK_Risk_Details.aspx">
      <screen id="2_1" version="1" screen_code="HNCGMTA" screen_type="0">
        <tab id="2_1_1" name="MTA Reason Details" url="HNCGMTA/HNCGMTA_MTA_Reason_Details.aspx" />
      </screen>
    </tab>
    <tab id="3" name="Advance Payment Guarantees" url="BONDCONRSK_Advance_Payment_Guarantees.aspx">
      <screen id="3_1" version="1" screen_code="APGENDO" screen_type="0">
        <tab id="3_1_1" name="Endorsement Premium" url="APGENDO/APGENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="3_2" version="1" screen_code="APGNOTES" screen_type="0">
        <tab id="3_2_1" name="Note Details" url="APGNOTES/APGNOTES_Note_Details.aspx" />
      </screen>
      <screen id="3_3" version="1" screen_code="APGSNOTES" screen_type="0">
        <tab id="3_3_1" name="Note Details" url="APGSNOTES/APGSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="4" name="Bid Bonds" url="BONDCONRSK_Bid_Bonds.aspx">
      <screen id="4_1" version="1" screen_code="BIDENDO" screen_type="0">
        <tab id="4_1_1" name="Endorsement Premium" url="BIDENDO/BIDENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="4_2" version="1" screen_code="BIDNOTES" screen_type="0">
        <tab id="4_2_1" name="Note Details" url="BIDNOTES/BIDNOTES_Note_Details.aspx" />
      </screen>
      <screen id="4_3" version="1" screen_code="BIDSNOTES" screen_type="0">
        <tab id="4_3_1" name="Note Details" url="BIDSNOTES/BIDSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="5" name="Material Guarantees" url="BONDCONRSK_Material_Guarantees.aspx">
      <screen id="5_1" version="1" screen_code="MATENDO" screen_type="0">
        <tab id="5_1_1" name="Endorsement Premium" url="MATENDO/MATENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="5_2" version="1" screen_code="MATNOTES" screen_type="0">
        <tab id="5_2_1" name="Note Details" url="MATNOTES/MATNOTES_Note_Details.aspx" />
      </screen>
      <screen id="5_3" version="1" screen_code="MATSNOTES" screen_type="0">
        <tab id="5_3_1" name="Note Details" url="MATSNOTES/MATSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="6" name="Performance Guarantees" url="BONDCONRSK_Performance_Guarantees.aspx">
      <screen id="6_1" version="1" screen_code="PEFENDO" screen_type="0">
        <tab id="6_1_1" name="Endorsement Premium" url="PEFENDO/PEFENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="6_2" version="1" screen_code="PEFNOTES" screen_type="0">
        <tab id="6_2_1" name="Note Details" url="PEFNOTES/PEFNOTES_Note_Details.aspx" />
      </screen>
      <screen id="6_3" version="1" screen_code="PEFSNOTES" screen_type="0">
        <tab id="6_3_1" name="Note Details" url="PEFSNOTES/PEFSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="7" name="Retention Bonds" url="BONDCONRSK_Retention_Bonds.aspx">
      <screen id="7_1" version="1" screen_code="RETENDO" screen_type="0">
        <tab id="7_1_1" name="Endorsement Premium" url="RETENDO/RETENDO_Endorsement_Premium.aspx" />
      </screen>
      <screen id="7_2" version="1" screen_code="RETNOTES" screen_type="0">
        <tab id="7_2_1" name="Note Details" url="RETNOTES/RETNOTES_Note_Details.aspx" />
      </screen>
      <screen id="7_3" version="1" screen_code="RETSNOTES" screen_type="0">
        <tab id="7_3_1" name="Note Details" url="RETSNOTES/RETSNOTES_Note_Details.aspx" />
      </screen>
    </tab>
    <tab id="8" name="Referrals" url="BONDCONRSK_Referrals.aspx">
      <screen id="8_1" version="1" screen_code="BCREFER" screen_type="0">
        <tab id="8_1_1" name="Referral Details" url="BCREFER/BCREFER_Referral_Details.aspx" />
      </screen>
    </tab>
  </screen>
</screens>